<div id="advert_module">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">我的应用</h3>
        </div>

        <div class="panel-body">


            <ul class="app-list-inline app-nav">
                <li class="active">请选择产品大类</li>
                <li>请选择产品大类</li>
                <li>请选择产品大类</li>
                <li>请选择产品大类</li>
            </ul>

            <ul class="app-list-inline app-content">
                <li>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                    <div>数据中心交换机</div>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>







        </div>




    </div>



</div>