/**
 * Created by liuyanping on 2016/10/24
 */
body {
  background: #eeeeee;
  font-family: "Microsoft YaHei";
  overflow: hidden;
}
ul,
ul li {
  list-style: none;
}
.l-header {
  height: 50px;
  background-color: #4e4e4e;
  width: 100%;
}
.l-header .l-header-img {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.l-header .l-home {
  color: #ffffff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-right: 30px;
  cursor: pointer;
  float: right;
}
.l-second-header {
  margin-left: 220px;
  padding: 0 30px;
  height: 38px;
  line-height: 38px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.l-second-header .l-header-time {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  float: right;
}
.l-second-header .l-header-time > input {
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
}
.l-left {
  position: fixed;
  top: 50px;
  z-index: 1;
  height: 100%;
  width: 220px;
  background-color: #32c2cd;
  overflow-y: auto;
  overflow-x: hidden;
}
.l-right {
  margin-top: 2px;
  padding: 20px 0 30px 0;
  overflow: auto;
  margin-left: 220px;
  background: #eeeeee;
  height: 100%;
}
.l-first {
  font-size: 14px;
  color: #ffffff;
  padding: 0;
}
.l-first > li {
  border-bottom: 1px solid #22878E;
}
.l-first > li > div {
  height: 36px;
  padding: 8px 0 8px 15px;
  cursor: pointer;
  /*i:last-child{
      &.l-open{
        display: inline-block;
        height: 8px;
        width: 8px;
        background: url("../images/icon-jian.png");
        float: right;
        margin-right: 12px;
        margin-top: 15px;
      }
      &.l-close{
        display: inline-block;
        height: 8px;
        width: 8px;
        background: url("../images/icon-jia.png");
        float: right;
        margin-right: 12px;
        margin-top: 15px;
      }
    }*/
  /*&:hover,&.active{
      color: @menu-hover-active-color;
      border-right: 4px solid @menu-hover-active-color;
      .l-dashboard{
        background-position: 0 -22px;
      }
      .l-tijian{
        background-position: -22px -22px;
      }
      .l-hotmap{
        background-position: -44px -22px;
      }
      .l-wiresecurit{
        background-position: -66px -22px;
      }
      .l-warning{
        background-position: -88px -22px;
      }
    }*/
}
.l-first > li > div i {
  display: inline-block;
  opacity: .5;
  width: 1.25em;
  height: 12px;
  margin-right: 10px;
  background: url("../images/sprite.png") no-repeat;
}
.l-first > li > div i.l-dashboard {
  background-position: 0 0;
}
.l-first > li > div i.l-tijian {
  background-position: -22px 0;
}
.l-first > li > div i.l-hotmap {
  background-position: -44px 0;
}
.l-first > li > div i.l-wiresecurit {
  background-position: -66px 0;
}
.l-first > li > div i.l-warning {
  background-position: -88px 0;
}
.l-first > li > div .l-number {
  display: inline-block;
  background-color: #2E8B57;
  margin: 0 22px 0 0;
  float: right;
  padding: 2px 8px 3px;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}
.l-first > li > div:hover,
.l-first > li > div.active {
  background-color: #2E8B57;
  color: #eeeeee;
}
.l-second {
  background-color: #22878E;
  font-size: 13px;
  color: #ffffff;
  padding: 0;
}
.l-second > li {
  height: 36px;
  line-height: 36px;
  padding-left: 44px;
  cursor: pointer;
  /*> i{
      display: inline-block;
      height: 8px;
      width: 7px;
      margin-right: 10px;
    }*/
}
.l-second > li.active {
  background-color: #eeeeee;
  color: #777777;
  /*i{
        background: url("../images/icon-choose.png");
      }*/
}
.l-second > li:hover {
  background-color: #2E8B57;
  color: #eeeeee;
}
.app-colum .app-box {
  border: 1px solid #e7e7e9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
@media (max-width: 768px) {
  .l-left {
    display: none;
  }
  .l-right {
    margin-left: 0;
  }
  .l-second-header {
    margin-left: 0;
  }
}
/*滚动条美化css 适合WebKit引擎的浏览器如chrome、oprea、Safari等*/
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}
::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.l-area-box {
  position: fixed;
  top: 88px;
  left: 220px;
  /*width: 300px;*/
  z-index: 999;
  background: #fff;
  border: 1px solid #c9c9cb;
  border-top: none;
  /*overflow: auto;*/
}
.l-area-box .l-area-ztree {
  overflow: auto;
  height: 100%;
}
.l-area-box .l-area-ztree-footer {
  background: #eee;
  padding: 10px;
}
