<style>
    .fl{
        margin-left:67px !important;
    }
    .fl2{
        margin-left:81px !important;
    }
    .hd{
        overflow: hidden !important;
    }
    .mp{
        margin-top: 5px !important;
    }
    .lh{
        line-height: 32px;
    }
</style>
<!-- 无线服务表格 -->
<div>
    <div class="panel panel-default">          
        <div class="panel-heading">
            <h3 class="panel-title">服务配置</h3>
        </div>
                   
        <div class="panel-body">
            <div class="btn btn-cus" ng-click="addTemplate()">
                <i class="btn-icon icon-add"></i>添加
            </div>
            <div class="btn btn-cus" ng-click="synConfig()">同步</div>
            <div bs-Table="serverTable"></div>
        </div>                      
        
    </div>
</div>
         
<!-- 已绑定AP组 -->
<div bs-modal="apGroupButtons.options">
   <div bs-Table="apGroupTable"></div>
</div> 
           
<!-- 已绑定ap -->
<div bs-modal="apButtons.options">
   <div bs-Table="apTable"></div>
</div> 

<!-- 增加无线服务modal -->
<form novalidate role="form" name="authForm" class="hd" ng-submit="submitForm(authForm.$valid)"  bs-modal="template.options">          
    <div class="form-group row">
        <label class="col-sm-3 control-label required lh">无线服务名称</label>
        <div>
            <input type="text" id="server" name="server" class="string big form-control " required 
            ng-model="authInfo.server" ng-minlength="1" ng-maxlength="63" ng-pattern='/^[a-zA-Z0-9]+$/'>
            <label class="info-explain">(1-63数字或英文字符)</label>

            <label ng-if="authForm.server.$error.required && authForm.server.$touched"  style="color:red">该参数必须配置</label>
            <label ng-if="authForm.server.$error.pattern && authForm.server.$dirty"  style="color:red">参数必须为数字或英文字符</label> 
            <label ng-if="authForm.server.$error.maxlength && authForm.server.$dirty"  style="color:red">参数长度超出限制</label>       
        </div>
    </div>
            
    <div class="form-group row">
        <label class="col-sm-3 control-label required lh">SSID</label>
        <div>
            <input type="text" name="SSID" class="string big form-control" required 
            ng-model="authInfo.SSID" ng-minlength="1" ng-maxlength="32" ng-pattern='/^[^&=\\?%]+$/' >
            <label class="info-explain">(1-32字符)</label>

            <label ng-if="authForm.SSID.$error.required && authForm.SSID.$touched"  style="color:red">该参数必须配置</label>
            <label ng-if="authForm.SSID.$error.maxlength && authForm.SSID.$dirty"  style="color:red">参数长度超出限制</label>
            <label ng-if="authForm.SSID.$error.pattern && authForm.SSID.$dirty"   style="color:red">参数不允许包含&=\?%特殊字符</label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">加密服务</label>  
        <div>                                   
            <input id="pwdOn" name="pwdState" type="radio" value="pwdOn" 
            ng-click="pwdOn()" ng-model="authInfo.pwdState">
            <label for="pwdOn">开启</label>

            <input id="pwdOff" class="fl" name="pwdState" type="radio" value="pwdOff"
            ng-click="pwdOff()" ng-model="authInfo.pwdState">  
            <label for="pwdOff">关闭</label>               
                          
            <div ng-if="pwd" ng-init="showPwd1=true" class="col-sm-offset-3">    
                <input type="password" name="password" class="string big" required
                ng-model="authInfo.pwd" ng-show="showPwd1" ng-pattern='/^[a-zA-Z0-9]{8,63}$/'
                ng-minlength="" ng-maxlength="32">

                <input type="text" name="text" class="string big" required
                ng-model="authInfo.pwd" ng-hide="showPwd1" ng-pattern='/^[a-zA-Z0-9]{8,63}$/'
                >

                <span class="icon_eye" ng-class="{show_word: !showPwd1}"  
                ng-click="showPwd1=!showPwd1"></span>                    
                
                <label ng-if="(authForm.password.$error.required && authForm.text.$error.required)&&(authForm.password.$touched|| authForm.text.$touched)"  style="color:red">该参数必须配置</label>
                
                <label ng-if="(authForm.password.$error.pattern && authForm.password.$dirty) ||(authForm.text.$error.pattern&&authForm.text.$dirty)"  style="color:red">密码长度或格式不符</label>
            
                <div>
                   <label class="info-explain">(说明：密码应由8～63位数字和（或）字母组成)</label>  
                </div>    
            </div>        
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">无线服务</label>  
        <div>                   
            <input id="wireless_open" name="wirelessServer" type="radio" value="wireless_open"
             ng-model="authInfo.wirelessServer">
            <label for="wireless_open">开启</label>

            <input id="wireless_closed" class="fl" name="wirelessServer" type="radio" value="wireless_closed" ng-model="authInfo.wirelessServer">  
            <label for="wireless_closed">关闭</label>                           
        </div>
    </div> 

    <div class="form-group row">
        <label class="col-sm-3 control-label">认证方式</label>  
        <div>                   
            <input id="auth_on" name="authType" type="radio" value="auth_on" 
            ng-model="authInfo.authType" ng-click="auth_on()">
            <label for="auth_on">认证</label>

            <input id="auth_off" class="fl" name="authType" type="radio" value="auth_off" 
            ng-model="authInfo.authType" ng-click="auth_off()">  
            <label for="auth_off">不认证</label>                           
        </div>
    </div> 



    <div ng-show="auth">
        <div class="form-group row">
            <label class="col-sm-3 control-label lh">选择认证模板</label> 
            <select id="authSelect" class="big"  ng-model="authInfo.authSelect" 
            ng-options="act for act in authCfgTemplates"></select>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label lh">选择页面模板</label> 
            <select id="pageSelect" class="big" ng-model="authInfo.pageSelect" 
            ng-options="act for act  in themeNames"></select>                                                
        </div>      
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">是否绑定无线服务</label>
        <div >                   
            <input type="radio" id="bindOn" name="bind" value="bindOn" 
             ng-model="authInfo.bind" ng-click="bindOn()">
            <label for="bindOn"> 是</label>          
            <input type="radio" id="bindOff" class="fl2" name="bind" value="bindOff"
             ng-model="authInfo.bind" ng-click="bindOff()">
            <label for="bindOff">否</label>                
        </div>  
    </div>



    <div class="form-group row">          
        <label class="col-sm-6 control-label" style="margin-left:15px;color:red">说明：创建成功后，请在设备侧进行相关配置，否则该无线服务无法生效</label>                 
    </div>

    <div align = "center">
        <button class="btn btn-cus" ng-disabled="authForm.$invalid" 
        ng-click="ssidUpdate()">确定</button>
    </div>
</form>                                               
 
<div id="serverConfig_rc" class="rc-define"
        CONFIG_HEADER="无线服务名称,SSID,认证方式,状态,绑定AP组数,绑定AP数"  
        BIND_APGROUP_HEADER="AP组名称,描述,Model数量"
        BIND_AP_HEADER="AP名称,AP序列号,Model型号,radio个数,所属AP组名称"     
        STATUS="开启,关闭" 
        MODAL_TITLE="添加无线服务,无线服务认证配置" 
		OPERAT="操作"
        AUTH_TYPE="不认证,一键登录,账号登录"
        SYN_SUC="同步成功"
        SYN_FAIL="同步失败，请稍后再试"
        SER_REPIT="该无线服务已存在,无法重复创建"  
        DEL_CON="确认删除该无线服务吗？"
		DEL_SUC="删除成功"
		DEL_FAIL="删除失败，请稍后再试"
		ADD_SUC="创建成功"
		ADD_FAIL="创建失败，请稍后再试"
		PUBLISH_FAIL="无线服务创建成功但认证失败，请手动修改认证"
        EDIT="编辑"
        BIND="绑定"
        REMOVE="删除"
        BIND_APGROUP_TITLE="已绑定AP组列表"
        BIND_AP_TITLE="已绑定AP列表"
        MAIN="主链接断开导致操作失败,请检查设备"
></div>