<div class="index-page-container"
     id="rc"
     GETMAP_FAILED="获取地图信息失败"
     DELETE_FAILED="删除地图失败"
     DELETE_SUCCESS="删除地图成功"
     DELETE_OR_CANCEL="确认要删除选中的数据吗？"
     MAP="地图名："
     EDIT="修改"
     DELETE="删除"
     GETMAP_INFO="获取图片失败"
     PICFAIL_INFO="图片失败"
        >
    <div class="row" style="width:100%;">
        <div class="text-center paging-contain">
            <div bs-pager="pagination" ng-model="page"></div>
            <!--<select class="home-page-size" ng-model="pageSize" title="page" style="border-color: #ccc !important;"
                    ng-options="p for p in [3, 6, 9, 12]" ng-show="total"></select>-->
        </div>
    </div>
</div>