<div class="lyp">
    <div class="p-footer container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="p-enter">
                    <div>场所总数</div>
                    <div class="p-big">107</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="p-enter">
                    <div>设备总数</div>
                    <div class="p-big">1098</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="p-enter">
                    <div>在线设备</div>
                    <div class="p-big">988</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="p-enter">
                    <div>在线人数</div>
                    <div class="p-big">10980</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="p-enter">
                    <div>网络状况</div>
                    <div class="p-big">优</div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-banner container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div dashboard-echarts="option_client" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    <div class="p-footer-enter container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="p-enter-box" ui-sref="oasis_demo.network">
                    我的网络
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-enter-box" ui-sref="oasis_demo.app">
                    我的应用
                </div>
            </div>
        </div>
    </div>
    <div class="p-new-project container-fluid">
        新应用简介
    </div>
</div>
