<div ng-init="
    onlineAp='在线AP数';
    offlineAp='离线AP数'
">
    <div class="col-xs-6 app-colum left-block">
        <!--<div class="page-row">-->
            <div class="app-box no-bk-color" style="height:300px;">
                <div class="box-footer ">
                    <div class="col-xs-3">
                        <span class="title">AP</span>
                    </div>
                    <div class="text-right link-container">
                        <a type="button" class="refresh" id="refresh_ssid" ng-click="refreshAP()">
                            <i class="refresh-icon icon"></i>
                        </a>
                    </div>
                </div>

                <span class="client-title online-ap">在线AP数</span>
                <span id="Current" class="client-count online-ap online-ap-num">{{apOnline}}</span>
                <span class="client-title total-ap">AP总数</span>
                <span id="totalAp" class="client-count  total-ap total-ap-num">{{apTotal}}</span>

                <div class="box-body echart-height form-group">
                    <div id="pie_aps" class="col-xs-12 myEchart" style="height:245px;"></div>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>
