<div>
    <div class="panel-body">
            <div class="btn btn-cus" ng-click="refresh()">
                <span class="glyphicon glyphicon-refresh" style="margin-right:7px;"></span>刷新
            </div>
            <div class="form-group pull-right zeromargin">
                <button class="btn btn-cus" ng-click="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="form-group pull-right input-group zeromargin">
                <input type="text" ng-model="phone_number" class="form-control" ng-keyup="keysearch($event)" placeholder="手机号">
            </div>
            <table bs-table="statusOptions"></table>
        </div>
    <div class="read_rc" id="smsstatus_rc"
         msgDialog-data="请求出错啦~"
         sure-delete="确定删除这条记录吗？"
         table-data="用户名,手机号,手机运营商,归属地,短信内容,短信状态,发送时间,删除"
    >
    </div>
</div>
