<div class="container-fluid">

    <!--toggle-->
    <div class="page-row">
        <div class="col-xs-12 app-colum left-block">
            <div class="app-box">
                <div class="select-footer">
                    <div class="col-xs-4 ml20">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <input type="radio" name="terminal" id="allterminal" value="1" checked="checked">
                                <label for="allterminal">Associated clients</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="radio" name="terminal" id="terminal" value="2" ng-click="redirect()">
                                <label for="terminal">Authenticated clients</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--page content-->
    <div class="dashboard total_clients">
        <!--client-num-->
        <div class="col-xs-12 app-colum left-block" debug="clients NumRZ">
            <div class="bg-bor">
                <div class="head-bar">
                    <div class="box-footer">
                        <div class="col-xs-10">
                            <span class="title sysinfo-footer-title">Clients</span>
                        </div>
                        <div class="text-right link-container">
                            <a type="button" class="
                            link-detail" id="submit_scan" ui-sref="scene.content.monitor.customer15.customerdetail" title="More">
                                <i class="detail-icon icon"></i>
                            </a>
                        </div>
                        <div class="text-rightandlink-container"></div>
                    </div>
                    <div class="col-xs-3">
                        <div class="syslog-info-mine-Total">
                            <div class="left-icon Total-icon"></div>
                            <div class="right-text">
                                <span class="number-count" id="Total"></span>
                                <br />
                                <span class="number-title">Total</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="syslog-info-mine-Total">
                            <div class="left-icon Num2G-icon"></div>
                            <div class="right-text">
                                <span class="number-count" id="Num2G"></span>
                                <br />
                                <span class="number-title">2.4GHz</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="syslog-info-mine-Total">
                            <div class="left-icon Num5G-icon"></div>
                            <div class="right-text">
                                <span class="number-count" id="Num5G"></span>
                                <br />
                                <span class="number-title">5GHz</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="syslog-info-mine-Right">
                            <div class="left-icon NumRZ-icon"></div>
                            <div class="right-text">
                                <span class="number-count" id="NumRZ"></span>
                                <br />
                                <span class="number-title">Auth Clients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--customer total-->
        <div ng-init="
    customerCount='Client count';
    newCustomer='New Clients';
    allCustomer='Total Clients';
    ">
            <div class="col-xs-6 app-colum left-block">
                <div class="page-row xxb" id="userflow">
                    <div class="col-xs-12 app-colum " debug="getnewuser">
                        <div class="app-box no-bk-color">
                            <div class="box-footer">
                                <div class="col-xs-4">
                                    <span class="title">Guest Statistics</span>
                                </div>
                                <div class="time-change" id="total">
                                    <a id="days" class="time-link active" value='1' ng-click="clickTest($event)">day</a>
                                    <a id="weeks" class="time-link" value='2' ng-click="clickTest($event)">week</a>
                                    <a id="mounth" class="time-link" value='3' ng-click="clickTest($event)">month</a>
                                </div>
                            </div>
                            <div class="box-body userflow-height form-group body-nopadding">
                                <div id="loginusermit" class="col-xs-12" style="height:230px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--customer flow total-->
        <div ng-init="
    stayType_1='Within half hour';
    stayType_2='Within 1 hour';
    stayType_3='Within 2 hour';
    stayType_4='Over 2 hours';
    custCount='Length of Stay';
    visit='Vists';
    visitCount_1='Once';
    visitCount_2='Twice';
    visitCount_3='Three times';
    visitCount_4='Over four times';
    ">
            <div class="col-xs-6 app-colum left-block">
                <div class="page-row xxb">
                    <div class="col-xs-12 app-colum " debug="getAccessTime getOnlineTime">
                        <div class="app-box no-bk-color">
                            <div class="box-footer">
                                <div class="col-xs-3">
                                    <span class="title">Visit Statistics</span>
                                </div>
                                <div class="time-change" id="detail">
                                    <a id="oDetail" class="time-link" ng-click="onlineCustomer()">Online Guests</a>
                                    <a id="hDetail" class="time-link" ng-click="historyDetail()">History Details</a>
                                </div>
                            </div>
                            <div class="box-body userflow-height form-group body-nopadding">
                                <!--<div class="col-xs-6 pietop">-->
                                    <!--<div class="row-clear padding0">-->
                                        <!--<div id="visitCount" class=" col-xs-12" style="height:230px;"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="col-xs-12 pietop">
                                    <div class="row-clear padding0">
                                        <div id="stayTime" class=" col-xs-12" style="height:230px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--client vonder and mode-->
        <div ng-init="
    header_1='MAC Address';
    header_2='IP Address';
    header_3='Vendor';
    header_4='AP';
    header_5='SSID';
    header_6='Unknown';
    ngModel='Client Statistics';
    autoClose='Disabled';
    viewTittle='Unknown';
    ">
            <div class="page-row">
                <div class="col-xs-6 app-colum left-block">
                    <div class="app-box no-bk-color">
                        <div class="col-sm-12 col-xs-12 app-colum">
                            <div class="box-footer">
                                <span class="title">Client Type</span>
                            </div>
                            <div class="box-body echart-height form-group">
                                <div id="Terminal_type" class="col-xs-12" style="height:230px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 app-colum left-block">
                    <div class="app-box no-bk-color">
                        <div class="col-sm-12 col-xs-12">
                            <div class="box-footer">
                                <span class="title">Vendor</span>
                            </div>
                            <div class="box-body echart-height form-group">
                                <div id="Terminal_firm" class="col-xs-12" style="height:230px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div bs-modal="clientTypeOf">-->
                <!--<div bs-table="clientType"></div>-->
            <!--</div>-->
        </div>

    </div>
</div>
