<div ng-init="
    stBindAPGroup_Text= 'AP Group Name,AP Group Describle,ModelNum';
    getDataFailed= 'Failed to obtain binding information for this service template.'
">
    
    <!-- AP Group部分 -->
    <div class="page-row">
        <div class="col-xs-12 app-colum left-block"> 
            <div class="app-box no-bk-color"> 
                <div class="box-footer"> 
                    <span class="title">Bound AP Group List</span> 
                </div> 
                <div class="sysinfo-body app-box-slist">                                     
                    <!-- 已绑定列表 -->
                    <div bs-table="table_bindAPGroupStatus_stList"></div> 
                </div> 
            </div>      
        </div>                              
    </div>
                           

</div>



