【index_wireless文件】
    Bind to AP Groups
    Bind to APs



    
    BIND_AP_GROUP=", Binding Status"
    BIND_AP=", , Binding Status"      
    TERINFO="AP List"
    TITLE_TERINFO="AP Details"
    APGROUP="AP Group" 
    FRESH="Refresh"
  
    AUTHEN_TYPE=" No Authentication, One-Key Authentication, Account Authentication"
    AUTH_CFG = "No Authentication, WeChat Authentication, One-Key Authentication, Select Page Template"      
    
    Configuration failed.
    Configuration succeeded.
   
    SYN="Synchronize"
    NEXT="Next"
    AUTHCFG="Authentication Configuration"
    UNBIND="Unbound"        
    QUIT="Cancel"
    BIND_APGroup="Bound AP Groups"
    DEL_PUB_SUCC = "Publishing cancelled successfully."
    PUB_SUCC = "Publishing succeeded."    
    DEL_SUCCESS_SYN="Deletion succeeded. Please synchronize to view the most recent configuration."
    GET_DATA_FAILED="Failed to retrieve data."
    GET_DATA_ERROR="Error occurred for data retrieval."
    DEVICE_DEL_FAILED="The deletion operation is not supported in the current software version. Please upgrade the software." 
    DEVICE_ADD_FAILED="The adding operation is not supported in the current software version. Please upgrade the software."       
    DEVICE_NOT_SUPPORT="The operation of binding to APs is not supported in the current software version."
    CONFIGURATION_SUC_HEAD="Configuration succeeded. Please synchronize to view the most recent wireless service configuration." 
    SELECT="Please select at least one authentication method."
    AUTHType_Errorcode1112="at least have one authType."       




    Select binding mode
    Bound AP Groups
    Bound APs
    Bind to AP Groups
    Bind to APs

    Account login
    Short Message
    WeChat Official Account
    Fixed Account
    WeChat Wi-Fi 

    Login Page
    Simple

    WeChat Official Account
    Authentication Free for Reconnection
    (1 to 30) days

    Note: Authenticated offline users can come online without reauthentication during the free authentication period.








【index_modify文件】
    Anonymous Authentication
    Account Login
    Short Message
    WeChat Official Account
    Fixed Account
    WeChat Wi-Fi
    Login page
    Simple
    WeChat account
    Authentication free for reconnection
    Auth free period days(1-30)
    Note: Authenticated offline users can come online without reauthentication during the free authentication period.




    SSID_HEADER="SSID, Authentication Method"
    ALLAP_HEADER2="Service Name, SSID, Authentication Method, Status, Bound APs, Bound AP Groups, Operation"
    TERINFO="AP List"
    TITLE_TERINFO="AP Details"
    APGROUP="AP Group"
    ALLAP_HEADER3="AP Name, SN, AP Model, Bound"
    ALLAP_HEADER4="AP Group Name, Bound"
    ADD_TITLE="Add Service"
    AUTH_CFG="No Authentication, WeChat Authentication, SMS Authentication, One-Key Authentication, Select Page Template"
    DEL_AUTH_FAIL="Failed to delete the published template."
    DEL_PUB_SUCC = "Modification succeeded."
    PUB_SUCC="Publishing succeeded."
    ADD_SUCCESS="Wireless service added successfully."
    ADD_FAIL="Failed to add a wireless service."
    ADD_NULL_SSID="SSID cannot be null."
    DEL_SUCCESS="Deletion succeeded."
    DEL_FAIL="Deletion failed."

    AUTHEN_TYPE="No Authentication, One-Key Authentication, Account Authentication"
    CHECK_AUTH="Please select an authentication template." 
    SYN="Synchronize"
    LINK="Failed to add a wireless service because the main connection is disconnected."
    LINK_delete="Failed to delete the wireless service because the main connection is disconnected."
    ADD_Limit="Failed to add a wireless service because the maximum number of wireless services is already reached."
    CIPHERSUITE="Not configured,WEP40,TKIP,CCMP,TKIP/CCMP,WEP104,WEP128"
    SECURITYIE="Not configured,WPA,RSN,OSEN"
    STATUS=",Enable, Disable"
    AKMMODE="No, Yes"
    PENDING="Retrieving data"
    SYN_FAILED="Synchronization failed."
    SYN_FAILED_HAND="Automatic synchronization failed. Please synchronize the configuration manually."
    GET_DATA_ERROR="Error occurred for data retrieval."
    CONFIGURATION_SUC="Configuration succeeded."
    CONFIGURATION_FAILED="Configuration failed."

    SELECT="Please select at least one authentication method."
    AUTHType_Errorcode1112="at least have one authType."