<div class="col-xs-12 app-colum pagetemplate5">
    <div id='listView' class="app-box no-height">
        <div class="box-footer">
            <span class="title">页面模版</span>
        </div>
        <div class="panel-body">
            <div class="btn btn-cus" ng-click="addAccount()" ng-if="permission.write">
                <i class="btn-icon icon-add"></i>添加
            </div>
            <div class="box-body no-height">
                <div bs-table="pageOption" class="simple-list"></div>
            </div>
        </div>
    </div>
</div>
<form name="addForm" novalidate bs-modal="accountAdd.options">
    <div class="form-group">
        <label class="col-sm-3 control-label required">模版名称</label>
        <div class="col-sm-9">
            <input ng-model="add.themeName" type="text" class="string big " id="themeName" name="themeName"
                   ng-maxlength="32" required/>
            <label class="info-explain">（1-32字符）</label>
            <label ng-show="addForm.themeName.$dirty" ng-messages="addForm.themeName.$error"
                   style="display:inline-block;">
                <label ng-message="required" class="error" style="display: inline-block;">该参数必须配置。</label>
                <label ng-message="maxlength" class="error" style="display: inline-block;">请输入1-32字符。</label>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label ">描述</label>
        <div class="col-sm-9">
            <input ng-model="add.themeDec" type="text" class="string big " id="themeDec" name="themeDec"
                   ng-maxlength="128"/>
            <label class="info-explain">（1-128字符）</label>
            <label ng-show="addForm.themeDec.$dirty" ng-messages="addForm.themeDec.$error"
                   style="display:inline-block;">
                <label ng-message="maxlength" class="error" style="display: inline-block;">请输入1-128字符。</label>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label ">模版主题</label>
        <div class="col-sm-9">
            <div class="col-sm-4">
                <div class="xb-input xb-radio">
                    <input type="radio" id="tType_3" name="tType" class="input-element" value="3" ng-model="add.tType">
                    <span class="input-icon radio-icon" ng-class="{'checked':add.tType == 3}"></span>
                    <label class="input-label" for="tType_3"></label>
                </div>
                <label for="tType_3">2017活力版</label>
            </div>
            <div class="col-sm-3">
                <div class="xb-input xb-radio">
                    <input type="radio" id="tType_1" name="tType" class="input-element" value="1" ng-model="add.tType">
                    <span class="input-icon radio-icon" ng-class="{'checked':add.tType == 1}"></span>
                    <label class="input-label" for="tType_1"></label>
                </div>
                <label for="tType_1">简约</label>
            </div>
            <div class="col-sm-3">
                <div class="xb-input xb-radio">
                    <input type="radio" id="tType_2" name="tType" class="input-element" value="2" ng-model="add.tType">
                    <span class="input-icon radio-icon" ng-class="{'checked':add.tType == 2}"></span>
                    <label class="input-label" for="tType_2"></label>
                </div>
                <label for="tType_2">天空</label>
            </div>
        </div>
    </div>
</form>

<div id="add_user_Dlag" class="hide modal fade"></div>
<div id="page_rc" class="rc-define"
     Page_HEADER="页面模板,类型,描述"
     ADDPAGE_TITLE="增加页面模板"
     EDITPAGE_TITLE="修改页面模板"
     ADD_SUCCESS="添加成功"
     ADD_FAILED="添加失败"
     DELETE_FAILED="删除失败"
     DELETE_SUCCESS="删除成功"
     DELETE_OR_CANCEL="确定要删除选中的数据吗？"
     FAILURE_RETRY="请求发送失败，请重试"
     CANNOT_DELETE="该页面模板已被发布使用，不能删除"
     DELETE_FILE_FAILED="文件系统错误，删除页面模板失败"
     MODIFY_SUCCESS="修改成功"
     MODIFY_FAILED="修改失败"
     PAGE_EXIST="该模板名称已经存在"
></div>