<div id="">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">访客列表</h3></div>
        <div class="panel-body">
            <div class="lead">
                <div class="btn btn-cus" ng-click="addSite()">添加</div>
                <div class="btn btn-cus" ng-click="deletesite()">加入黑名单</div>
                <div class="btn btn-cus" ng-click="deletesite()">解除黑名单</div>
                <div class="btn btn-cus" ng-click="refresh()">导出</div>
            </div>
            <table bs-table="options"></table>
        </div>
    </div>
</div>
