<div class="index-page-container"
     id="rc"
     GETMAP_FAILED="Failed to obtain the picture."
     DELETE_FAILED="Failed to delete the map."
     DELETE_SUCCESS="Map deleted successfully."
     DELETE_OR_CANCEL="Are you sure you want to delete the selected item?"
     MAP="Map:"
     EDIT="Edit"
     DELETE="Delete"
     GETMAP_INFO="Failed to obtain the picture"

        >
    <div class="row" style="width:100%;">
        <div class="text-center paging-contain">
            <div bs-pager="pagination" ng-model="page"></div>
            <!--<select class="home-page-size" ng-model="pageSize" title="page" style="border-color: #ccc !important;"
                    ng-options="p for p in [3, 6, 9, 12]" ng-show="total"></select>-->
        </div>
    </div>
</div>