<div class="provision">
    <h1>绿洲用户注册协议</h1>
    <div class="line"></div>
    <div class="wordwrap">
        <h2>一、绿洲用户协议：</h2>
        <p>
            《用户协议》（以下简称“本协议”）是您（或称“用户”，指注册、登录、使用、浏览本服务的个人或组织）与新华三技术有限公司（以下简称“新华三”）及其运营合作单位（以下简称“合作单位”）之间关于新华三设备与新华三绿洲网站（<a href="https://oasis.h3c.com" target="_blank">https://oasis.h3c.com</a>，简称本网站）、绿洲O2O网站（<a target="_blank" href="https://mall.h3c.com">https://mall.h3c.com</a>）、绿洲无线精灵APP软件（新华三绿洲、绿洲O2O网、绿洲无线精灵APP以下统称“云服务”）所订立的协议。
        </p>
        <p>
            新华三在此特别提醒用户认真阅读、充分理解---本协议中各条款，包括免除或者限制新华三责任的免责条款及对用户的权利限制条款。请您审慎阅读并选择接受或不接受本协议(未成年人应在法定监护人陪同下阅读）。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉相关服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
        </p>
        <h3>1.用户使用规则</h3>
        <p>1)在使用云服务时，您必须承诺和保证：</p>
        <p>
            您了解并同意，用户须对注册信息的真实性、合法性、有效性承担全部责任；用户不得冒充他人，不得利用他人的名义发布任何信息；不得恶意使用注册帐户导致其他用户误认；否则我们有权立即停止提供服务，您独自承担由此而产生的一切法律责任。 您使用云服务的行为必须合法，您必须为自己注册帐户下的一切行为负责，包括您所发表的任何内容以及由此产生的任何结果。用户应对其中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。新华三无法且不会对因用户行为而导致的任何损失或损害承担责任。 您注册用户成功后，将得到一个云服务帐号和密码。您应妥善保管该帐号及密码，并对以该帐号进行的所有活动及事件负法律责任。因黑客行为或用户保管疏忽致使帐号、密码被他人非法使用的，新华三不承担任何责任。如您发现任何非法使用云服务帐号或安全漏洞的情况，请立即与新华三联系。
        </p>
        <p>2)您必须知悉并确认：</p>
        <p>
            我们因业务发展需要，单方面对云服务的全部或部分服务内容在任何时候不经任何通知的情况下变更、暂停、限制、终止或撤销我们服务的权利，用户需承担此风险。 我们提供的服务中可能包括广告等活动，用户同意在使用过程中显示我们及关联方与第三方供应商、合作伙伴提供的广告以及其他活动。 我们有权自行全权决定以任何理由，对违反有关法律法规或本协议约定；或侵犯、妨害、威胁任何人权利或安全的内容，或者假冒他人的行为，有权依法停止传输任何相关内容，并有权依其自行判断对违反本协议的任何人士采取适当的法律行动，包括但不限于，从服务中删除具有违法性、侵权性、不当性等内容，终止违反者的成员资格，阻止其使用我们全部或部分服务，并且依据法律法规保存有关信息并向有关部门报告等。 我们的某些产品服务必须在联网的情况下才可以使用，包括但不限于：设备绑定、设备管理、设备监控等。您必须自行负担个人上网或第三方（包括但不限于电信或移动通讯提供商）收取的通讯费、信息费等相关费用。如涉及电信增值服务，我们建议您与增值服务提供商确认相关费用问题。 在任何时候，您的信息均依照新华三的隐私政策处理，该政策通过提述而納入本许可证内<!--，并可在<a target="_blank" ui-sref="privacy">https://oasis.h3c.com/oasis/stable/web/static/beforeLogin/frame/index.html#/privacy</a>浏览-->。
        </p>
        <h3>2.设备管理</h3>
        <p>1)设备管理是指通过云服务对您的设备进行管理（包含但不限于：监控设备、配置设备、重启设备、升级设备、采集设备日志等）、以及您的设备主动通过互联网连接云服务平台获取相关服务。您是您的云服务账号、以及其关联设备唯一的责任人，您将承担因您的云服务账号披露而导致您的设备异常、账号相关数据受损的风险。</p>
        <p>
            2)一旦您将设备绑定到您的云服务账号就表明您了解并同意，该设备可以主动通过互联网连接云服务平台，云服务可以远程控制设备（包含但不限于：主动收集设备基本信息、读取设备配置等），您愿意承担设备连上互联网而有可能受病毒、黑客等攻击的风险
        </p>
        <h3>3.用户权利及义务</h3>
        <p>
            1)合法使用云服务的权利；
        </p>
        <p>
            2)下载、安装、使用云服务的权利;
        </p>
        <p>
            3)云服务帐号的所有权归新华三技术有限公司所有，基于帐号安全性的考虑，禁止使用他人的手机号、邮箱地址注册云服务帐号。您完成申请注册手续后，获得云服务帐号的使用权，该使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖。新华三因经营需要，有权回收云服务帐号；
        </p>
        <p>
            4)权利限制：
        </p>
        <p>
            您不得对云服务（包括但不限于内容或产品中的广告或赞助内容）进行任何形式的许可、出售、租赁、转让、发行或做其他商业用途； 您不得以创建相同或竞争服务为目的使用云服务； 除非法律明文规定，否则您不得对云服务的任何部分以任何形式或方法进行复制、发行、再版、下载、显示、张贴、修改、翻译、合并、利用、分解或反向编译等； 您已同意通过上传、发布或以其他方式使用本网站或新华三产品、程序和服务，在使用过程中，您将承担因下述行为所造成的风险而产生的全部法律责任：破坏宪法所确定的基本原则的； 危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一的;损害国家荣誉和利益的；煽动民族仇恨、民族歧视，破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的； 散布谣言，扰乱社会秩序，破坏社会稳定的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；侮辱或者诽谤他人，侵害他人合法权益的；含有法律法规、行政规章所禁止的其他内容的。 您已同意不在云服务从事下列行为：上传或发布电脑病毒、蠕虫、恶意代码、故意破坏或改变计算机系统或数据的软件；未授权的情况下，收集其他用户的信息或数据，例如电子邮箱地址等； 禁用云服务的网络连接，给本网站造成过度的负担或以其他方式干扰或损害网站服务器和网络链接；在未授权的情况下，尝试访问本网站； 干扰、破坏其它用户正常使用本网站或云服务。
        </p>
        <h3>4.损害赔偿</h3>
        <p>
            1)您已同意无害的使用云服务，避免新华三因下述行为或相关行为遭受来自第三方的任何投诉、诉讼、损失、损害、责任、成本和费用（包括但不限于律师费）：您使用云服务的行为；您违反本协议的行为。
        </p>
        <p>
            2)您已同意，除非获得新华三书面同意，您不得在您与新华三共同对第三方提起的诉讼中单方和解。
        </p>
        <p>
            3)新华三将尽合理努力将此类诉讼、诉讼行为或进程通知您。
        </p>
        <p>
            4)在任何情况下，新华三都不对您或任何第三方因本协议产生的任何间接性、后果性、惩戒性的、偶然的、特殊或惩罚性的损害赔偿承担责任。使用云服务所产生的网络异常、账号数据库损坏的风险将由您个人承担。
        </p>
        <h3>5.免责声明</h3>
        <p>
            1)如发生下述情形，新华三不承担任何法律责任：第三方被识别的风险。
        </p>
        <p>
            依据法律规定或相关政府部门的要求提供您的个人信息； 由于您的使用不当或其他自身原因而导致任何个人信息的泄露； 任何由于黑客攻击，电脑病毒的侵入，非法内容信息、骚扰信息的屏蔽，政府管制以及其他任何网络、技术、通信线路、信息安全管理措施等原因造成的服务中断、受阻等不能满足用户要求的情形； 用户因第三方如运营商的通讯线路故障、技术问题、网络、电脑故障、系统不稳定及其他因不可抗力造成的损失的情形； 使用云服务可能存在的来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息而招致的风险； 用户之间通过云服务与其他用户交往，因受误导或欺骗而导致或可能导致的任何心理、生理上的伤害以及经济上的损失； 云服务明文声明，不以明示、默示或以任何形式对新华三服务之及时性、安全性、准确性做出担保。上述服务包括但不限于：
        </p>
        <p>
            2)用户在本网站所发布的任何内容并不代表和反映新华三的任何观点或政策，新华三对此不承担任何责任。
        </p>
        <p>
            3)在任何情况下，新华三均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害，包括因用户使用新华三服务而遭受的利润损失，承担责任。尽管本协议中可能含有相悖的规定，我们对您承担的全部责任，无论因何原因或何种行为方式，始终不超过您在注册期内因使用云服务服务而支付给新华三的费用(如有)。
        </p>
        <h3>6.知识产权</h3>
        <p>
            1)用户在云服务上发布的信息不得侵犯任何第三人的知识产权，未经具有相关所有权所有者之事先书面同意，用户不得以任何方式上传、发布、修改、传播或复制任何受著作权保护的材料、商标或属于其他人的专有信息。如果收到任何著作权人或其合法代表发给新华三的适当通知后，我们将在审查的基础上移除该等侵犯他人著作权的内容。
        </p>
        <p>
            2)新华三服务中所涉及的UT等图形、文字或其组成，以及其他新华三标志及产品、服务名称，均为新华三之商标。未经新华三事先书面同意，用户不得将新华三标识以任何方式展示或使用或作其他处理，任何单位及个人不得以任何方式或理由对该商标的任何部分进行使用、复制、修改、传播、抄录或与其它产品捆绑使用销售。
        </p>
        <p>
            3)除前述规定以外，如果您认为有人复制并在云服务上发布您的作品，并已构成对您著作权的侵犯，请及时与我们联系，联系邮箱【<b>h3clvzhou@h3c.com</b>】，并提供包含如下信息的书面通知：
        </p>
        <p>
            (i)证明您作为涉嫌侵权内容所有者的权属证明；
        </p>
        <p>
            (ii)明确的身份证明、住址、联系方式；
        </p>
        <p>
            (iii)涉嫌侵权内容在云服务上的位置；
        </p>
        <p>
            (iv)您声称遭受侵犯的著作权作品的描述；
        </p>
        <p>
            (v)您著作权遭受侵犯的相关证明；
        </p>
        <p>
            (vi)在同意承担伪证处罚之后果的前提下，出具书面陈述以声明您在通知中所述内容是准确和真实的。录或与其它产品捆绑使用销售。
        </p>
        <h3>7.修改与终止</h3>
        <p>
            1)新华三始终在不断变更和改进服务。新华三可能会增加或删除功能，也可能暂停或彻底停止某项服务。客户同意新华三有权行使上述权利且不需对客户或第三方因此承担任何责任。
        </p>
        <p>
            2)我们可能会：依据法律的规定，保留您使用云服务的权利；无论是否通知，我们将在任何时间以任何原因终止本协议，包括出于善意的相信您违反了我们可接受使用政策或本协议的其他规定。
        </p>
        <p>
            3)不受前款规定所限，如果用户侵犯第三人的版权且新华三接到版权所有人或版权所有人的合法代理人的通知后，新华三保留终止本协议的权利。
        </p>
        <p>
            4)一旦本协议终止，您的云服务账户和使用云服务的权利即告终止。您应当知晓您的云服务账户终止意味着您账号相关数据将从我们的活动数据库中删除。账号终止并不意味该账号下的设备解除云服务管理协议，您需要对您账号下的设备负责，您可以向新华三提出终止设备管理协议。新华三不因终止本协议对您承担任何责任，包括终止您的云服务账户和终止账号下的设备管理。
        </p>
        <p>
            5)任何云服务的未来版本、更新或者其他变更将受到本协议约束。
        </p>
        <h3>8.其他</h3>
        <p>
            1)反馈
        </p>
        <p>
            您对新华三提出建议（或称“反馈”），即视为您向新华三转让“反馈”的全部权利并同意新华三有权利以任何合理方式使用此反馈及其相关信息。我们将视此类反馈信息为非保密且非专有； 您已同意您不会向新华三提供任何您视为保密和专有的信息； 我们有权保留或终止您的账户。
        </p>
        <p>
            2)隐私政策
        </p>
        <p>
            新华三尊重客户个人隐私，“隐私”是指客户在注册新华三账号时提供给新华三的个人身份信息，包括客户注册资料中的企业资料、有效证件信息、联系方式等。新华三一贯积极地采取技术与管理等合理措施保障客户账号的安全、有效；新华三将善意使用收集的信息，采取各项有效且必要的措施以保护您的隐私安全，并使用商业上合理的安全技术措施来保护您的隐私不被未经授权的访问、使用或泄漏。
        </p>
        <p>
            新华三不会向任何其他方公开或共享客户注册资料的企业资料、有效证件信息、姓名、联系方式等个人身份信息，但下列情况除外：
        </p>
        <p>
            （1）获得客户授权；
        </p>
        <p>
            （2）有关法律要求新华三披露的；
        </p>
        <p>
            （3）司法机关或行政机关基于法定程序要求新华三提供的；
        </p>
        <p>
            （4）新华三为了维护自己合法权益而向客户提起诉讼或者仲裁时；
        </p>
        <p>
            （5）根据本条款相关规定或者新华三认为有必要的情况下。
        </p>
        <p>
            （6）新华三与第三方合作向客户提供相关的网络服务的，该第三方同意承担与新华三同等的保护客户隐私的责任，则新华三可将客户信息提供给该第三方。
        </p>
        <p>
            3)客户的帐号和安全性
        </p>
        <p>
            客户一旦注册成功，客户将得到一个密码和帐号。客户可随时改变自己的密码、邮箱和手机号。商家应维持密码及帐号的机密安全，如果商家未保管好自己的帐号和密码而对商家、新华三或第三方造成损害，商家将负全部责任。商家同意若发现任何非法使用商家帐号或安全漏洞的情况，有义务立即通告新华三。
        </p>
        <p>
            4)通知
        </p>
        <p>
            您必须提供您最近经常使用的有效的电子邮件地址。您所提供的电子邮件地址无法使用或者因任何原因我们无法将通知送达给您而产生的风险，新华三不承担责任。本网站发布的公告通知及向您所发送的包含此类通知的电子邮件毫无疑问构成有效通知。
        </p>
        <p>
            5)适用法律
        </p>
        <p>
            本协议适用中华人民共和国法律。 如果双方发生纠纷，应本着友好的原则协商解决；如协商不成，应向新华三所在地的法院提起诉讼。
        </p>
        <p>
            6)独立性
        </p>
        <p>
            若本协议中的某些条款因故无法适用，则本协议的其他条款继续适用且无法适用的条款将会被修改，以便其能够依法适用。
        </p>
        <p>
            7)完整性
        </p>
        <p>
            本协议（包括隐私政策）是您和新华三之间关于云服务和新华三设备相关事项的最终的、完整的、排他的协议，且取代和合并之前当事人关于此类事项（包括之前的最终用户许可、服务条款）的讨论和协议。 每部分的题目只为阅读之便而无任何法
        </p>
        <p>
            8)不可抗力条款
        </p>
        <p>
            新华三对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击、软件漏洞等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情况。
        </p>
        <p>
            9)禁止服务的二次商业化
        </p>
        <p>
            客户承诺，非经新华三同意，客户不能利用新华三各项服务进行再次销售或用于合约以外的其他商业用途。
        </p>
        <p>
            10)新华三产品服务使用规范
        </p>
        <p>
            客户独立承担其发布内容的责任。客户对服务的使用必须遵守所有适用于服务的地方法律、国家法律和国际法律。客户承诺：
        </p>
        <p>
            （1）客户在新华三的网页上发布信息或者利用新华三的服务时必须符合中国有关法规，不得在新华三的网页上或者利用新华三的服务制作、复制、发布、传播以下信息：
        </p>
        <p>
            (a) 违反宪法确定的基本原则的；
        </p>
        <p>
            (b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        </p>
        <p>
            (c) 损害国家荣誉和利益的；
        </p>
        <p>
            (d) 煽动民族仇恨、民族歧视，破坏民族团结的；
        </p>
        <p>
            (e) 破坏国家宗教政策，宣扬邪教和封建迷信的；
        </p>
        <p>
            (f) 散布谣言，扰乱社会秩序，破坏社会稳定的；
        </p>
        <p>
            (g) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
        </p>
        <p>
            (h) 侮辱或者诽谤他人，侵害他人合法权益的；
        </p>
        <p>
            (i) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；
        </p>
        <p>
            (j) 以非法民间组织名义活动的；
        </p>
        <p>
            (k) 含有法律、行政法规禁止的其他内容的。
        </p>
        <p>
            （2）客户在新华三的平台上发布信息或者利用新华三的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。
        </p>
        <p>
            （3）客户不得利用新华三的服务从事危害计算机信息网络安全的行为。
        </p>
        <p>
            （4）客户不得以任何方式干扰新华三的服务。
        </p>
        <p>
            （5）客户不得滥用新华三服务，包括但不限于：利用新华三提供的应用服务发送虚假广告信息，利用新华三服务进行侵害他人个人隐私、知识产权或者合法利益的其他行为。新华三只提供信息服务平台不参与客户的具体商业活动，客户与用户之间产生任何交易纠纷与新华三无关。
        </p>
        <p>
            （6）客户应遵守新华三的所有其他规定和程序。
        </p>
        <p>
            客户须对自己在使用新华三服务过程中的行为承担法律责任。客户承担法律责任的形式包括但不限于：对受害者进行赔偿，以及在新华三首先承担了因客户行为导致的行政处罚或侵权损害赔偿责任后，客户应给予新华三等额的赔偿。若客户违反以上规定，新华三有权作出独立判断立即暂停或终止对客户提供部分或全部服务，包括冻结、取消客户服务帐号等措施。客户理解，如果新华三发现其网站传输的信息明显属于上段第(1)条所列内容之一，依据中国法律，新华三有义务立即停止传输，保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。
        </p>
        <p>
            客户同意新华三的合作厂商的用户通过其它认证方式使用新华三WiFi，比如小米手机可直接连接WiFi，微信可以扫二维码连接WiFi。
        </p>
        <p>
            11)保障
        </p>
        <p>
            客户同意保障和维护新华三全体成员的利益，承担由客户违反服务条款的损害补偿费用，其它人使用客户的电脑、帐号而产生的费用。客户或者使用客户帐号的其他人在进行推广、论坛等过程中侵犯第三方知识产权及其他权益而导致被侵权人索赔的，由客户承担责任。
        </p>
        <p>
            如客户或其它网络服务提供者利用新华三的服务侵害他人民事权益的，应当承担侵权等法律责任。
        </p>
        <p>
            如客户利用新华三的服务实施侵权行为的，新华三接到被侵权人通知后，有权采取删除、屏蔽、断开链接等必要措施，并不对客户承担违约责任。
        </p>
        <p>
            12)内容、商标的所有权
        </p>
        <p>
            新华三提供的内容包括但不限于：非客户上传/提供的文字、软件、声音、相片、视频、图表等。所有这些内容均属于新华三，并受版权、商标、专利和其它财产所有权法律的保护。所以，客户只能在新华三授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。
        </p>
        <p>
            新华三以及新华三的其他标志及新华三产品、服务的名称，均为新华三的无形资产（以下简称“新华三标识”）。未经新华三事先书面同意，您不得将新华三标识以任何方式展示或使用或作其他处理，也不得向他人表明您有权展示、使用、或其他有权处理新华三标识的行为。
        </p>
        <p>
            客户未经其他单位的授权，不得使用其他单位的商标或有侵权内容的信息。如果客户使用新华三的产品和服务发布的内容存在侵权问题，侵权责任由客户自行承担。
        </p>
        <p>
            13)信息储存
        </p>
        <p>
            新华三对上所有服务将尽力维护其安全性及方便性，但对服务中出现的信息（包括但不限于客户发布的信息和用户的上网信息）删除或储存失败不承担任何责任。另外新华三有权判定客户的行为是否符合本服务条款的要求，如果客户违背了本服务条款的规定，新华三有权中止或者终止对其新华三帐号的服务。
        </p>
        <p>
            14)补充条款
        </p>
        <p>
            （1）新华三不行使、未能及时行使或者未充分行使本条款或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响新华三在将来行使该权利。
        </p>
        <p>
            （2）如本条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本服务条款的其余条款仍应有效且具有约束力，新华三及客户均应尽力使该条款设定的本意得到实现。
        </p>
        <p>
            （3）本条款中的标题仅为方便而设，不作为解释本条款的依据。 如客户对本条款内容有任何疑问，可拨打我司客服电话（400-810-0504）或进入我司官网<a target="_blank" href="http://www.h3c.com">http://www.h3c.com</a>寻求帮助。
        </p>
        <h2>二、绿洲用户隐私条款：</h2>
        <p>
            绿洲网站（<a target="_blank" href="https://oasis.h3c.com">https://oasis.h3c.com</a>）的所有权、解释权与运作管理权归新华三技术有限公司（以下简称新华三）所有;新华三及承诺尊重和保护用户的隐私权，并将此作为新华三活动的基础和社会责任及义务。因此在您访问绿洲网站时，我们会尽力帮助您维护互联网个人数据的控制权。</p>
        <h3>1.关于对您的信息的收集</h3>
        <p>
            在绿洲上，您可以订购产品或服务、请求帮助、登记索取材料或加入社区参加我们的活动。在这些网页上，您需要提供的个人信息有：姓名、电子邮件地址、电话号码、地址、企业类型、客户喜好信息和客户主机编号，以及注册或申请服务时需要的其它类似个人信息。以便我们为您提供更好的网站在线服务、帮助您解决技术支持问题、在您访问后继续跟踪服务等。您完全可以自行选择是否加入。
        </p>
        <p>
            我们将不断改进我们的产品和服务（包括注册登记），以创建和提供更能够满足您需求的内容，我们可能还会要求您提供有关您个人或职业兴趣、人口统计、新华三产品使用经历以及您喜爱的联系方式等信息。
        </p>
        <h3>2.关于对您的信息的使用</h3>
        <p>
            您提供的信息将受到严格保密，新华三使用您的这些信息只是为了更好地了解您的需要并为您提供更好的服务，帮助您完成购买交易、与您日后联络、更新服务使您受益，并且为您提供更能满足您个人需要的网站。
            某些情况下，我们可能还会用您的信息与您取得联系以进行市场调查或为您提供我们认为您可能感兴趣的市场信息。
        </p>
        <h3>3.关于对您的信息的控制</h3>
        <p>
            当您通过注册或其它方式向我们提供个人信息时，新华三不会把您的个人识别信息出售或出租给他人。一旦新华三的代理商或承包商获准使用您的个人信息和调查信息，则必须对此类信息严格保密，并且不得将其用于除履行新华三所授权服务之外的其它任何用途。新华三将不会在未经您事先知晓和许可的情况下，以与上述内容无关的方式随意使用或分享您在线提供给我们的个人识别信息。您的许可总被首先保障，我们决不会与任何不代表新华三、不受我们保密政策约束的第三方分享您的信息。
            新华三可能会将在网站上收集到的信息与来自第三方的数据进行整理或合并，并用于向您推广产品或服务。
        </p>
        <h3>4.关于对您的信息的访问</h3>
        <p>
            新华三为了保护您的隐私和安全，将采取合理的措施验证身份，之后，您才能访问或修改信息。新华三力求使您的个人识别信息保持准确，并为您提供了包括使您能够在线访问个人信息、注册数据的能力，使您可以更新或修改您的信息。
            请注意，本网站到第三方网站的链接仅作为一种方便服务提供给您，如果使用这些链接，您将离开绿洲网站。而它们可能会收集与您有关的个人身份识别信息。因此，新华三集团对这些网站及其任何信息、软件或其他产品、材料、或因使用它们而可能获得的任何结果不予认可，也不作任何陈述。链接至新华三的第三方网站的信息惯例并不在此隐私声明范围之内。
        </p>
        <h3>5.关于您的信息的安全性</h3>
        <p>
            我们计划保护就您个人而言可以识别的上述信息的质量和完整性。我们会认真保护您的资料以防止其丢失、被误用、受到未授权访问或泄漏、被篡改或毁坏。在本公司内，数据存放在有密码控制的服务器中，访问是受到限制的。
            我们将真诚努力，及时响应您的请求以便对您的个人信息误差进行纠正。为了对您的个人信息误差进行纠正，请把包含误差的信息送还给发送者，并附上所要求更正的细节。
        </p>
        <h3>6.关于小用户的特别说明</h3>
        <p>
            新华三会最大限度地注意未满16岁的用户的安全。关于未满16岁用户的个人资料，请一定在得到监护人同意下进行提供。当您注册您的姓名，地址，电话或其他个人资料时，当您从网上购物时，一定要确保您的父母或监视人在计算机旁和您一起进行。
        </p>
        <h3>7.关于cookie技术的使用</h3>
        <p>
            随着互联网对各项新技术的应用，新华三为访客带来了完全个性化的体验。我们会使用cookies的技术来分析网页的使用情形，并维护您在网上商店的购物记录。Cookie是放置在您的电脑硬盘中的一段要求权限的文字。使用此项技术并不表示我们可自动获悉有关您的任何信息。我们可以确定您使用的计算机类型，但使用
            cookies的主要目的还在于使您在访问新华三云网时获得更佳的体验。新华三绝对无意在您使用新华三云网时侵犯您的隐私。</p>
        <p>
            同时您也拥有完全的自主权，可以将网络浏览器（Microsoft Internet Explorer 或 Netscape Navigator）设置为通知您 cookie
            的放置请求，或者完全拒绝cookie。您可以删除包含 cookie 的文件，这些文件被保存为 internet 浏览器的一部分。
        </p>
        <h3>8.关于本声明的更改</h3>
        <p>
            本声明的解释权及对本网站使用的解释权归新华三所有。新华三有时会更新本隐私保护声明。更新时，我们还会修改隐私权声明底部的"最近更新"的日期。
        </p>
        <h3>9.因本声明或使用本网站所发生的争议适用中华人民共和国法律。</h3>

    </div>
</div>
