<div class="beforeLogin">
    <div class="banner"></div>
    <div class="content">
        <img src="../img/logo-cn.png" class="logo">
        <div class="go-login">已有账号，请<a href="../../../login.html">登录</a></div>
        <div class="top-line"></div>
        <div class="title">
            <div>注册通行证</div>
            <a class="change" ui-sref="registerByPhone" ng-hide="env === 'oasishk'">手机号注册</a>
        </div>
        <div class="line"></div>
        <form class="form" name="byEmail" novalidate>
            <div class="form-group">
                <label>用户名</label>
                <input type="text" name="name" placeholder="6-32位，以字母开头包含字母数字或下划线" ng-model="register.name" required
                       ng-pattern="/^[a-zA-Z][a-zA-Z0-9_]{5,31}$/" ajax-valid="validName" ng-blur="change.name=true"
                       ng-focus="change.name=false" ng-keyup="keySubmit($event)">
                <div class="error" ng-show="byEmail.name.$invalid && byEmail.name.$dirty&&change.name"
                     ng-messages="byEmail.name.$error">
                    <span ng-message="required">用户名不能为空</span>
                    <span ng-message="pattern">用户名格式不正确</span>
                    <span ng-message="ajaxValid">该用户名已被注册</span>
                </div>
                <div class="success" ng-show="byEmail.name.$valid&&change.name"></div>
            </div>
            <div class="form-group">
                <label>邮箱</label>
                <input type="text" name="email" placeholder="请输入邮箱" ng-model="register.email" required
                       ajax-valid="validEmail"
                       ng-maxlength="64"
                       ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})$/"
                       ng-blur="change.email=true" ng-focus="change.email=false" ng-keyup="keySubmit($event)">
                <div class="error" ng-show="byEmail.email.$invalid && byEmail.email.$dirty&&change.email"
                     ng-messages="byEmail.email.$error">
                    <span ng-message="required">邮箱不能为空</span>
                    <span ng-message="pattern">邮箱格式不正确</span>
                    <span ng-message="maxlength">邮箱长度最多64位</span>
                    <span ng-message="ajaxValid">该邮箱已注册</span>
                </div>
                <div class="success" ng-show="byEmail.email.$valid&&change.email"></div>
            </div>
            <div class="form-group">
                <label>登录密码</label>
                <input class="pr37" id="password" type="password" placeholder="请输入8-32位登录密码" required ng-pattern="passwordpat"
                       name="password" ng-model="register.password" ng-hide="showPassword"
                       ng-blur="change.password=true" ng-focus="change.password=false"
                       oncopy="return false;" onpaste="return false;" oncut="return false;" ng-keyup="keySubmit($event)">
                <input class="pr37" type="text" placeholder="请输入8-32位登录密码" ng-model="register.password" ng-show="showPassword"
                       name="password1" ng-blur="change.password=true" ng-focus="change.password=false"
                       oncopy="return false;" onpaste="return false;" oncut="return false;" ng-keyup="keySubmit($event)">
                <i class="icon-eye" ng-class="{'open':toggleEye}" ng-click="togglePassword()"></i>
                <div class="error"
                     ng-show="byEmail.password.$invalid&&change.password&&(byEmail.password.$dirty||byEmail.password1.$dirty)"
                     ng-messages="byEmail.password.$error">
                    <span ng-message="required">密码不能为空</span>
                    <span ng-message="pattern">8-32位非空格英文字符</span>
                </div>
                <div class="success" ng-show="byEmail.password.$valid&&change.password&&(byEmail.password.$dirty||byEmail.password1.$dirty)"></div>
                <div class="password-level" ng-show="passwordLevel">
                    <div class="word">
                        <div class="word1"><span ng-show="pw.l">弱</span></div>
                        <div class="word2"><span ng-show="pw.m">中</span></div>
                        <div class="word3"><span ng-show="pw.h">强</span></div>
                    </div>
                    <div class="level">
                        <div class="level1" ng-show="pw.l"></div>
                        <div class="level2" ng-show="pw.m"></div>
                        <div class="level3" ng-show="pw.h"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>确认密码</label>
                <input class="pr37" type="password" placeholder="请输入确认密码" name="conpassword" ng-model="conpassword"
                       ng-hide="showPasswordCon" required pw-check="password" ng-blur="change.conpassword=true"
                       ng-focus="change.conpassword=false" oncopy="return false;" onpaste="return false;" oncut="return false;" ng-keyup="keySubmit($event)">
                <input class="pr37" type="text" placeholder="请输入确认密码" name="conpassword1" ng-model="conpassword"
                       ng-show="showPasswordCon" ng-blur="change.conpassword=true"
                       ng-focus="change.conpassword=false" oncopy="return false;" onpaste="return false;" oncut="return false;" ng-keyup="keySubmit($event)">
                <i class="icon-eye" ng-class="{'open':toggleEyeCon}" ng-click="togglePasswordCon()"></i>
                <div class="error"
                     ng-show="byEmail.conpassword.$invalid&&change.conpassword&&(byEmail.conpassword.$dirty||byEmail.conpassword1.$dirty)"
                     ng-messages="byEmail.conpassword.$error">
                    <span ng-message="required">确认密码不能为空</span>
                    <span ng-message="pwCheck">密码不一致</span>
                </div>
                <div class="success" ng-show="byEmail.conpassword.$valid&&change.conpassword&&(byEmail.conpassword.$dirty||byEmail.conpassword1.$dirty)"></div>
            </div>
            <div class="form-group" ng-hide="env === 'oasishk'">
                <label></label>
                <input type="checkbox" ng-model="agree"/><span>同意<a class="register-pro" target="_blank" ui-sref="provision">绿洲用户注册协议</a></span>
            </div>
            <div class="form-group">
                <label></label>
                <div class="btn" ng-click="submitData()">完成注册</div>
            </div>
            <div class="form-group mt0" ng-show="error.show">
                <label></label>
                <div class="backstageError" ng-bind="error.message"></div>
            </div>
        </form>
    </div>
</div>
<div class="read_rc" id="register_byEmail_rc"
     request-error="请求发送失败，请重试"
     data-error="请正确填写注册信息"
     agree-error="请同意绿洲用户注册协议">
</div>