<style>
    .fl{
        margin-left:67px !important;
    }
    .fl2{
        margin-left:81px !important;
    }
    .app-box .box-body form[name='authForm'] .col-xs-12.app-colum {
    	border:1px solid #ddd;
    	padding:20px;
    	margin-bottom:20px;
    }
    .app-box .box-body form[name='authForm'] .col-xs-12.app-colum .app-box {
    	border:none;
    }
</style>
<div class="container-fluid">
    <div class="btn_h_return" ng-click="return()"></div>
    <div class="col-xs-12 app-colum" debug="getPlaceInfo gethistClients">
        <div class="app-box no-height">
            <div class="box-footer">
                <span class="title">Create template</span>
            </div>
            <div class="box-body no-height">
                <form novalidate role="form" name="authForm">             
				    <div class="form-group row">
				        <label class="col-sm-2 control-label required">Template name</label>
				        <div>
				            <input type="text" id="server" name="server" style="width:500px" class="string big form-control " required 
				            ng-model="modeInfo.server" ng-minlength="1" ng-maxlength="63"  
				            >
				            <label class="info-explain">(1-63chars)</label>

				            <label ng-if="authForm.server.$error.required && authForm.server.$touched"  style="color:red">This information is required</label>
                            <!-- <label ng-if="authForm.server.$error.pattern"  style="color:red">exist Chinese</label> -->
				        </div>
				    </div>
				            
				    <div class="form-group row">
				        <label class="col-sm-2 control-label">Template description</label>
				        <div>
				            <input type="text" name="MODE" style="width:500px" class="string big form-control" 
				            ng-model="modeInfo.MODE" ng-minlength="1" ng-maxlength="32">
				            <label class="info-explain">(1-32chars)</label>

				            <label ng-if="authForm.MODE.$error.required && authForm.MODE.$touched"  style="color:red">This information is required</label>
				        </div>
				    </div>
			
				    <div class="col-xs-12 app-colum">				    
				    	<div class="form-group row">
				        	<label class="col-sm-12 control-label">WirelessService Configguration</label>
				        </div>
				        <div class="app-box no-height">
				        <div class="box-body no-height">
					        <div class="btn btn-cus" ng-click="create()">Add</div>	 

		            		<button class="btn btn-cus" ng-click="delete()" ng-disabled="auth">Delete</button>
					        <div bs-Table = "SSID"></div>
				        </div>
				        </div>
				    </div>
 					
				    <div class="form-group row">
					    <div  id="total" style="margin-top:190px">
					        <a id="weeks" style="margin-left:15px; cursor: pointer; border-bottom: 1px solid #2fa4e7 " value='2' ng-click="clickTest()">Configure CLI Commands</a>
					    </div>
				    </div>				   					
				     
				    <div ng-hide = "mouse">
						<textarea ng-keydown="keyDownSearch($event)" style="border:1px solid #A7DFD8; height: 300px; width:100%"></textarea>
				    </div>                   
			        			                   					
				    <div align = "center" style="margin-top:10px">
				        <button class="btn btn-cus" ng-disabled="authForm.$invalid || adisabled" 
				        ng-click="modeUpdate()">Ok</button>
				        <button class="btn btn-cus" ng-disabled="authForm.$invalid" 
				        ng-click="deleteUpdate()">Cancel</button>
				    </div>
				</form>
            </div>
        </div>
    </div>
</div>

<form novalidate role="form" name="authFormModal" bs-modal="apply">   
    <div class="form-group row">
        <label class="col-sm-3 control-label required">Name</label>
        <div>
            <input type="text" id="server" name="server" class="string big form-control " required 
            ng-model="authInfo.server" ng-minlength="1" ng-maxlength="63" ng-pattern='/^[a-zA-Z1-9]+$/'>
            <label class="info-explain">(1 to 63 letters or digits)</label>

            <label ng-if="authFormModal.server.$error.required && authFormModal.server.$touched"  style="color:red">This information is required</label>
            <label ng-if="authFormModal.server.$error.pattern && authFormModal.server.$dirty"  style="color:red">The name must be Num and English letters</label> 
            <label ng-if="authFormModal.server.$error.maxlength && authFormModal.server.$dirty"  style="color:red">The string length already exceeded upper limit</label>       
        </div>
    </div>
            
    <div class="form-group row">
        <label class="col-sm-3 control-label required">SSID</label>
        <div>
            <input type="text" name="SSID" class="string big form-control" required 
            ng-model="authInfo.SSID" ng-minlength="1" ng-maxlength="32" >
            <label class="info-explain">(1 to 32 letters)</label>

            <label ng-if="authFormModal.SSID.$error.required && authFormModal.SSID.$touched"  style="color:red">This information is required</label>
            <label ng-if="authFormModal.SSID.$error.maxlength && authFormModal.SSID.$dirty"  style="color:red">The string length already exceeded upper limit</label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">Encryption</label>  
        <div>           	                               
            <input id="pwdOn" name="pwdState" type="radio" value="pwdOn" 
            ng-click="pwdOn()" ng-model="authInfo.pwdState"  >
            <label for="pwdOn" >Yes</label>
       		
            <input id="pwdOff" class="fl" name="pwdState" type="radio" value="pwdOff"
            ng-click="pwdOff()" ng-model="authInfo.pwdState">  
            <label for="pwdOff">No</label> 	           
                          
            <div ng-if="pwd" ng-init="showPwd1=true" class="col-sm-offset-3">    
                <input type="password" name="password" class="string big" required
                ng-model="authInfo.pwd" ng-show="showPwd1" ng-pattern='/^[a-zA-Z0-9]{8,63}$/'
                ng-minlength="" ng-maxlength="32">

                <input type="text" name="text" class="string big" required
                ng-model="authInfo.pwd" ng-hide="showPwd1" ng-pattern='/^[a-zA-Z0-9]{8,63}$/'
                >

                <span class="icon_eye" ng-class="{show_word: !showPwd1}"  
                ng-click="showPwd1=!showPwd1"></span>                    
                <label class="info-explain">Note : The password is a string of 8 to 63 characters that can contain digits and letters</label>
                <label ng-if="(authFormModal.password.$error.required && authFormModal.text.$error.required)&&(authFormModal.password.$touched|| authFormModal.text.$touched)"  style="color:red">This information is required</label>
                
                <label ng-if="(authFormModal.password.$error.pattern && authFormModal.password.$dirty) ||(authFormModal.text.$error.pattern&&authFormModal.text.$dirty)"  style="color:red">Invalid password length or format</label>     
            </div>        
        </div>
    </div>

     <div class="form-group row">
        <label class="col-sm-3 control-label">Wireless Service</label>  
        <div>                   
            <input id="wireless_open" name="wirelessServer" type="radio" value="wireless_open"
             ng-model="authInfo.wirelessServer">
            <label for="wireless_open">Enable</label>

            <input id="wireless_closed" class="fl2" name="wirelessServer" type="radio" value="wireless_closed" ng-model="authInfo.wirelessServer">  
            <label for="wireless_closed">Disable</label>                           
        </div>
    </div> 

    <div align = "center">
        <button class="btn btn-cus" ng-disabled="authFormModal.$invalid" 
        ng-click="ssidUpdate()">submit</button>
    </div>
</form> 

<div id="user_rc" class="rc-define"
    Visitor_LIST_HEADER = "MAC Address,IP Address,Associated At,Online Duration"
    LIST_HEADER = "The service name,SSID,Encryption,Status"
    SUCCESS_SUC = "Template added successfully"
    LIST_HEAD = "The wireless service name already exists"
    LIST_HEADFAIL = "The wireless service name already exists"
    FAILED_FAI = "Template added failed"
    yespassword = "yes"
    nopassword = "no"
    addservers = "Add wireless service"
    >
</div>