<div class="beforeLogin">
    <div class="successBanner">
        <div>
            <img src="../img/logo-en.png" alt="">
        </div>
    </div>
    <div class="contentSuccess">
        <div class="word">
            <div>Password reset successfully!</div>
            <div class="small">You will be redirected to the login page in {{time}} seconds</div>
        </div>
        <div class="btn" ng-click="goLogin()">Login</div>
        <div class="text-right">
            <img src="../img/pic.png">
        </div>
    </div>

</div>