<div class="beforeLogin">
    <div class="successBanner">
        <div>
            <img src="../img/logo-en.png" alt="">
        </div>
    </div>
    <div class="contentSuccess">
        <div class="word">
            <div>Registration completed! Please go to your mailbox to activate the account</div>
        </div>
        <a class="btn" href="../../../login.html">Already activated? Login</a>
        <div class="text-right">
            <img src="../img/pic.png">
        </div>
    </div>

</div>