<div class="warn-table">
    <div class="operates">
        <span class="glyphicon glyphicon-refresh"></span>
        <span class="glyphicon glyphicon-trash"></span>
        <i class="cut-off-rule"></i>
        <button type="button" class="btn-">已读</button>
        <button type="button" class="btn-">未读</button>
        <i class="cut-off-rule"></i>
        <select>
            <option value="0">告警类别</option>
            <option value="1">上线告警</option>
            <option value="2">下线告警</option>
            <option value="3">CPU过高</option>
            <option value="4">内存泄漏</option>
        </select>
        <i class="cut-off-rule"></i>
        <select>
            <option value="0">严重级别</option>
            <option value="1">严重</option>
            <option value="2">警告</option>
            <option value="3">错误</option>
            <option value="4">普通</option>
        </select>
    </div>
    <div bs-table="warnTable"></div>
</div>