<div class="dashboard88">
    <div class="page-row">
        <div class="col-xs-3 app-colum right-distance">
            <div class="bottom-block box-border" style="height:261px">
                <div class="box-footer">
                    <div class="col-xs-12">
                        <span class="center">AP总数/在线AP数</span>
                    </div>
                </div>
                <div id="ap_num" class="chartStyle" style="height:200px;"></div>
                <div class="box-footer">
                    <div class="col-xs-12">
                        <div class="col-xs-2 top-block">
                        </div>
                        <div class="col-xs-5 top-block">
                            <!-- <div class="total"></div> -->
                            <span class="AP-title">总数</span>
                            <span  id="total_ap"></span>
                        </div>
                        <div class="col-xs-5 top-block">
                            <!-- <div class="online"></div> -->
                            <span class="AP-title">在线数</span>
                            <span  id="online_ap"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 app-colum right-distance">
            <div class="col-xs-12 bottom-distance">
                <div class="box-border"  style="height:127px;">
                    <div>在线终端</div>
                    <div class="top-block">
                        <div class="col-xs-9">
                            <span class="site"  id="terminal"></span>
                            <!--<span class="number-title">台</span>-->
                        </div>
                        <div class="col-xs-3 terminal-icon right"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 bottom-distance">
                <div class="box-border"  style="height:128px;">
                    <div>速率</div>                   
                    <div class="col-xs-12 top-block">
                        <div class="flow-icon numFL right"></div>
                    </div>
                    <div class="col-xs-12 top-block">
                        <div class="col-xs-6">
                            <span class="number-title">上行</span>
                            <span  id="Traffic_up"></span>
                        </div>
                        <div class="col-xs-6">
                            <span class="number-title">下行</span>
                            <span  id="Traffic_down"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 app-colum" debug="getHealth">
            <div class=" app-box no-bk-color bottom-block" style="height:261px">
                <div class="box-footer">
                    <div class="col-xs-4">
                        <span class="title">设备综合健康度</span>
                    </div>
                    <div class="text-right link-container">
                        <a type="button" class="xx-link" tab="0" id="system" ng-click="systemInformation()">设备信息</i></a>
                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <div class="col-xs-6">
                        <div class="row-nohover row-clear padding0" style="padding: 0px;">
                            <div id="score-pie" class="myEchart chartStyle" style="height:200px;"></div>
                            <span style="color:#fe8086;position:absolute;top:160px;" ng-show="isFail">被<span>{{getPercent}}</span>%的绿洲用户打败，累觉不爱... ...</span>
                            <span id="terminalMessage" ng-show="isSuccess">打败了<span>{{getPercent}}</span><span>{{terminalMessage}}</span></span>
                        </div>
                        <!-- <div style="color: #ffa5af;position:absolute;  top: 170px;" id="terminalMessage" debug='["getHealthScore"]'>打败了全国<span>0</span>%的用户，需要看病啦~(&gt;o&lt;)</div> -->
                    </div>
                    <div class="col-xs-6 right01">
                        <div class="row-clear padding0">
                            <!-- <div id="apphealth" class="myEchart chartStyle"></div> -->
                            <div class="right_health">
                                <div class="health_title">
                                    <div class=" col-xs-12 health_title">
                                        <div class=" col-xs-5 left top_distance">剩余带宽</div>
                                        <ul id="raty_score_1" class=" col-xs-7 health_value ">
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li><a id="reports" class="reports" style="display: inline;" ng-click="openModal()" ng-if="permission.write"></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 health_title">
                                        <div class="col-xs-5 left top_distance">AP在线率</div>
                                        <ul id="raty_score_2" class="col-xs-7 health_value left">
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 health_title">
                                        <div class="col-xs-5 left top_distance">终端速率</div>
                                        <ul id="raty_score_3" class="col-xs-7 health_value left">
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 health_title">
                                        <div class="col-xs-5 left top_distance">安全评价</div>
                                        <ul id="raty_score_4" class="col-xs-7 health_value left">
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 health_title">
                                        <div class="left col-xs-5 top_distance">无线环境</div>
                                        <ul id="raty_score_5" class="health_value left col-xs-7">
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                        </ul>
                                    </div>
                                    <div class=" col-xs-12 health_title">
                                        <div class="left col-xs-5 top_distance">系统健康度</div>
                                        <ul id="raty_score_6" class="health_value left col-xs-7">
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                            <li class="emptyStar"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-row">
        <div class="col-xs-12 app-colum">
            <div class="app-box no-bk-color bottom-block">
                <div class="box-time">
                    <span class="time-title ">分时段查看/周期</span>
                    <div class="col-xs-3">
                        <input id="daterange" class="daterange time-select date_input" ctrl="daterang">
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="page-row">
        <div class="col-xs-12 app-colum">
            <div class="app-box no-bk-color bottom-block" style="height:350px;">
                <div class="box-footer">
                    <div class="col-xs-12">
                        <span class="title">设备信息： 速率</span>
                        <div class="text-right link-container">
                            <label for="branchSelect" style="color:#80878c;"><span style="font-weight:600;font-size:14px;">端口 </span>选择</label>
                            <select class="singleSelect" id="branchSelect" name="branchSelect"
                                    style="margin-top:0px;margin-left:10px;vertical-align:middle;height:30px;line-height:30px;width:150px;"
                                    ng-options="item as item.name for item in list" ng-model="selectValue" ></select>
                        </div>
                    </div>
                    
                </div>
                <div class="echart-height body-nopadding">
                    <div id="band_width" class="col-xs-12 myEchart" style="height:280px;"></div>
                </div>
            </div>
        </div>
    </div>

   <div class="page-row">
       <div class="col-xs-12 app-colum">
           <div class="app-box no-bk-color bottom-block" style="height:350px;">
               <div class="box-footer">
                   <div class="col-xs-4">
                       <span class="title">终端在线趋势</span>
                   </div>
               </div>
               <div class="echart-height body-nopadding">
                   <div id="terminal_online" class="col-xs-12 myEchart" style="height:280px;"></div>
               </div>
           </div>
       </div>
   </div>

    <div class="page-row">
        <div class="col-xs-6 app-colum right-distance">
            <div class="app-box no-bk-color" style="height:350px">
                <div class="box-footer">
                    <div class="col-xs-12">
                        <span class="title">设备信息：CPU使用率</span>
                    </div>
                </div>
                <div class="body-nopadding">
                    <div id="cpu" class="col-xs-12 myEchart" style="height:280px;"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 app-colum">
            <div class="app-box no-bk-color" style="height:350px">
                <div class="box-footer">
                    <div class="col-xs-12">
                        <span class="title">设备信息：内存使用率</span>
                    </div>
                </div>
                <div class="body-nopadding">
                    <div id="memory" class="col-xs-12 myEchart" style="height:280px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bs-modal="systemInfo.options">
    <form class="form edit" id="system_form" style="overflow:hidden;">
        <div class="row-clear padding0" debug="getGaugeCpu">
            <div class="col-xs-6 file-container">
                <div id="flash" class="col-xs-6">
                    <div id="gauge_cpu" class="myEchart" style="width:250px;height:250px;"></div>
                </div>
                <div id="cfcardA" class="col-xs-6">
                    <div id="gauge_mem" class="myEchart" style="width:250px;height:250px;"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="app-content"  style="color:#80878c;margin-top:40px;" id="version_block">
                    <div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>设备型号：</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devMode" ng-bind="devMode"></span>
                            </div>
                        </div>
                    </div>
                    <div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>序列号：</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="SerialNumber" ng-bind="sceneInfo.sn"></span>
                            </div>
                        </div>
                    </div>
                    <div class="page-row even">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>基线版本：</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devSoftVersion" ng-bind="devSoftVersion"></span>
                            </div>
                        </div>
                    </div>
                    <div class="page-row even">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>软件版本：</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devHardVersion" ng-bind="devHardVersion"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label">Bootrom版本：</span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devBootWare" ng-bind="devBootWare"></span>
                            </div>
                        </div>
                    </div>-->
                    <div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>连接状态：</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devv3CloudConnectionState"  ng-bind="connectStatus"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--带宽设置-->
<form class="form edit addInternet" name="AddInternetForm" bs-modal="bandWidthOption.options">
    <div class="form-group">
        <label class="col-sm-3 control-label required">上行带宽:</label>
        <div class="col-sm-9">
            <input type="text"  class="string big"  ng-model="bandWidth.upband" name ="upband" required ng-maxlength="3" onKeyUp="this.value=this.value.replace(/\D/g,'')"/>
            <label class="info-explain">Mbps</label>
            <div ng-show="AddInternetForm.upband.$dirty" ng-messages="AddInternetForm.upband.$error" style="display: inline-block;">
                <label ng-message="required" class="error" style="display: inline-block;">该参数必须配置。</label>
                <label ng-message="maxlength" class="error" style="display: inline-block;">长度不能大于3位</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label required">下行带宽:</label>
        <div class="col-sm-9">
            <input type="text" class="string big"  ng-model="bandWidth.downband"  name ="downband"
                   required ng-maxlength="3" onKeyUp="this.value=this.value.replace(/\D/g,'')" ng-pattern="/^[1-9]\d*$/"/>
            <label class="info-explain">Mbps</label>
            <div ng-show="AddInternetForm.downband.$dirty" ng-messages="AddInternetForm.downband.$error" style="display: inline-block;">
                <label ng-message="required" class="error" style="display: inline-block;">该参数必须配置。</label>
                <label ng-message="maxlength" class="error" style="display: inline-block;">长度不能大于3位</label>
                <label ng-message="pattern" class="error" style="display: inline-block;">下行带宽不能为0</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <p style="color:#df443e;margin-top:6px; font-size:16px;">注意：请先选择流量监控端口，否则配置无法生效，影响综合健康分评判。</p>
        </div>
    </div>
</form>
<div id="dashboard88_rc"
     TIP1 = '%的绿洲用户，设备需要体检啦~~'
     TIP2 = '%的绿洲用户，还可以更棒呦~'
     TIP3 = '%的绿洲用户，觉着自己萌萌哒~'
     TIP4 = '%的绿洲用户，简直~太~赞~啦！'
     ADD_TITLE = "设置额定带宽"
     SETBAND_SUC="带宽设置成功"
     SETBAND_FAIL="带宽设置失败"
     APPLY="应用"
     CANCEL="取消"
     WEEK="日, 一, 二, 三, 四, 五, 六"
     MONTH="一月, 二月, 三月, 四月, 五月, 六月, 七月, 八月, 九月, 十月, 十一月, 十二月"
     no_choose_port="不选择端口"
    ZONGLIANG="总速率"
    total_flow_up_down="总上行速率,总下行速率"
    LIULIANG="速率"
    STREAM="上行速率,下行速率"
    ONLONE_ap="在线AP数"
    OFFLINE_ap="离线AP数"
    Connect_Stav3="已连接,连接中断"
    FORM_TITLE="设备利用率"
    CLOSE="关闭"
></div>