<div ng-init="
    header_1='MAC地址';
    header_2='IP地址';
    header_3='终端厂商';
    header_4='AP';
    header_5='SSID';
    header_6='未知';  
    apGroupName='AP组名称';
    ngModel='客户端统计';
    autoClose='关闭';
    clientCount_5='5GHz客户端数量';
    clientCount_2='2.4GHz客户端数量';
    ssidName='SSID';
    ">
    <div class="page-row">
       <!--  <div class="col-xs-6 app-colum left-block"> 
            <div class="app-box" debug="byApList ap"> 
                <div class="box-footer"> 
                    <span class="title">基于AP组统计</span> 
                </div> 
                <div class="box-body no-height"> 
                    <div bs-table="options"></div>
                </div> 
            </div> 
        </div> -->
        <div class="col-xs-12 app-colum left-block"> 
            <div class="app-box" debug="bySsidList ssid"> 
                <div class="box-footer"> 
                    <span class="title">基于SSID统计</span> 
                </div> 
                <div class="box-body no-height"> 
                    <div bs-table="ssidoptions"></div>
                </div> 
            </div>     
        </div>
    </div>
    <!-- <div bs-modal="maoxian1">
        <div bs-table="maoxian"></div>
    </div> -->
</div>