<style>
    a,a:hover{
        color: #4ec1b2;
    }
</style>
<div >
    <!--<ul class="nav nav-tabs" style="padding:1rem 2.14285714rem 0">
        <li ng-class="{active:curTab === 0}" ng-click="tabSwitch(0)"><a href="javascript:void(0)">SMS Management</a></li>
        <li ng-class="{active:curTab === 1}" ng-click="tabSwitch(1)"><a href="javascript:void(0)">SMS Record</a></li>
        <li ng-class="{active:curTab === 2}" ng-click="tabSwitch(2)"><a href="javascript:void(0)">SMS Status</a></li>
    </ul>
    <div>
        <sms-management ng-show="curTab === 0"></sms-management>
        <sms-record ng-show="curTab === 1"></sms-record>
        <sms-status ng-show="curTab === 2"></sms-status>
    </div>-->
    <sms-status></sms-status>
</div>



