<style>
    .form-horizontal .control-label {
        text-align: left !important;
        padding-top: 2px;
        margin-right: 200px;
    }
    .form-group {
        margin-bottom:0px;
    }
    .form-horizontal [class^="col-md-"], 
    .form-horizontal [class*="col-md-"],
    .form-horizontal [class^="col-xs-"],
    .form-horizontal [class*="col-xs-"],
    .form-horizontal [class^="col-sm-"], 
    .form-horizontal [class*="col-sm-"] {
        line-height: 30px;
    }
</style>
<div class="container-fluid">
    <div class="btn_h_return" ng-click="return()"></div>
        <div class="col-xs-12 app-colum">
            <div class="app-box no-height">
                <div class="box-footer">
                    <span class="title">客户端统计</span>
                </div>
                <div class="box-body no-height" style="padding:0px 20px;">
                    <div class="form-group col-sm-12" id="anniumen">
                        <div class="radioAnNiu" style="margin-top:10px;">
                            <input id="jiben" type="radio" name="sanzhong-info" checked ng-click="clickRadio('basicInfo')">
                            <label for="jiben" style="margin-right:30px;">基本信息</label>
                            <input id="shepin" type="radio" name="sanzhong-info" ng-click="clickRadio('RadioInfo')">
                            <label for="shepin" style="margin-right:30px;">射频信息</label>
                            <input id="tongji" type="radio" name="sanzhong-info" ng-click="clickRadio('StatisticsInfo')">
                            <label for="tongji" style="margin-right:30px;">统计信息</label>
                            <input id="yonghu" type="radio" name="sanzhong-info" ng-click="clickRadio('UserInfo')">
                            <label for="yonghu" style="margin-right:30px;">认证信息</label>
                            <input id="newOutline" type="radio" name="sanzhong-info" ng-click="clickRadio('AllInfo')">
                            <label for="newOutline" style="margin-right:30px;">离线用户</label>                                            
                        </div>
                    </div>
    <br /><br /><br />

                    <div class="box-body no-height" ng-show="curCheckedRadio == 'basicInfo'">
                        <button class="btn btn-cus" ng-click="fresh()">刷新</button>
                        <button class="btn btn-cus" ng-click="export()" ng-if="permission.execute">导出</button>
                        <button class="btn btn-cus" ng-click="cancellation()" ng-if="permission.execute" ng-disabled="modBtnDisable">注销绿洲用户</button>
                        <button class="btn btn-cus" ng-click="cancellationall()" ng-disabled="logoutAllBtnDisabled" ng-if="permission.execute">注销绿洲所有用户</button>
                        <div bs-Table="listOpts.basicInfo"></div>
                    </div>
                    <div class="box-body no-height" ng-show="curCheckedRadio == 'RadioInfo'">
                        <button class="btn btn-cus" ng-click="fresh()">刷新</button>
                        <button class="btn btn-cus" ng-click="export()" ng-if="permission.execute">导出</button>
                        <button class="btn btn-cus" ng-click="cancellation()" ng-disabled="modBtnDisable" ng-if="permission.execute">注销绿洲用户</button>
                        <button class="btn btn-cus" ng-click="cancellationall()" ng-disabled="logoutAllBtnDisabled" ng-if="permission.execute">注销绿洲所有用户</button>
                        <div bs-Table="listOpts.RadioInfo"></div>
                    </div>
                    <div class="box-body no-height" ng-show="curCheckedRadio =='StatisticsInfo'">
                        <button class="btn btn-cus" ng-click="fresh()">刷新</button>
                        <button class="btn btn-cus" ng-click="export()" ng-if="permission.execute">导出</button>
                        <button class="btn btn-cus" ng-click="cancellation()" ng-disabled="modBtnDisable" ng-if="permission.execute">注销绿洲用户</button>
                        <button class="btn btn-cus" ng-click="cancellationall()" ng-disabled="logoutAllBtnDisabled" ng-if="permission.execute">注销绿洲所有用户</button>
                        <div bs-Table="listOpts.StatisticsInfo"></div>
                    </div>
                    <div class="box-body no-height" ng-show="curCheckedRadio == 'UserInfo'" >
                        <button class="btn btn-cus" ng-click="fresh()">刷新</button>
                        <button class="btn btn-cus" ng-click="export()" ng-if="permission.execute">导出</button>
                        <button class="btn btn-cus" ng-click="cancellation()" ng-disabled="modBtnDisable" ng-if="permission.execute">注销绿洲用户</button>
                        <button class="btn btn-cus" ng-click="cancellationall()" ng-disabled="logoutAllBtnDisabled" ng-if="permission.execute">注销绿洲所有用户</button>
                        <div bs-Table="listOpts.UserInfo"></div>
                    </div>
                    <div class="box-body no-height" ng-show="curCheckedRadio == 'AllInfo'">
                        <button class="btn btn-cus" ng-click="fresh()">刷新</button>
                        <button class="btn btn-cus" ng-click="cancellation()" ng-disabled="modBtnDisable" ng-if="permission.execute">清除在线状态</button>
                        <button class="btn btn-cus" ng-click="cancellationall()" ng-disabled="offlineDisabled" ng-if="permission.execute">注销绿洲所有用户</button>
                        <div bs-Table="listOpts.AllInfo"></div>
                    </div>
                    
                </div>
            </div>
        </div>
<form class="form-horizontal form" id="flowdetail_form" bs-modal="aiyaoption">
    <div class="col-sm-12">
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label"><strong>MAC地址</strong></label>
            <span id="clientMAC"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>IP地址</strong></label>
            <span id="clientIP"></span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>终端厂商</strong></label>
            <span id="clientVendor"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>AP</strong></label>
            <span id="ApName"></span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>SSID</strong></label>
            <span id="clientSSID"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>终端信号强度</strong></label>
            <span id="signalStrength"></span>
            <span> db</span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>终端发送速率</strong></label>
            <span id="clientTxRate"></span>
            <span> Kbps</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>终端接收速率</strong></label>
            <span id="clientRxRate"></span>
            <span> Kbps</span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>今日发送流量</strong></label>
            <span id="todayClientTxBytes"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>今日接收流量</strong></label>
            <span id="todayClientRxBytes"></span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>终端关联的Radio类型</strong></label>
            <span id="clientRadioMode"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>终端模式</strong></label>
            <span id="clientMode"></span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>终端关联的Radio信道</strong></label>
            <span id="clientChannel"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>用户名</strong></label>
            <span id="portalUserName"></span>
        </div>     
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>认证方式</strong></label>
            <span id="portalAuthType"></span>
        </div>  
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>portal 上线时间</strong></label>
            <span id="portalOnlineTime"></span>
        </div> 
    
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>终端发送报文字节数</strong></label>
            <span id="clientTxBytes">无</span><span> B</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>终端接收报文字节数</strong></label>
            <span id="clientRxBytes">无</span>
            <span> B</span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>终端发送报文数</strong></label>
            <span id="clientTxPackets">无</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3  control-label "><strong>终端接收报文数</strong></label>
            <span id="clientRxPackets">无</span>
        </div>
        <div class="form-group detail-even">
            <label class="col-sm-3  control-label "><strong>协商速率</strong></label>
            <span id="NegoMaxRate"></span><span> Mbps</span>
        </div>                
    </div>
</form>
</div>
<iframe id="exportFile" name="exportFile" style="display: none" ></iframe>
<div id="clients_rc" class="rc-define"
    LIST_HEADER="MAC地址,IP地址,终端厂商,AP,SSID"
    LIST_HEADER_SP="MAC地址,IP地址,AP,关联的Radio类型,终端模式,关联的Radio信道,协商速率(Mbps)"
    LIST_HEADER_TJ="MAC地址,IP地址,AP,发送速率(Kbps),接收速率(Kbps)"
    LIST_HEADER_YH="MAC地址,IP地址,SSID,用户名,认证方式,认证时间"
    LIST_HEADER_LX="MAC地址,IP地址,用户名,认证方式,portal 上线时间"
    LIST_QOSMODE="注销用户，成功！请稍后刷新页面"
    LIST_QSMODE="注销用户，失败！请重新注销用户"
     LIST_QSMODE_3="注销用户，失败！设备连接超时"
     LIST_QSMODE_4="注销用户，失败！主链接断开"
    SEC_TYPE="注销全部用户，成功！请稍后刷新页面"
    SEC_TYPEFAIL="注销全部用户，失败！请重新注销用户"
     SEC_TYPEFAIL_3="注销全部用户，失败！设备连接超时"
     SEC_TYPEFAIL_4="注销全部用户，失败！主链接断开"
    SAC_WLEEOP="导出失败"
     aiyaoption_title="客户端统计"
     aiyaoption_oktext="关闭"
     unknown = "未知"

    >
</div>