<div class="container-fluid">
    <div class="btn_h_return" ng-click="return()"></div>
        <div class="col-xs-12 app-colum">
            <div class="app-box no-height">
                <div class="box-footer">
                    <span class="title">Authenticated Client Online History</span>
                </div>
                <div class="box-body no-height" style="padding:0px 20px;">
                    <div class="form-group col-sm-12" id="anniumen">
                        <div class="radioAnNiu" style="margin-top:10px;">
                            <input id="jiben" type="radio" name="sanzhong-info" checked ng-click="clickRadio('basicInfo')">
                            <label for="jiben" style="margin-right:30px;">Day</label>
                            <input id="shepin" type="radio" name="sanzhong-info" ng-click="clickRadio('RadioInfo')">
                            <label for="shepin" style="margin-right:30px;">Week</label>
                            <input id="tongji" type="radio" name="sanzhong-info" ng-click="clickRadio('StatisticsInfo')">
                            <label for="tongji" style="margin-right:30px;">Month</label>
                                                                        
                        </div>
                    </div>
    <br /><br /><br />

                    <div class="box-body no-height">
                        <button class="btn btn-cus" ng-click="fresh()">Refresh</button>
                        <button class="btn btn-cus" ng-disabled="unexport" ng-click="export()" ng-if="permission.execute">Export</button>
                        <div bs-Table="basicInfo"></div>
                    </div>
                                       
                </div>
            </div>
        </div>
</div>
<iframe class="hide" id="exportFile" name="exportFile"></iframe>
<div id="clients_rc" class="rc-define" 
    LIST_HEADER="Username,IP Address,MAC Address,Authentication Method,Uplink Traffic(MB),Downlink Traffic(MB),Associated At,Online Duration"
    SAC_WLEEOP="Exportation failed"   
    >
</div>