<div class="btn_h_return" ng-click="onReturn();"></div>
    <div class="col-xs-12 app-colum">
        <div class="app-box no-height">
            <div class="box-footer">
                <span class="title">AP信息详情({{ nameFaild }})</span>
            </div>
            <div class="box-body no-height" >
                <div class="btn btn-cus" ng-click="refresh()">刷新</div>
                <div bs-table="clients_list_jb" ></div>
            </div>
        </div>
    </div>

<div id="clients_rc" class="rc-define"
     BUTTON_CANCEL="在线"
     EXPORT_LOG="离线"   
     LIST_HEADER="AP名称,AP型号,序列号,MAC地址,AP组名称,在线时长,设备状态"
    
></div>


