<style>
    .clienttrail_detail .app-box {
        outline: 1px solid #dedddd;
    }
    .clienttrail_detail .box-footer{
        background:#EDF9F7;
        height: 53px;
        line-height: 53px;
    }

    .clienttrail_detail .top {
        display: inline-block;
        margin-left: 20px;
    }

    .clienttrail_detail .right1 {
        margin-left: 20px;
        background:#fff;
        vertical-align: middle;
        height:36px;
        line-height:36px;
        padding:0 8px;
        position:relative;
        /*width:256px;*/
        z-index:999;
        /*overflow:hidden;*/
        box-sizing:border-box;
        display:none;
    }
    .clienttrail_detail .right2{
        margin-left: 20px;
        display: none;
        vertical-align: middle;
        height:36px;
        line-height:36px;
        padding:0 8px;
        position:relative;
    }

    .clienttrail_detail .datetimerange {
        width: 200px !important;
        margin: 0 !important;
    }
    .clienttrail_detail .clientMac{
        display:inline-block;
        width: 130px !important;
        margin: 0 !important;
        border:none;

    }
    /*.search_icon{
        display:inline-block;
        background:url(../position/cocos/res/icon-search.png);
        width:20px;
        height:20px;
        position:relative;
        right:8px;
        top:5px;
    }*/

    .clickUp{
        display:inline-block;
        background:url(../clienttrail0/img/icon-clickUp.png);
        background-size:cover;
        width:26px;
        height:20px;
        position:relative;
        right:0;
        top:5px;
        cursor:pointer;
    }
    .clickDown{
        display:inline-block;
        background:url(../clienttrail0/img/icon-clickDown.png);
        background-size:cover;
        width:26px;
        height:20px;
        position:relative;
        right:0;
        top:5px;
        cursor:pointer;
    }
    .clienttrail_detail .interval {
        width: 130px !important;
        height:28px!important;
        line-height:28px;
        margin: 0 !important;
    }
    .clienttrail_detail .client_history{
        width:216px;
        height:0;
        overflow:hidden;
        position:absolute;
        /*bottom:-210px;*/
        left:0;
        background:#fff;
        box-shadow: 1px 2px 2px 1px rgba(113, 152, 189, 0.2);
        -webkit-box-shadow: 1px 2px 2px 1px rgba(113, 152, 189, 0.2);
        border-top:none;
        z-index:9999;
        padding:0 28px;
        box-sizing:border-box;
    }
    .clienttrail_detail .history_div{
        overflow:hidden;
    }
    .clienttrail_detail .history_btn{
        width:150px;
        height:28px;
        background: #4ec1b2;
        color: rgba(255,255,255,0.5);
        line-height: 28px;
        padding: 0 10px 0 12px;
        border-radius: 2px;
        text-align: center;
        border: none;
        margin-top:28px;
    }
    .clienttrail_detail #refresh,.clienttrail_detail #back{
        cursor:pointer;
    }
    .clienttrail_detail .daterangepicker table thead tr th{
        background:#4ec1b2!important;
    }
    .clienttrail_detail .daterangepicker td.active, .clienttrail_detail .daterangepicker td.active:hover{
        background-color:#4ec1b2!important;
    }
    .clienttrail_detail #myCanvas{
        overflow:hidden;
    }
    .clienttrail_detail .options{
        display:inline-block;
        float:right;
        margin-right:20px;
    }
    .clienttrail_detail .options_ul{
        list-style:none;
        overflow:hidden;
    }
    .clienttrail_detail .options_ul li{
        list-style:none;
        float:left;
        width:72px;
        text-align:center;
        cursor:pointer;
        height:36px;
        box-sizing:border-box;
        margin-top:7px;
        line-height:30px;
    }
    .clienttrail_detail .options_left{
        border:solid 3px #4ec1b2;
    }
    .clienttrail_detail .options_right{
        border:solid 3px #4ec1b2
    }
    .clienttrail_detail .active_li{
        background:#4ec1b2;
        color:#fff;
    }
    .clienttrail_detail #err_footer_interval{
        width:150px;
        color: #47495d;
        font-size: 12px;
        font-weight: normal;
        display: none;
        background: #fce6e6;
       // padding: 0px 10px;
        line-height: 22px;
        border: 1px solid #df443e;
        margin-top: 1px;
        border-radius: 5px;
        position:absolute;
        bottom:-30px;
        left:0;
    }
    .clienttrail_detail .table-condensed thead tr:nth-of-type(2) th{
        background:#fff!important;
    }
</style>
<div class="clienttrail_detail">
    <div style="overflow:hidden;border:1px solid #aaa;width:1100px;margin:0 auto">
                <div style="width:1100px;height:50px;line-height:50px;background:#EDF9F7;border-bottom:solid 1px #aaa">
                    <div class="top">Map:<span class="mapName"></span></div>
                    <div class="top"  id="refresh" ng-click="refresh()">
                        <img src="../clienttrail0/img/icon-refresh.png"/>
                        <span>Refresh</span>
                    </div>
                    <div class="top" id="back" ng-click="back()">
                        <img src="../clienttrail0/img/icon-back.png"/>
                        <span>Back</span>
                    </div>
                    <div class="top" id="real_mac">
                        <span>MAC：</span>
                        <span id="clientMac1" class="clientMac"></span>
                    </div>
                    <div class="right1">
                        <span>MAC：</span>
                        <span id="clientMac" class="clientMac"></span>
                        <!--<span class="search_icon"></span>-->
                        <span id="slide" class="clickUp" ng-click="slideFn($event)"></span>
                        <div class="client_history">
                            <div class="history_div">
                                <div class="col-xs-12">
                                    <span class="search_span">Select a period:</span>
                                    <input id="daterange" placeholder="Select a period" class="daterange time-select">
                                </div>
                                <!--ctrl="daterang"-->
                                <!--class="daterange time-select" -->
                                <div class="col-xs-12">
                                    <span class="search_span">Interval:</span>
                                    <input id="footer_interval" class="interval" type="number" min="10" value="10" maxlength=5
                                           clientidmode="Static" placeholder="10"/>
                                    <span class="search_span" style="margin-left:5px">s</span>
                                    <label class="input-label" id="err_footer_interval">A minimum of 10 seconds.</label>
                                </div>
                                <div class="col-xs-12">
                                    <button class="history_btn btn" ng-click="historyFn()">Query</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="options" id="options">
                        <ul class="options_ul">
                            <li class="options_left active_li" ng-click="realOrHis($event)">Realtime</li>
                            <li class="options_right" ng-click="realOrHis($event)">History</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12" style="width:1100px;">
                    <div class="" id="MyCanvas" style="width:1050px;margin:0 auto;">
                        <canvas id="Canvas1"></canvas>
                    </div>
                </div>

    </div>
</div>
<div id="detail_rc"
     DRP_APPLYLABEL = "OK"
     DRP_CANCELLABEL = "Cancel"
     DRP_FROMLABEL = "起始时间"
     DRP_TOLABEL = "结束时间"
     GETNOWFAILED_INFO="Failed to obtain the realtime trace."
     GETHISTORYFAILED_INFO="Failed to obtain the history trace."
     GETMAPFAILED_INFO="Failed to obtain the picture."
     INPUTJIANGE_INFO="Please enter an interval."
     INPUTMORE_INFO="Aminimum of 10 seconds."
     DRP_MONTHNAMES = "Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec"
     >
</div>
</div>









