<style>
    .fa.fa-style, .btn:hover i{
        color: #FFFFFF;
        font-size: 16px;
    }
    .title-fontStyle{
        color:#000;
    }
</style>

<div class="page-row">
    <div class="col-xs-12 app-colum left-block">
        <div class="app-box">
            <div class="box-footer"><!-- title -->
                <span class="title">Security Policies</span>
            </div>
            <div class="box-body no-height pt-clear"><!-- body -->
                <div class="btn-group col-xs-12" id="APListToolbar" ng-if="permission.write"><!-- button -->
                    <button class="btn btn-cus" ng-disabled="modBtnDisable" ng-click="clickModifyBtn()">
                        <i class="btn-icon icon-add"></i>Modify
                    </button>
                </div>
                <div class="col-xs-12"><!-- table -->
                    <div class="simple-list" bs-table="APListOpts"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- detail pop -->
<div bs-modal="detailModalOpts">
    <div detail-pop="detailPopData"></div>
</div>

<!-- modify pop -->
<div bs-modal="modifyModalOpts">
    <div modify-pop="modifyPopData"></div>
</div>

<!--



<div bs-modal="modifyWIPSModalOpts">

</div>-->

<div id="security_rc"
     off_on = "Off,On"
     ap_list_header = "AP Name, Radio, NAT-Configured Client, WIPS, Wireless Probing"
     model_header = "WIPS"
     msg_info="Security policy configured successfully.,Security policy configured failed."></div>

