<div class="col-xs-6 app-colum  ">
    <div class="app-box default-height">
        <div id="detect_container">
            <div class="sysinfo-footer">
                <span class="title">接口流量</span>
                <div class="text-right link-container">
                    <div>
                        <a type="button" class="refresh" id="refresh_IntFlow" value="4">
                            <i class="refresh-icon icon"></i>
                        </a>
                        <a type="button" class="filter" id="filter_IntFlow">
                            <i class="filter-icon icon"></i>
                        </a>

                        <a type="button" class="link-detail" id="interface_detail" href="drs.interfaceinfo" title="更多">
                            <i class="icon detail-icon"/>
                        </a>
                    </div>
                    <div class="hide" id="filterHide_IntFlow" value="1">
                        <div class="filter-container ">
                            <div class="form-horizontal form-bordered form edit">
                                <div class="form-group ">
                                    <label >统计时间:&nbsp</label>
                                    <input type="radio" id="onedayIntFlow" checked name="IntFlow" value="0">
                                    <label for="onedayIntFlow">本日&nbsp</label>
                                    <input type="radio" id="aweekIntFlow" name="IntFlow" value="1">
                                    <label for="aweekIntFlow">本周</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" list-height sysinfo-body">
                <div id="SpiFlow_list" class="simple-list"></div>
            </div>
        </div>
    </div>
</div>