<div class="col-xs-6 app-colum right-block">
    <div class="app-box default-height">
        <div id="detect_container">
            <div class="sysinfo-footer">
                <span class="title">用户流量</span>
                <div class="text-right link-container">
                    <div>
                        <a type="button" class="refresh" id="refresh_user" value="5">
                            <i class="refresh-icon icon"></i>
                        </a>
                        <a type="button" class="filter" id="filter_UserFlow">
                            <i class="filter-icon icon"></i>
                        </a>
                        <a type="button" class="link-detail" id="userFlow_detail" href="drs.userinfo" title="更多">
                            <i class="icon detail-icon"/>
                        </a>
                    </div>
                    <div class="hide" id="filter_UserFlowDate" value="1">
                        <div class="filter-container">
                            <div class="form-horizontal form-bordered form edit">
                                <div class="form-group">
                                    <label >统计时间:&nbsp</label>
                                    <input type="radio" id="UserFlowOneday" checked name="UserFlowDate" value="0">
                                    <label for="UserFlowOneday">本日&nbsp</label>
                                    <input type="radio" id="UserFlowAweekCom" name="UserFlowDate" value="1">
                                    <label for="UserFlowAweekCom">本周</label>
                                </div>
                                <div class="form-group">
                                    <label >报文方向:&nbsp</label>
                                    <input type="radio" id="UserFlowUp" checked name="UserFlowPkt" value="0">
                                    <label for="UserFlowUp">上行&nbsp</label>
                                    <input type="radio" id="UserFlowDown" name="UserFlowPkt" value="1">
                                    <label for="UserFlowDown">下行</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-height sysinfo-body">
                <div id="FlowUpDatail_list" class="simple-list"></div>
            </div>
        </div>
    </div>
</div>