<div class="container-fluid">
    <div class="btn_h_return" ng-click="return()"></div>
    <div class="col-xs-12 app-colum">
        <div class="app-box no-height">
            <div class="box-footer">
                <span class="title">用户列表</span>
            </div>
            <div class="box-body no-height">
                <div class="btn btn-cus" ng-click="fresh()">刷新</div>
                <div bs-Table="options"></div>
            </div>
        </div>
    </div>
</div>

<div id="concern_rc" class="rc-define"
     concern = "关注的应用名,用户名,关注的时间"
>
</div>
