<div class="dashboard container-fluid" ng-init="
        RC_TITLE_WISER='无线服务';

        RC_TITLE_AUTH_TYPE_NOAUTH = '不认证';
        RC_TITLE_AUTH_TYPE_ONEKEY = '一键登录';
        RC_TITLE_AUTH_TYPE_ACCOUNT = '账号认证';

        RC_TITLE_WISER_STATUS_ON = '开启';
        RC_TITLE_WISER_STATUS_OFF = '关闭';

        RC_TABLE_COLUMN_SSID = 'SSID';
        RC_TABLE_COLUMN_SSID_STATUS = 'SSID状态';
        RC_TABLE_COLUMN_AUTH_TYPE = '认证方式';
        RC_TABLE_COLUMN_CLIENT_COUNT = '客户端数';
        RC_TABLE_COLUMN_AP_COUNT = '绑定AP数';

    ">
    <div class="page-row">
        <div class="col-xs-12 app-colum left-block">
            <div class="app-box no-bk-color no-height default-bottom">
                <div class="box-footer ">
                    <span class="title">{{RC_TITLE_WISER}}</span>
                </div>
                <div class="sysinfo-body box-body no-height">
                    <div bs-table="option"></div>
                </div>
            </div>
        </div>
    </div>
</div>