

            <!--<div>
                <button class="btn btn-cus" type="button" ng-click="upgrade()" ng-disabled="isCheck">
                    升级版本
                </button>
                <button class="btn btn-cus" type="button" ng-click="download()">
                    离线下载
                </button>
            </div>-->
<div class="update_model">
    <div class="table-top-operates">
        <div class="pull-left">
            <i class="ope ope-refresh"></i>
            <b class="split-line"></b>
            <button class="btn btn-cus" type="button" ng-click="upgrade()" ng-disabled="isCheck">
                升级版本
            </button>
            <button class="btn btn-cus" type="button" ng-click="download()">
                离线下载
            </button>
        </div>
        <div class="pull-right">
            设备型号：123456
        </div>
    </div>
    <table bs-table="upgrad"></table>
</div>


<!--弹出框-->
<div>
    <form class="form edit" name="versionForm" bs-modal="updateOption">
        <div class="form-group" style="position:relative;left:20px;color:#3eb0a1" ng-show="modalForm.onlineUpdate">
            <label class="col-sm-8" style="color:#3eb0a1">说明：若当前设备正在升级，该设备将不执行此次升级操作</label>
        </div>
        <div class="form-group" style="position:relative;left:20px;">
            <label class="col-sm-2">版本选择：</label>
            <div class="col-sm-9">
                <div style="display: inline-block;">
                    <select class="singleSelect" style="min-width: 200px" ng-model="modalForm.selectVersion" ng-options="v.value as v.text for v in versionSelectorList">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" style="position:relative;left:20px;" ng-show="modalForm.onlineUpdate">
            <label class="col-sm-2">升级方式：</label>
            <div class="col-sm-9" style="padding-left: 0">
                <div class="col-sm-12">
                    <div class="xb-input xb-radio">
                        <input type="radio" class="input-element" id="update1" name="updateType" value="1"
                               ng-model="updateType.versionType" ng-click="checked()"/>
                        <span class="input-icon radio-icon " ng-class="{'checked': updateType.versionType == 1}"></span>
                        <label for="update1" class="input-label"></label>
                    </div>
                    <label for="update1">升级并重启</label>
                </div>
                <br><br>
                <div class="col-sm-12">
                    <div class="xb-input xb-radio">
                        <input type="radio" class="input-element" id="update2" name="updateType" value="2"
                               ng-model="updateType.versionType" ng-click="checked()"/>
                        <span class="input-icon radio-icon " ng-class="{'checked': updateType.versionType == 2}"></span>
                        <label for="update2" class="input-label"></label>
                    </div>
                    <label for="update2">升级且保存配置并重启</label>
                </div>
                <br><br>
                <div class="col-sm-12">
                    <div class="xb-input xb-radio">
                        <input type="radio" class="input-element" id="update3" name="updateType" value="3"
                               ng-model="updateType.versionType" ng-click="checked()"/>
                        <span class="input-icon radio-icon " ng-class="{'checked': updateType.versionType == 3}"></span>
                        <label for="update3" class="input-label"></label>
                    </div>
                    <label for="update3">仅升级不重启<span style="padding-left:10px;color:#9DA9B8;">(下次重启后生效)</span></label>
                </div>
            </div>

        </div>

    </form>
</div>

<div id="device_infor_rc" class="rc-define"
     Version_HEADER="AP名称,序列号,最新版本,上次升级时间,升级进度,升级状态"
     DOWNLOAD="升级版本"
     VERSION_TYPE=",正式版本,开发版本,安全补丁版本"
     VER_ERROR="正在升级,升级成功,下载失败,设备空间不足,保存配置失败,其他错误"
     DOWNLOAD_ERROR="升级成功,升级失败,只能选择一个版本"
     SELECT="确认提示"
     PERCENT="N/A"
     Versioning="当前有版本正在升级,暂不可升级"
     VERXION_FAIL="升级失败"
     VERXION_SUC="正在升级中"
     VERXION_SUCESS="升级成功"
     MESSAGE="正在升级，请稍等">
</div>