<style>
    .fl{
        margin-left:87px !important;
    }
    .fl2{
        margin-left:81px !important;
    }
    .hd{
        overflow: hidden !important;
    }
    .lh{
        line-height: 32px;
    }
</style>
<!-- 无线服务表格 -->
<div>
    <div class="panel panel-default">          
        <div class="panel-heading">
            <h3 class="panel-title">Wireless Service Configuration</h3>
        </div>
                   
        <div class="panel-body">
            <div class="btn btn-cus" ng-click="addTemplate()">
                <i class="btn-icon icon-add"></i>Add
            </div>
            <div class="btn btn-cus" ng-click="synConfig()">Synchronize</div>
            <div bs-Table="serverTable"></div>
        </div>                      
        
    </div>
</div>
         
<!-- 已绑定AP组 -->
<div bs-modal="apGroupButtons.options">
   <div bs-Table="apGroupTable"></div>
</div> 
           
<!-- 已绑定ap -->
<div bs-modal="apButtons.options">
   <div bs-Table="apTable"></div>
</div> 

<!-- 增加无线服务modal -->
<form novalidate role="form" name="authForm" class="hd" ng-submit="submitForm(authForm.$valid)"  bs-modal="template.options" >          
    <div class="form-group row">
        <label class="col-sm-3 control-label required lh">Name</label>
        <div>
            <input type="text" id="server" name="server" class="string big form-control " required 
            ng-model="authInfo.server" ng-minlength="1" ng-maxlength="63" ng-pattern='/^[a-zA-Z0-9]+$/'>
            <label class="info-explain">(1 to 63 letters or digits)</label>

            <label ng-if="authForm.server.$error.required && authForm.server.$touched"  style="color:red">This information is required</label>
            <label ng-if="authForm.server.$error.pattern && authForm.server.$dirty"  style="color:red">Valid characters include letters or digits only.</label> 
            <label ng-if="authForm.server.$error.maxlength && authForm.server.$dirty"  style="color:red">The information must contain maxinum of 63 characters</label>       
        </div>
    </div>
            
    <div class="form-group row">
        <label class="col-sm-3 control-label required lh">SSID</label>
        <div>
            <input type="text" name="SSID" class="string big form-control" required 
            ng-model="authInfo.SSID" ng-minlength="1" ng-maxlength="32" ng-pattern='/^[^&=\\?%]+$/'>
            <label class="info-explain">(1 to 32 letters)</label>

            <label ng-if="authForm.SSID.$error.required && authForm.SSID.$touched"  style="color:red">This information is required</label>
            <label ng-if="authForm.SSID.$error.maxlength && authForm.SSID.$dirty"  style="color:red">The information must contain maxinum of 32 characters</label>
            <label ng-if="authForm.SSID.$error.pattern && authForm.SSID.$dirty"   style="color:red">The information is not allowed to contain special characters &=\?%</label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">Encryption</label>  
        <div>                                   
            <input id="pwdOn" name="pwdState" type="radio" value="pwdOn" 
            ng-click="pwdOn()" ng-model="authInfo.pwdState">
            <label for="pwdOn">Yes</label>

            <input id="pwdOff" class="fl" name="pwdState" type="radio" value="pwdOff"
            ng-click="pwdOff()" ng-model="authInfo.pwdState">  
            <label for="pwdOff">No</label>               
                          
            <div ng-if="pwd" ng-init="showPwd1=true" class="col-sm-offset-3">    
                <input type="password" name="password" class="string big" required
                ng-model="authInfo.pwd" ng-show="showPwd1" ng-pattern='/^[a-zA-Z0-9]{8,63}$/'
                ng-minlength="" ng-maxlength="32">

                <input type="text" name="text" class="string big" required
                ng-model="authInfo.pwd" ng-hide="showPwd1" ng-pattern='/^[a-zA-Z0-9]{8,63}$/'
                >

                <span class="icon_eye" ng-class="{show_word: !showPwd1}"  
                ng-click="showPwd1=!showPwd1"></span>                    
                
                <label ng-if="(authForm.password.$error.required && authForm.text.$error.required)&&(authForm.password.$touched|| authForm.text.$touched)"  style="color:red">This information is required</label>
                
                <label ng-if="(authForm.password.$error.pattern && authForm.password.$dirty) ||(authForm.text.$error.pattern&&authForm.text.$dirty)"  style="color:red">Invalid password length or format</label>
                
                <div>
                   <label class="info-explain">Note: The password is a string of 8 to 63 characters that can contain digits and letters</label>
                </div>               
            </div>        
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">Wireless Service</label>  
        <div>                   
            <input id="wireless_open" name="wirelessServer" type="radio" value="wireless_open"
             ng-model="authInfo.wirelessServer">
            <label for="wireless_open">Enable</label>

            <input id="wireless_closed"  name="wirelessServer" type="radio" value="wireless_closed" ng-model="authInfo.wirelessServer" style="margin-left:57px">  
            <label for="wireless_closed">Disable</label>                           
        </div>
    </div> 

    <div class="form-group row">
        <label class="col-sm-3 control-label">Authentication method</label>  
        <div>                   
            <input id="auth_on" name="authType" type="radio" value="auth_on" 
            ng-model="authInfo.authType" ng-click="auth_on()">
            <label for="auth_on">Authentication</label>

            <input id="auth_off" name="authType" type="radio" value="auth_off" 
            ng-model="authInfo.authType" ng-click="auth_off()" style="margin-left:20px">  
            <label for="auth_off">No authentication</label>                           
        </div>
    </div> 

    <div ng-show="auth">
        <div class="form-group row">
            <label class="col-sm-3 control-label lh">Authentication template</label> 
            <select id="authSelect" class="big"  ng-model="authInfo.authSelect" 
            ng-options="act for act in authCfgTemplates"></select>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label lh">Page template</label> 
            <select id="pageSelect" class="big" ng-model="authInfo.pageSelect" 
            ng-options="act for act  in themeNames"></select>                                                
        </div>      
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">To bind APs</label>
        <div >                   
            <input type="radio" id="bindOn" name="bind" value="bindOn" 
             ng-model="authInfo.bind" ng-click="bindOn()">
            <label for="bindOn">Yes</label>          
            <input type="radio" id="bindOff" class="fl2" name="bind" value="bindOff"
             ng-model="authInfo.bind" ng-click="bindOff()">
            <label for="bindOff">No</label>                
        </div>  
    </div>

    <div class="form-group row">                     
        <label class="col-sm-6 control-label" style="margin-left:15px;color:red">Note: For the configuration to take effect,please configure the wireless service on divices</label>
    </div>

    <div align = "center">
        <button class="btn btn-cus" ng-disabled="authForm.$invalid" 
        ng-click="ssidUpdate()">submit</button>
    </div>
</form>                                               
 
<div id="serverConfig_rc" class="rc-define"
        CONFIG_HEADER="Service Name,SSID,Authentication Method,Status,Bound AP Groups,Bound APs"  
        BIND_APGROUP_HEADER="AP Group Name,AP Group Describle,ModelNum"
        BIND_AP_HEADER="AP Name,Serial Number,Model,radioNum,BelongAPGroup"     
        STATUS="Enabled,Disabled" 
        MODAL_TITLE="Add Wireless Service"         
		OPERAT="Operation"
		AUTH_TYPE=" Authentication,Anonymous Authentication,Account Authentication"
		SYN_SUC="Synchronization succeeded"
		SYN_FAIL="Synchronization failed"
        SER_REPIT="The wireless service already exists"  
        DEL_CON="Are you sure you want to delete the selected data?"      
        DEL_SUC="SSID successfully deleted"
        DEL_FAIL="Failed to delete the SSID"
        ADD_SUC="Service added successfully"
        ADD_FAIL="Failed to add the service"
        PUBLISH_FAIL="Wireless service added successfully but authentication configuration failed.Please modify authentication configuration"
        EDIT="edit"
        BIND="bind"
        REMOVE="delete"
        BIND_APGROUP_TITLE="have bind AP Group List"
        BIND_AP_TITLE="have bind AP List"
        MAIN="Main connection is not found"
></div>