<style>
    .fa.fa-style, .btn:hover i{
        color: #FFFFFF;
        font-size: 16px;
    }
    html .app-colum .app-box .box-body.pt-clear,
    body .app-colum .app-box .box-body.pt-clear{
        padding-top: 0;
    }
    .title-fontStyle{
        color:#000;
    }

</style>

<div class="page-row">
    <div class="col-xs-12 app-colum left-block">
        <div class="app-box">
            <div class="box-footer">
                <span class="title">Security Policy</span>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-2 ml20">
                    <label>
                        <input class="input-element"
                           type="radio"
                           ng-checked="isChecked.APG"
                           ng-click="clickRadio('APG')">
                        AP Group
                    </label>
                </div>
                <div class="col-xs-2">
                    <label>
                        <input class="input-element"
                            type="radio" 
                            ng-checked="!isChecked.APG"
                            ng-click="clickRadio('AP')">
                        AP
                    </label>
                </div>
            </div>
            <div class="box-body no-height pt-clear">
                <div ng-show="isChecked.APG">
                    <div class="btn-group" id="APGBtnGroup" ng-if="permission.write" ng-show="isChecked.APG">
                        <button class="btn btn-cus"
                             ng-disabled="modBtnDisable"
                             ng-click="click.ModifyWIPSBtn()">
                            <i class="btn-icon icon-add"></i>Modify Security Settings
                        </button>
                    </div>
                    <div class="simple-list" bs-table="APGListOpts"></div>
                </div>
                <div ng-hide="isChecked.APG">
                    <div class="btn-group" id="APBtnGroup" ng-if="permission.write" ng-hide="isChecked.APG">
                        <button class="btn btn-cus"
                             ng-disabled="modBtnDisable"
                             ng-click="click.ModifyWIPSBtn()">
                            <i class="btn-icon icon-add"></i>Modify Security Settings
                        </button>
                    </div>
                    <div class="simple-list" bs-table="APListOpts"></div>
                </div>                           
            </div>
        </div>
    </div>
</div>

<div bs-modal="WIPSStatusModalOpts">
    <form class="form-horizontal form">
        <div class="form-group">
            <div class="col-sm-4 ml20 title-fontStyle"
                ng-bind="isChecked.APG?'AP Group Name':'AP Name'"></div>
            <div class="col-sm-4"
                ng-bind="WIPSStatus.name"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 ml20 title-fontStyle">Radio</div>
            <div class="col-sm-4" ng-bind="WIPSStatus.radio"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 ml20 title-fontStyle">Phishing detection</div>
            <div class="col-sm-4" ng-bind="WIPSStatus.phishStatus"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 ml20 title-fontStyle">Phishing countermeasures</div>
            <div class="col-sm-4" ng-bind="WIPSStatus.ctmPhishStatus"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 ml20 title-fontStyle">Flood attack detection</div>
            <div class="col-sm-4" ng-bind="WIPSStatus.floodStatus"></div>
        </div>
    </form>
</div>

<div bs-modal="modifyWIPSModalOpts">
    <form class="form-horizontal form">
        <div class="form-group">
            <label class="col-sm-2 control-label">NAT-configured clients</label>
            <div class="col-sm-10">
                <div class="xb-input xb-checkbox">
                    <input class="switch input-element"
                           id="natDetectStatus"
                           type="checkbox"
                           ng-model="modifyModal.natDetectStatus"/>
                    <span class="input-icon checkbox-icon switch"
                          ng-class="{checked: modifyModal.natDetectStatus}"></span>
                    <label class="input-label" for="natDetectStatus"></label>
                </div>
                <br/>
                <label class="info-explain">Note: Detect whether a wireless client shares WLAN with rogue clients.</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Wireless probing</label>
            <div class="col-sm-10">
                <div class="xb-input xb-checkbox">
                    <input class="switch input-element"
                           id="probeStatus"
                           type="checkbox"
                           ng-model="modifyModal.probeStatus"/>
                    <span class="input-icon checkbox-icon switch"
                          ng-class="{checked: modifyModal.probeStatus}"></span>
                    <label class="input-label" for="probeStatus"></label>
                </div>
                <br/>
                <label class="info-explain">Note: Probing APs scan channels and collect wireless device information.</label>
            </div>
        </div>
        <div class="form-group" id="bb_block">
            <label class="col-sm-2 control-label">WIPS</label>
            <div class="col-sm-10">
                <div>
                    <div class="WipsBlock">
                        <input type="checkbox" id="phish" name="phish" ng-model="modifyModal.phishStatus"/>
                        <label for="phish">Detect phishing</label><br/>
                        <label class="info-explain">Note: Detect wireless services similar to this WLAN or a well-known hotspot, MAC address spoofing, and beacon frame spoofing.</label>
                    </div>
                    <div class="WipsBlock">
                        <input type="checkbox" id="ctmPhish" name="ctmPhish" ng-model="modifyModal.ctmPhishStatus"/>
                        <label for="ctmPhish">Take countermeasures against phishing</label><br/>
                        <label class="info-explain">Note: This feature disables attackers from operating correctly. Please use it with caution.</label>
                    </div>
                    <div class="WipsBlock">
                        <input type="checkbox" id="flood" name="flood" ng-model="modifyModal.floodStatus"/>
                        <label for="flood">Detect flood attacks</label><br/>
                        <label class="info-explain">Note: Attackers send a large number of packets of the same type in a short period to disable the attacked device from providing services.</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="RC"
     OFF_ON = "Off,On"
     APG_LIST_HEADER = "AP Group Name,Radio,NAT-Configured Client,WIPS,Wireless Probing"
     AP_LIST_HEADER = "AP Name,Radio,NAT-Configured Client, WIPS,Wireless Probing"
     MODAL_HEADER = "WIPS"
     MSG_INFO = "Security policy configured successfully.,Security policy configured failed.">
</div>