


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../smartcity/wiresafe/css/wiresafe.css">

</head>
<body>
	<div id="allmap" style="height:600px;" class="col-xs-9 app-colum left-black"></div>
	
	
	
		<div class="col-xs-3 app-colum left-black">
            <div class="app-box" style="height:600px;">
                <div class="city_wips">
                    <div class="city_wips_dev" >
                        <div class="city-wips-icon-ap" ></div>
                        <span class="city_wips_label">Sensor AP</span>
                        <span class="city_dev_number">3</span>
                    </div>
                    <div class="city_wips_dev">
                        <div class="city-wips-icon-rouge-ap"></div>
                        <span class="city_wips_label">Rouge AP</span>
                        <span class="city_dev_number">5</span>
                    </div>
                </div>
                <div class="city_wips" >
                    <div class="city_wips_dev" >
                        <div class="city-wips-icon-client"></div>
                        <span class="city_wips_label">授权客户端</span>
                        <span class="city_dev_number">9999</span>
                    </div>
                    <div style="margin-left: 12px" class="city_wips_dev">
                        <div class="city-wips-icon-unauthored-client"></div>
                        <span class="city_wips_label">未授权客户端</span>
                        <span class="city_dev_number">9999</span>
                    </div>
                </div>
                <div class="city_wips" >
                    <div style="margin-left:25px" class="city_wips_dev" >
                        <div class="city-wips-icon-attack"></div>
                        <span class="city_wips_label">攻击次数</span>
                        <span class="city_dev_number">9999</span>
                    </div>
                    <div style="margin-left:35px"  class="city_wips_dev">
                        <div class="city-wips-icon-reflect"></div>
                        <span class="city_wips_label">反制次数</span>
                        <span class="city_dev_number">9999</span>
                    </div>
                </div>
                <div class="city_wips" >
                    <div class="city_wips_dev" >
                        <button id= "wips_import" style="margin-left:20%"class="btn btn-apply">导出报表</button>
                        <label class="city_wips_state">当前反制状态 :</label>
                        <span style="font-size:16px" class="label">开启</span>
                    </div>
                </div>
            </div>
        </div>
		
		
</body>
