<div class="col-xs-12 app-colum">
    <div class="app-box no-height default-bottom">
        <div class="box-footer">
            <span class="title">认证模板</span>
        </div>
        <div class="box-body no-height">
            <div class="btn btn-cus" ng-click="addModal()" ng-if="permission.write"><i class="btn-icon icon-add"></i>添加</div>
            <div bs-table="auth_table"></div>
        </div>
    </div>
</div>
<form name="add_form" class="form clearfix edit" bs-modal="auth_modal">
    <div class="col-sm-6 response-block">
        <div class="form-group">
            <label class="col-sm-3 control-label required">认证模板</label>
            <div class="col-md-9">
                <input type="text" class="string big" required ng-maxlength="64" name="authCfgTemplateName" ng-model="add.authCfgTemplateName">
                <label class="info-explain">（1-64字符）</label>
                <div ng-show="add_form.authCfgTemplateName.$dirty" ng-messages="add_form.authCfgTemplateName.$error" style="display: inline-block;">
                    <label ng-message="required" class="error" style="display: inline-block;">该参数必须配置。</label>
                    <label ng-message="maxlength" class="error" style="display: inline-block;">1-64字符。</label>
                </div>
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-3 control-label">允许上网时长</label>
            <div class="col-md-9">
                <input type="text" class="string big" name="ONLINE_MAX_TIME" placeholder="360" ng-model="add.ONLINE_MAX_TIME" number-range="1,1440">
                <label class="info-explain">分钟（1-1440）</label>
                <label class="info-explain">说明：默认配置360，可以修改。</label>
                <div ng-show="add_form.ONLINE_MAX_TIME.$dirty" ng-messages="add_form.ONLINE_MAX_TIME.$error" style="display: inline-block;">
                    <label ng-message="numberRange" class="error" style="display: inline-block;">请输入1-1440之间的数字。</label>
                </div>
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-3 control-label">认证成功后跳转
                <span class="toggle" ng-click="wifi_show = !wifi_show">
                        <i class="icon-question-sign"></i></span></label>
            <div class="col-md-9">
                <input type="url" class="string big" placeholder="http:// 或 https://" name="URL_AFTER_AUTH" ng-model="add.URL_AFTER_AUTH" ng-maxlength="128">
                <div ng-show="add_form.URL_AFTER_AUTH.$dirty" ng-messages="add_form.URL_AFTER_AUTH.$error" style="display: inline-block;">
                    <label ng-message="url" class="error" style="display: inline-block;">请输入正确的路径。</label>
                    <label ng-message="maxlength" class="error" style="display: inline-block;">不能超过128位。</label>
                </div>
                <label class="info-help" ng-show="wifi_show" style="margin-top: 5px">默认配置www.h3c.com，可以修改。<br/>该项设置对“微信连Wi-Fi”认证方式不生效。</label>
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-3 control-label">闲置切断时长
                <span class="toggle" ng-click="warn_show = !warn_show">
                        <i class="icon-question-sign"></i></span>
            </label>
            <div class="col-md-9">
                <input type="text" class="string big" placeholder="30" ng-model="add.IDLE_CUT_TIME" name="IDLE_CUT_TIME" number-range="0,{{add.ONLINE_MAX_TIME||360}}">
                <label class="info-explain">（分钟）</label>
                <label class="info-explain"></label>
                <label class="info-help" ng-show="warn_show">闲置切断时长不能超过允许上网时长。<br/>配置为0时，闲置切断功能关闭。</label>
                <div ng-show="add_form.IDLE_CUT_TIME.$dirty" ng-messages="add_form.IDLE_CUT_TIME.$error" style="display: inline-block;">
                    <label ng-message="numberRange" class="error" style="display: inline-block;">请输入小于上网时长的数字。</label>
                </div>
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-3 control-label">闲置切断流量</label>
            <div class="col-md-9">
                <input type="text" class="string big" placeholder="10240" ng-model="add.IDLE_CUT_FLOW" name="IDLE_CUT_FLOW" number-range="1,1024000">
                <label class="info-explain">字节（1-1024000）</label>
                <div ng-show="add_form.IDLE_CUT_FLOW.$dirty" ng-messages="add_form.IDLE_CUT_FLOW.$error" style="display: inline-block;">
                    <label ng-message="numberRange" class="error" style="display: inline-block;">请输入1-1024000之间的数字。</label>
                </div>
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-3 control-label required">再次连接免认证</label>
            <div class="col-md-9">
                <div class="col-md-3">
                    <div class="xb-input xb-radio">
                        <input type="radio" id="session1" name="session" class="input-element" value="1" ng-model="add.no_sensation">
                        <span class="input-icon radio-icon" ng-class="{'checked':add.no_sensation == 1}" ></span>
                        <label class="input-label" for="session1"></label>
                    </div>
                    <label for="session1">开启</label>
                </div>
                <div class="col-md-3">
                    <div class="xb-input xb-radio">
                        <input type="radio" id="session2" name="session" class="input-element" value="0" ng-model="add.no_sensation">
                        <span ng-class="{'checked':add.no_sensation == 0}" class="input-icon radio-icon"></span>
                        <label class="input-label" for="session2"></label>
                    </div>
                    <label for="session2">关闭</label>
                </div>
                <div class="col-md-6" ng-if="add.no_sensation == 1">
                    <input type="checkbox" ng-model="add.MAC_TRIGER_PUSH_AD">
                    <label>推送广告页</label>
                </div>
                <div class="col-md-12 Learn-MAC" ng-show="add.no_sensation == 1">
                    <label>免认证时长</label>
                    <br>
                    <div class="Learn-Time">
                        <input type="text" class="digits big" name="unauthtime" placeholder="7" ng-model="add.NO_SENSATION_TIME" number-range="1,365">
                        <label class="info-explain">天（1-365）</label>
                    </div>
                    <label class="info-explain">说明：通过认证的用户在免认证期内上线无需重复认证。</label>
                    <div ng-show="add_form.unauthtime.$dirty" ng-messages="add_form.unauthtime.$error">
                        <label ng-message="numberRange" class="error" style="display: inline-block;">请输入1-365之间的数字。</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 response-block hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">一键上网</label>
            <div class="col-md-9">
                <div class="col-md-3">
                    <div class="xb-input xb-radio">
                        <input type="radio" id="add_authType1" name="add_authType" value="1" class="input-element" ng-model="add.authType">
                        <span class="input-icon radio-icon" ng-class="{'checked':add.authType == 1}"></span>
                        <label class="input-label" for="add_authType1"></label>
                    </div>
                    <label for="add_authType1">开启</label>
                </div>
                <div class="col-md-3">
                    <div class="xb-input xb-radio">
                        <input type="radio" id="add_authType2" name="add_authType" value="2" class="input-element" ng-model="add.authType">
                        <span class="input-icon radio-icon" ng-class="{'checked':add.authType == 2}"></span>
                        <label class="input-label" for="add_authType2"></label></div>
                    <label for="add_authType2">关闭</label>
                </div>
            </div>
        </div>
        <div ng-show="add.authType == 2">
            <div class="form-group">
                <label class="col-sm-3 control-label">短信认证</label>
                <div class="col-sm-9">
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_isEnableSms1" name="add_isEnableSms" ng-model="add.isEnableSms" value="1" class="input-element">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isEnableSms == 1}"></span>
                            <label class="input-label" for="add_isEnableSms1"></label></div>
                        <label for="add_isEnableSms1">开启</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_isEnableSms2" name="add_isEnableSms" ng-model="add.isEnableSms" value="0" class="input-element">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isEnableSms == 0}"></span>
                            <label class="input-label" for="add_isEnableSms2"></label>
                        </div>
                        <label for="add_isEnableSms2">关闭</label>
                    </div>
                    <div class="col-sm-8" ng-if="add.isEnableSms == 1">
                        <input id="rememberPhoneNumber" type="checkbox" ng-model="add.isEnableMacBind">
                        <label for="rememberPhoneNumber"> 记住手机号</label>
                        <div ng-show="add.isEnableMacBind">
                            <input type="text" class="digits big" placeholder="14" name="bindenabletime" ng-model="add.BIND_ENABLE_TIME" number-range="1,365">
                            <label class="info-explain">天（1-365）</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">微信公众号认证</label>
                <div class="col-sm-9">
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_chatauth1" name="add_isEnableWeixin" value="1" class="input-element" ng-model="add.isEnableWeixin">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isEnableWeixin == 1}"></span>
                            <label class="input-label" for="add_chatauth1"></label></div>
                        <label for="add_chatauth1">开启</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_chatauth2" name="add_isEnableWeixin" value="0" class="input-element" ng-model="add.isEnableWeixin">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isEnableWeixin == 0}"></span>
                            <label class="input-label" for="add_chatauth2"></label>
                        </div>
                        <label for="add_chatauth2">关闭</label>
                    </div>
                    <div class="col-sm-4" ng-if="add.isEnableWeixin == 1">
                        <select name="pubmessage" class="form-control" ng-model="add.pubmessage"
                                ng-options="pub.name as pub.name for pub in pubmessage">
                            <option value="" selected disabled>请选择公众号</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">微信连Wi-Fi</label>
                <div class="col-sm-9">
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_ifwifi1" name="add_isWeixinConnectWifi" value="1" class="input-element" ng-model="add.isWeixinConnectWifi">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isWeixinConnectWifi == 1}"></span>
                            <label class="input-label" for="add_ifwifi1"></label></div>
                        <label for="add_ifwifi1">开启</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_ifwifi12" name="add_isWeixinConnectWifi" value="0" class="input-element" ng-model="add.isWeixinConnectWifi">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isWeixinConnectWifi == 0}"></span>
                            <label class="input-label" for="add_ifwifi12"></label>
                        </div>
                        <label for="add_ifwifi12">关闭</label>
                    </div>
                    <div class="col-sm-4" ng-if="add.isWeixinConnectWifi == 1">
                        <select name="store" class="form-control" ng-model="add.store"
                                ng-options="s.shop_id as s.shop_name for s in storeList">
                            <option value="" selected disabled>请选择门店</option>
                        </select>
                    </div>
                    <div class="col-xs-4" ng-if="add.isWeixinConnectWifi == 1">
                        <input id="add_forcedAttention" name="add_isForcedAttention" type="checkbox"
                               ng-model="add.isForcedAttention">
                        <label for="add_forcedAttention"> 强制关注</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">固定账号认证</label>
                <div class="col-sm-9">
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_isEnableAccount1" name="add_isEnableAccount" value="1" class="input-element" ng-model="add.isEnableAccount">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isEnableAccount == 1}"></span>
                            <label class="input-label" for="add_isEnableAccount1"></label>
                        </div>
                        <label for="add_isEnableAccount1">开启</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="xb-input xb-radio">
                            <input type="radio" id="add_isEnableAccount2" name="add_isEnableAccount" value="0" class="input-element" ng-model="add.isEnableAccount">
                            <span class="input-icon radio-icon" ng-class="{'checked':add.isEnableAccount == 0}"></span>
                            <label class="input-label" for="add_isEnableAccount2"></label>
                        </div>
                        <label for="add_isEnableAccount2">关闭</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<div class="read_rc" id="authtemplate_detail_rc"
     first-get="请求失败，请刷新重试"
     table-title="认证模板,一键登录,短信认证,微信认证,微信连Wi-Fi,固定账号认证,开启,关闭"
     delete-message="确定要删除选中的数据吗？"
     prompt-message="请选择公众号,请选择门店,请至少选择一种认证方式,修改成功,删除成功,添加成功,增加认证模板"
     fail-message="该模板已经发布，微信连Wi-Fi不能修改,允许上网时长必须为纯数字且在1-1440之间,url格式错误,闲置切断时长必须为整数且不能超过允许上网时长,闲置切断流量为纯数字且在1-1024000k之间,认证模板已存在,修改失败,添加失败,认证模板已被发布管理使用，不能删除,删除失败,未认证公众号不能开启强制关注">
</div>
