<div ng-init='
    stBindAP_Text= "AP名称,AP序列号,Model型号,radio个数,所属AP组名称";
    getDataFailed= "获取此ST下，绑定、未绑定信息失败!"
'>
    
    <!-- AP Group部分 -->
    <div class="page-row">
        <div class="col-xs-12 app-colum left-block"> 
            <!-- <div class="app-box no-bk-color"> 
                <div class="box-footer"> 
                    <span class="title">已绑定AP列表</span> 
                </div> 
                <div class="sysinfo-body app-box-slist"> -->                                     
                    <!-- 已绑定列表 -->
                    <div bs-table="table_bindAPStatus_stList"></div> 
                <!-- </div> 
            </div>   -->    
        </div>                              
    </div>
                           

</div>



