<div class="container-fluid" style="position:relative">

    <div class="loading" ng-if="loading">
        <label class="" ng-bind="message"></label>
        <img src="images/icon_waiting_54x54.gif">
    </div>

    <div class="page-row">
        <div class="col-xs-12 app-colum">

            <div class="app-box no-height">
                <div class="box-footer">
                    <span class="title">服务模板修改</span>
                </div>

                <div class="box-body no-height" style="padding:0px 20px;">
                    <div class="page-row">

                        <!-- 基本信息 -->
                        <div class="col-xs-12"> 
                            <!-- <h4>基本信息修改</h4>  -->

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">无线服务名称</label>              
                                    <div class="col-sm-9">                   
                                        <span id="stName"></span>                          
                                    </div>
                                </div> 
                            </div>  

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">SSID</label>              
                                    <div class="col-sm-9">
                                        <span id="ssid"></span>
                                    </div>
                                </div>
                            </div> 

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">无线服务状态</label>              
                                    <div class="col-sm-9">     
                                        <div class="col-sm-4">
                                            <div class="xb-input xb-radio">
                                                <input type="radio" id="stOpen" name="st" class="input-element" value="1"
                                                ng-checked="ststatus.status" ng-click="stStatusClick(1)">
                                                <span class="input-icon radio-icon" ng-class="{checked: ststatus.status}"></span>
                                                <label class="input-label" for="stOpen"></label>
                                            </div> 
                                            <label for="stOpen">开启</label>
                                        </div> 

                                        <div class="col-sm-5">
                                            <div class="xb-input xb-radio">
                                                <input type="radio" id="stClose" name="st" class="input-element" value="2"
                                                ng-checked="!ststatus.status" ng-click="stStatusClick(2)">
                                                <span class="input-icon radio-icon"
                                                ng-class="{checked: !ststatus.status}"></span>
                                                <label class="input-label" for="stClose"></label>
                                            </div>
                                            <label for="stClose">关闭</label> 
                                        </div>                                            
                                    </div>
                                </div>
                            </div>
                            
                            <!-- 是否隐藏SSID -->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">是否隐藏SSID</label>              
                                    <div class="col-sm-9">     
                                        <div class="col-sm-4">
                                            <div class="xb-input xb-radio">
                                                <input type="radio" id="ssidHide" name="ssidDute" class="input-element" value=1
                                                ng-model="ststatus.ssidDuteValue">
                                                <span class="input-icon radio-icon" ng-class="{'checked': ststatus.ssidDuteValue== 1}"></span>
                                                <label class="input-label" for="ssidHide"></label>
                                            </div> 
                                            <label for="ssidHide">开启</label>
                                        </div> 

                                        <div class="col-sm-5">
                                            <div class="xb-input xb-radio">
                                                <input type="radio" id="ssidShow" name="ssidDute" class="input-element" value=0
                                                ng-model="ststatus.ssidDuteValue">
                                                <span class="input-icon radio-icon"
                                                ng-class="{checked: ststatus.ssidDuteValue== 0}"></span>
                                                <label class="input-label" for="ssidShow"></label>
                                            </div>
                                            <label for="ssidShow">关闭</label> 
                                        </div>                                            
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">无线服务加密</label>              
                                    <div class="col-sm-9">
                                        <div class="col-sm-4">
                                            <div class="xb-input xb-radio">
                                                <input type="radio" id="stKeyOpen" name="stKey" class="input-element" value="1" ng-checked="stkeystatus.status" ng-click="stKeyStatusClick(1)">
                                                <span class="input-icon radio-icon" ng-class="{checked: stkeystatus.status}"></span>
                                                <label class="input-label" for="stKeyOpen"></label>
                                            </div>
                                            <label for="stKeyOpen">开启</label> 
                                        </div> 

                                        <div class="col-sm-5">
                                            <div class="xb-input xb-radio">
                                                <input type="radio" id="stKeyClose" name="stKey" class="input-element" value="0"
                                                ng-checked="!stkeystatus.status" ng-click="stKeyStatusClick(0)">
                                                <span class="input-icon radio-icon" ng-class="{checked: !stkeystatus.status}"></span>
                                                <label class="input-label" for="stKeyClose"></label>
                                            </div>
                                            <label for="stKeyClose">关闭</label> 
                                        </div>                                            
                                    </div>
                                </div>


                                <div class="col-sm-12" ng-show="stkeystatus.status" ng-hide="!stkeystatus.status">
                                    <label class="col-sm-3 control-label"></label> 

                                    <div class="col-sm-9">                   
                                        <input id="stKeyString" type="text" class="string big" maxlength='63'>
                                        <label class="info-explain">
                                        (8-63个字符)
                                        </label>
                                        <br />
                                        <label class="error" id="stKeyString_error" style="display: inline-block;"></label>                           
                                    </div>
                                </div>
                            </div>  
                        </div>

                        <!-- 发布信息 -->
                        <div class="col-xs-12"> 
                            <!-- <h4>发布信息修改</h4>  -->
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">是否认证</label>      
                                    <div class="col-sm-9">
                                        
                                        <div class="xb-input xb-radio">
                                            <input type="radio" id="sureAuthNo" name="sureAuth" class="input-element" value="0" ng-checked="!sureauthstatus.status" ng-click="sureAuthStatusClick(0)">
                                            <span class="input-icon radio-icon" ng-class="{checked: !sureauthstatus.status}"></span>
                                            <label class="input-label" for="sureAuthNo"></label>
                                        </div> 
                                        <label for="sureAuthNo">不认证</label>

                                        <br />

                                        <div class="xb-input xb-radio">
                                            <input type="radio" id="sureAuthYes" name="sureAuth" class="input-element" value="1" ng-checked="sureauthstatus.status" ng-click="sureAuthStatusClick(1)">
                                            <span class="input-icon radio-icon" ng-class="{checked: sureauthstatus.status}"></span>
                                            <label class="input-label" for="sureAuthYes"></label>
                                        </div>
                                        <label for="sureAuthYes">认证</label> 
                                                                                   
                                    </div>
                                </div>

                                <div ng-show="sureauthstatus.status" ng-hide="!sureauthstatus.status">
                                    <div class="col-sm-12" >
                                        <label class="col-sm-3 control-label">认证模板选择</label>
                                        <div class="col-sm-9">                   
                                            <select select2="authList" id="authList" style="width: 200px;">
                                                
                                            </select>
                                            <label class="error" id="authList_error" style="display: inline-block;"></label>                           
                                        </div>
                                    </div> 

                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">页面模板选择</label>
                                        <div class="col-sm-9">                   
                                            <select select2="themeList" id="themeList" style="width: 200px;"></select> 
                                            <label class="error" id="themeList_error" style="display: inline-block;"></label>                          
                                        </div>
                                    </div>
                                </div>                                 
                            </div>  
                        </div>

                        <!-- 按钮 -->
                        <div class="col-xs-12">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <div class="btn btn-cus" ng-click="okEvent()">
                                    确定
                                </div>
                                <div class="btn btn-cus" ng-click="cancelEvent()">
                                    取消
                                </div> 
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<style>
    .loading{
        position: absolute;
        z-index: 1000;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        top:0;
    }

    .loading label{
        font-size: 28px;
        color:white;

        position: absolute;
        top: 46%;
        left: 37%;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .loading img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

</style>
 


<div id="RC" class="rc-define"
    LoseConfig="检测到此设备版本过低，继续进行修改，可能会覆盖在设备上对此SSID进行的其他配置参数设置，确定继续？"
    PSK_String_ziduan="由于您的版本过低，无线服务加密密钥不允许为空，否则会配置失败，请输入加密密钥。" 

     getAuthList_Failed='获取认证模板失败!'
     getThemeList_Failed='获取页面模板失败!'
     pleaseChoose='请选择'  

     getST_failed="服务模板信息获取失败"     
     getPUB_failed="发布模板信息获取失败"

     psk_required='PSK密码必填！'
     psk_dayu8='PSK密码，不能低于8个字符！'

     needAuth='认证模板必选！'
     needTheme='页面模板必选！'

     stModifyFail3="服务模板修改失败，由于：设备连接超时！"
     stModifyFail4="服务模板修改失败，由于：主链接断开！"
     stModifyFailOther="服务模板修改失败"

     stModifyOK_authOK="服务模板修改成功，且认证配置修改成功。"
     stModifyOK_authFail='服务模板修改成功，但认证配置修改失败。'
     stModifyOK_authFail1301='服务模板修改成功，但认证配置修改失败，由于认证过程中SSID不允许出现：特殊字符&=\?%。'
     authCanNot_getPubFail='发布模板信息未获取到，所以无法进行修改。'

     Processing="处理中"
     themeType1='（简约）'
     themeType2='（天空）'
     themeType3='（2017活力版）'
    >
</div>       