<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 l-map">
            <div>
                <div>
                    <img ng-src="{{detail.path}}">
                    <div ng-if="detail.mapStatus !=0" class="map-backdrop">
                        <div ng-if="detail.mapStatus==1">In progress...</div>
                        <div ng-if="detail.mapStatus==2">Please modify the picture.</div>
                        <div ng-if="detail.mapStatus==3">Invalid</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 r-word">
            <div>
                <div>
                    <label>Address:{{detail.address}}</label>
                </div>
                <div>
                    <label>Longitude:{{detail.longitude}}</label>
                </div>
                <div>
                    <label>Latitude:{{detail.latitude}}</label>
                </div>
                <div ng-if="detail.scale">
                    <label>Scale:1:{{detail.scale}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
