<div id="hotApp">
    <div class="header">
        <div class="pull-left">
            <h3 ng-transclude></h3>
        </div>
        <div class="pull-right">
            <div class="buttons">
                <span class="button"></span>
                <span class="button"></span>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="body-inner">
            <ul ng-style="{width: 290*items.length+2}">
                <li ng-repeat="item in items track by $index">
                    <a ng-href="{{item.detailUrl}}" target="_blank">
                        <div class="wrap">
                            <div class="logo-image" ng-style="{backgroundImage:'url('+item.logo+')'}"></div>
                            <div class="description">
                                <h3 class="ellipsis-1" ng-bind="item.name" title="{{item.name}}"></h3>
                                <h4 class="ellipsis-2" ng-bind="item.description" title="{{item.description}}"></h4>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>