<div class="global-appstore">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">My Applications</h3>
        </div>
        <div class="panel-body">
            <!--显示应用主体-->
            <div class="app-box-body clearfix">
                <div ng-hide="appList.length">No Data</div>
                <!--single application-->
                <div class="app-item col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-repeat="app in appList">
                    <!--application icon-->
                    <div class="app-item-icon">
                        <img ng-click="toDetail(app.id,app.typeName)" ng-src="{{app.logo || img}}">
                    </div>
                    <!--application name-->
                    <div class="app-item-name">{{app.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>