.oasisButton {
  position: relative;
  color: #ffffff;
  display: inline-block;
  font-weight: normal;
  height: 2.28571429rem;
  text-align: center;
  vertical-align: bottom;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  min-width: 5.28571429rem;
  line-height: 2.28571429rem;
  padding: 0 0.71428571rem 0 0.85714286rem;
  margin-right: 0.71428571rem;
  border-radius: 4px;
  margin-bottom: 1.07142857rem;
  outline: none !important;
  box-shadow: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
}
.oasisButton.large {
  line-height: 3.28571429rem;
  height: 2.88571429rem;
  min-width: 7.28571429rem;
  font-size: 18px;
}
.oasisButton.small {
  line-height: 1.28571429rem;
  height: 1.68571429rem;
  min-width: 3.28571429rem;
  font-size: 12px;
}
.oasisButton.mini {
  line-height: 0.28571429rem;
  height: 1.08571429rem;
  min-width: 1.28571429rem;
  font-size: 10px;
}
.oasisButton .caret {
  margin-left: 5px;
  margin-right: 5px;
}
.oasisButton .dropdown-menu {
  display: block;
}
.oasisButton i {
  margin-right: 5px;
  margin-left: 6px;
}
.oasisButton.disabled,
.oasisButton[disabled] {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-opacity: 0.65;
  -webkit-opacity: 0.65;
  -ms-opacity: 0.65;
  opacity: 0.65;
}
.oasisButton.hover {
  color: #324057;
  border-color: #324057;
}
.oasisButton.hover.btn-default {
  background-color: transparent;
}
.oasisButton.hover.btn-default:hover,
.oasisButton.hover.btn-default:focus,
.oasisButton.hover.btn-default:active,
.oasisButton.hover.btn-default:visited {
  color: #4ec1b2;
  border-color: #4ec1b2;
}
.oasisButton.hover.btn-default.disabled:hover,
.oasisButton.hover.btn-default[disabled]:hover,
.oasisButton.hover.btn-default.disabled:focus,
.oasisButton.hover.btn-default[disabled]:focus,
.oasisButton.hover.btn-default.disabled:active,
.oasisButton.hover.btn-default[disabled]:active {
  color: #324057;
  border-color: #324057;
}
.oasisButton.hover.btn-success {
  background-color: transparent;
}
.oasisButton.hover.btn-success:hover,
.oasisButton.hover.btn-success:focus,
.oasisButton.hover.btn-success:active,
.oasisButton.hover.btn-success:visited {
  color: #4cae4c;
  border-color: #4cae4c;
}
.oasisButton.hover.btn-success.disabled:hover,
.oasisButton.hover.btn-success[disabled]:hover,
.oasisButton.hover.btn-success.disabled:focus,
.oasisButton.hover.btn-success[disabled]:focus,
.oasisButton.hover.btn-success.disabled:active,
.oasisButton.hover.btn-success[disabled]:active {
  color: #324057;
  border-color: #324057;
}
.oasisButton.hover.btn-danger {
  background-color: transparent;
}
.oasisButton.hover.btn-danger:hover,
.oasisButton.hover.btn-danger:focus,
.oasisButton.hover.btn-danger:active,
.oasisButton.hover.btn-danger:visited {
  color: #d43f3a;
  border-color: #d43f3a;
}
.oasisButton.hover.btn-danger.disabled:hover,
.oasisButton.hover.btn-danger[disabled]:hover,
.oasisButton.hover.btn-danger.disabled:focus,
.oasisButton.hover.btn-danger[disabled]:focus,
.oasisButton.hover.btn-danger.disabled:active,
.oasisButton.hover.btn-danger[disabled]:active {
  color: #324057;
  border-color: #324057;
}
.oasisButton.hover.btn-warning {
  background-color: transparent;
}
.oasisButton.hover.btn-warning:hover,
.oasisButton.hover.btn-warning:focus,
.oasisButton.hover.btn-warning:active {
  color: #d58512;
  border-color: #d58512;
}
.oasisButton.hover.btn-warning.disabled:hover,
.oasisButton.hover.btn-warning[disabled]:hover,
.oasisButton.hover.btn-warning.disabled:focus,
.oasisButton.hover.btn-warning[disabled]:focus,
.oasisButton.hover.btn-warning.disabled:active,
.oasisButton.hover.btn-warning[disabled]:active {
  color: #324057;
  border-color: #324057;
}
.oasisButton.btn.btn-default {
  background-image: -webkit-linear-gradient(#4ec1b2, #4ec1b2 60%, #4ec1b2);
  background-image: -o-linear-gradient(#4ec1b2, #4ec1b2 60%, #4ec1b2);
  background-image: linear-gradient(#4ec1b2, #4ec1b2 60%, #4ec1b2);
  background-color: #4ec1b2;
  border-color: #4ec1b2;
}
.oasisButton.btn.btn-default:hover,
.oasisButton.btn.btn-default:focus,
.oasisButton.btn.btn-default:active {
  color: #324057;
  background-color: #07b9a2;
  border-color: #07b9a2;
}
.oasisButton.btn.btn-default.disabled:hover,
.oasisButton.btn.btn-default[disabled]:hover,
.oasisButton.btn.btn-default.disabled:focus,
.oasisButton.btn.btn-default[disabled]:focus,
.oasisButton.btn.btn-default.disabled:active,
.oasisButton.btn.btn-default[disabled]:active {
  color: #ffffff;
  background-color: #4ec1b2;
  border-color: #4ec1b2;
}
.oasisButton.btn.btn-success {
  background-image: -webkit-linear-gradient(#4cae4c, #4cae4c 60%, #4cae4c);
  background-image: -o-linear-gradient(#4cae4c, #4cae4c 60%, #4cae4c);
  background-image: linear-gradient(#4cae4c, #4cae4c 60%, #4cae4c);
  background-color: #4cae4c;
  border-color: #4cae4c;
}
.oasisButton.btn.btn-success:hover {
  color: #324057;
}
.oasisButton.btn.btn-success.disabled:hover,
.oasisButton.btn.btn-success[disabled]:hover,
.oasisButton.btn.btn-success.disabled:focus,
.oasisButton.btn.btn-success[disabled]:focus,
.oasisButton.btn.btn-success.disabled:active,
.oasisButton.btn.btn-success[disabled]:active {
  color: #ffffff;
}
.oasisButton.btn.btn-danger {
  background-image: -webkit-linear-gradient(#d43f3a, #d43f3a 60%, #d43f3a);
  background-image: -o-linear-gradient(#d43f3a, #d43f3a 60%, #d43f3a);
  background-image: linear-gradient(#d43f3a, #d43f3a 60%, #d43f3a);
  background-color: #d43f3a;
  border-color: #d43f3a;
}
.oasisButton.btn.btn-danger:hover {
  color: #324057;
}
.oasisButton.btn.btn-danger.disabled:hover,
.oasisButton.btn.btn-danger[disabled]:hover,
.oasisButton.btn.btn-danger.disabled:focus,
.oasisButton.btn.btn-danger[disabled]:focus,
.oasisButton.btn.btn-danger.disabled:active,
.oasisButton.btn.btn-danger[disabled]:active {
  color: #ffffff;
}
.oasisButton.btn.btn-warning {
  background-image: -webkit-linear-gradient(#d58512, #d58512 60%, #d58512);
  background-image: -o-linear-gradient(#d58512, #d58512 60%, #d58512);
  background-image: linear-gradient(#d58512, #d58512 60%, #d58512);
  background-color: #d58512;
  border-color: #d58512;
}
.oasisButton.btn.btn-warning:hover {
  color: #324057;
}
.oasisButton.btn.btn-warning.disabled:hover,
.oasisButton.btn.btn-warning[disabled]:hover,
.oasisButton.btn.btn-warning.disabled:focus,
.oasisButton.btn.btn-warning[disabled]:focus,
.oasisButton.btn.btn-warning.disabled:active,
.oasisButton.btn.btn-warning[disabled]:active {
  color: #ffffff;
}
.oasisButton.btn-link {
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
}
.oasisButton.btn-link:hover {
  text-decoration: none;
  color: #324057;
}
.oasisButton.btn-link.disabled:hover,
.oasisButton.btn-link[disabled]:hover,
.oasisButton.btn-link.disabled:focus,
.oasisButton.btn-link[disabled]:focus,
.oasisButton.btn-link.disabled:active,
.oasisButton.btn-link[disabled]:active {
  text-decoration: underline;
}
.oasisButton.btn-link.btn-default {
  color: #4ec1b2;
  background-color: transparent;
}
.oasisButton.btn-link.btn-default:hover {
  color: #07b9a2;
}
.oasisButton.btn-link.btn-default.disabled:hover,
.oasisButton.btn-link.btn-default[disabled]:hover,
.oasisButton.btn-link.btn-default.disabled:focus,
.oasisButton.btn-link.btn-default[disabled]:focus,
.oasisButton.btn-link.btn-default.disabled:active,
.oasisButton.btn-link.btn-default[disabled]:active {
  color: #4ec1b2;
}
.oasisButton.btn-link.btn-success {
  color: #3c763d;
  background-color: transparent;
}
.oasisButton.btn-link.btn-danger {
  color: #a94442;
  background-color: transparent;
}
.oasisButton.btn-link.btn-warning {
  color: #aa6708;
  background-color: transparent;
}
.oasisButton.btn-text {
  background-color: transparent;
  border: 0px;
}
.oasisButton.btn-text.btn-default {
  color: #4ec1b2;
  background-color: transparent;
}
.oasisButton.btn-text.btn-default:hover {
  color: #07b9a2;
}
.oasisButton.btn-text.btn-default.disabled:hover,
.oasisButton.btn-text.btn-default[disabled]:hover,
.oasisButton.btn-text.btn-default.disabled:focus,
.oasisButton.btn-text.btn-default[disabled]:focus,
.oasisButton.btn-text.btn-default.disabled:active,
.oasisButton.btn-text.btn-default[disabled]:active {
  color: #4ec1b2;
}
.oasisButton.btn-text.btn-success {
  color: #3c763d;
  background-color: transparent;
}
.oasisButton.btn-text.btn-danger {
  color: #a94442;
  background-color: transparent;
}
.oasisButton.btn-text.btn-warning {
  color: #aa6708;
  background-color: transparent;
}
