.versionupdate9 {
  margin: -20px;
}
.versionupdate9 .btn-exchange {
  display: inline-block;
  width: 46px;
  height: 34px;
  background-color: #1bbc9b;
  text-align: center;
  position: relative;
  top: 11px;
}
.versionupdate9 .btn-exchange > i {
  line-height: 34px;
  vertical-align: text-bottom;
  color: #ffffff;
}
