<div class="container-fluid sta_analyse">
    <div class="page-row">
        <div class="col-xs-12 app-colum left-block">
            <div class="app-box no-bk-color">
                <div class="box-footer ">
                    <div class="col-xs-3">
                        <span class="title">终端体验</span>
                    </div>
                </div>

                <div class="box-body echart-height">
                    <div dashboard-echarts="sta_experience_score_option"></div>
                </div>
                <div class="box-body auto_height">
                    <div bs-table="experience.table"></div>
                </div>
            </div>
        </div>
    </div>
</div>