<style>
    html .app-colum .app-box .box-body, body .app-colum .app-box .box-body {
        height: auto;
    }
</style>
<div class="dashboard container-fluid">

    <div class="page-row">
        <div class="col-xs-12 app-colum left-block">
            <div class="app-box no-bk-color">
                <div class="box-footer ">
                    <span class="title">告警日志</span>
                </div>

                <div class="box-body form-group" style="min-height: 291px">
                    <div bs-table="warning.options"></div>
                </div>
            </div>
        </div>
    </div>
</div>
