<div class="container-fluid">
    <div class="panel" style="box-shadow: 0 1px 3px rgba(65, 69, 86, 0.2);">
        <div class="panel-body">
            <button class="btn btn-cus pull-left" ng-click="addApBranch()" ng-show="addBtnShow">增加</button>
            <input id="file" type="file" name="file" style="display: none">
            <button class="btn btn-cus pull-left" ng-click="batchAddSite()" ng-show="addBtnShow">批量增加</button>
            <button class="btn btn-cus pull-left" ng-click="cancel()" ng-show="cancelBtnShow">取消</button>
            <div class="panel site" ng-show="siteBox" style="clear:both;padding-top: 30px;">
                <form name="siteAddForm" class="form-horizontal" novalidate >
                    <div class="form-group">
                        <label class="col-sm-2 control-label">场所名称 <span class="label-require">*</span></label>
                        <div class="col-md-5 col-sm-8">
                            <input placeholder="请输入20位以内的字符，不能以数字开头" class="form-control" name="name" type="text"
                                   ng-model="form.name"
                                   required ng-maxlength="20" ng-pattern="/^[^0-9]/" ajax-valid="validName">
                        </div>
                        <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.name.$dirty"
                             ng-messages="siteAddForm.name.$error">
                            <div ng-message="required">请输入场所名称！</div>
                            <div ng-message="maxlength">最多不能超过20位！</div>
                            <div ng-message="pattern">不能以数字开头！</div>
                            <div ng-message="ajaxValid-1">场所名称不合法</div>
                            <div ng-message="ajaxValid-2">场所已存在</div>
                            <div ng-message="ajaxValid-3">请求参数不合法</div>
                            <div ng-message="ajaxValid-4">网络异常</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">场景分类 <span class="label-require">*</span></label>
                        <div class="col-md-5 col-sm-8">
                            <select name="scenario_category_name" class="form-control" ng-model="form.scenario_category_name" ng-options="scen.id as scen.namedesc for scen in scens" required>
                                <option value="" selected disabled>请选择场景分类</option>
                            </select>
                        </div>
                        <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.scenario_category_name.$dirty"
                             ng-messages="siteAddForm.scenario_category_name.$error">
                            <div ng-message="required">请选择场景分类！</div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-cus" ng-click="showdevmodel()" ng-disabled="!form.scenario_category_name">支持设备型号</button>
                            <div bs-modal="devmodel">
                                <table bs-table="deviceOptions"></table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分支 <span class="label-require">*</span></label>
                        <div class="col-md-5 col-sm-8">
                            <input placeholder="请选择分支" class="form-control" name="regionName" type="text"
                                   ng-click="apBranchSelect()" ng-model="form.apBranchSelect" ng-readonly="true" required>
                        </div>
                        <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.regionName.$dirty"
                             ng-messages="siteAddForm.regionName.$error">
                            <div ng-message="required">请选择分支！</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属行业 <span class="label-require">*</span></label>
                        <div class="col-md-5 col-sm-8">
                            <select name="industry" class="form-control" ng-model="form.industry"
                                    ng-options="industry.id as industry.industryName for industry in industries" required>
                                <option value="" selected disabled>请选择所属行业</option>
                            </select>
                        </div>
                        <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.industry.$dirty"
                             ng-messages="siteAddForm.industry.$error">
                            <div ng-message="required">请选择所属行业！</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">场所(总部)地址 <span class="label-require">*</span></label>
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <!--<label class="col-sm-1 control-label">省：</label>-->
                                <div class="col-sm-11 padding-left-zero">
                                    <select id="cmbProvince" class="form-control" name="province"  required>
                                    </select>
                                </div>
                                <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.province.$dirty"
                                     ng-messages="siteAddForm.province.$error">
                                    <div ng-message="required">请选择省市！</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <!--<label class="col-sm-1 control-label">市：</label>-->
                                <div class="col-sm-11 padding-left-zero">
                                    <select id="cmbCitys" class="form-control" name="city"  required>
                                    </select>
                                </div>
                                <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.city.$dirty"
                                     ng-messages="siteAddForm.city.$error">
                                    <div ng-message="required">请选择市区！</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-lg-offset-0 col-sm-offset-2">
                            <div class="form-group">
                                <!--<label class="col-sm-1 control-label">区：</label>-->
                                <div class="col-sm-11 padding-left-zero">
                                    <select id="cmbArea" class="form-control" name="area"  required>
                                    </select>
                                </div>
                                <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.area.$dirty"
                                     ng-messages="siteAddForm.area.$error">
                                    <div ng-message="required">请选择区县！</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-11 padding-left-zero">
                                    <input class="form-control" name="address" type="text" ng-model="form.address"
                                           ng-maxlength="50">
                                </div>
                                <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.address.$dirty"
                                     ng-messages="siteAddForm.address.$error">
                                    <div ng-message="maxlength">最多不能超过50位！</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系电话</label>
                        <div class="col-md-5 col-sm-8">
                            <input placeholder="输入联系电话" class="form-control" name="phone" type="text" ng-model="form.phone"
                                   ng-pattern="/^((0086|\+86)?\s*1[34578]\d{9}|(\d{3,4}-)?\d{7,8})$/">
                        </div>
                        <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.phone.$dirty"
                             ng-messages="siteAddForm.phone.$error">
                            <div ng-message="pattern">联系电话格式不正确！</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">场所简介</label>
                        <div class="col-md-5 col-sm-8">
                        <textarea placeholder="请输入500位以内的字符" class="form-control" name="siteDesc" type="text"
                                  ng-model="form.brief" ng-maxlength="500"></textarea>
                        </div>
                        <div class="col-md-5 col-sm-8 ng-error" ng-show="siteAddForm.siteDesc.$dirty"
                             ng-messages="siteAddForm.siteDesc.$error">
                            <div ng-message="maxlength">最多不能超过500位！</div>
                        </div>
                    </div>
                    <hr style="margin-bottom:15px;border:1px dotted #eee">
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2 padding-left-zero">
                            <button ng-click="onSubmit()" class="btn btn-cus" type="submit" ng-disabled="siteAddForm.$invalid">确定
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div bs-table="options"></div>
        </div>
    </div>
    <div bs-modal="treeOption" id="treeOptionId">
        <ul id="apSiteTree" class="ztree" ></ul>
    </div>
    <div class="read_rc" id="add_modify_rc"
         table-data="场所名称,创建者,场所地址,描述,所属分支,场景名称,管理,显示设备,修改,删除,运维"
         error="请求出错啦~"
         add-success="添加成功"
         modify-success="修改成功"
         support="支持设备型号"
         page="显示,到,条,共"
         support-device="支持的设备型号"
         off="关闭"
         tip="提示"
         add-shop-error="增加失败"
         file-format="文件限于.txt、.xls、.xlsx格式"
    >
    </div>
</div>



