<div ng-init="
    stayType_1='Within half hour';
    stayType_2='Within 1 hour';
    stayType_3='Within 2 hour';
    stayType_4='Over 2 hours';
    custCount='Length of Stay';
    visit='Visits';
    visitCount_1='Once';
    visitCount_2='Twice';
    visitCount_3='Three times';
    visitCount_4='Over four times';
    ">
    <div class="col-xs-6 app-colum left-block"> 
        <div class="page-row xxb">
            <div class="col-xs-12 app-colum " debug="getAccessTime getOnlineTime">
                <div class="app-box no-bk-color">
                    <div class="box-footer">
                        <div class="col-xs-4">
                            <span class="title">Visitor Statistics</span>
                        </div>
                        <div class="time-change" id="detail">
                            <a id="oDetail" class="time-link" ng-click="onlineCustomer()">Online Guests</a>
                            <a id="hDetail" class="time-link" ng-click="historyDetail()">History</a>
                        </div>     
                    </div>
                    <div class="box-body userflow-height form-group body-nopadding">
                        <div class="col-xs-6 pietop">
                            <div class="row-clear padding0">
                                <div id="visitCount" class=" col-xs-12" style="height:230px;"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 pietop">
                            <div class="row-clear padding0">
                                <div id="stayTime" class=" col-xs-12" style="height:230px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>