<div ng-init="">
    <div class="page-row">
	    <div class="col-xs-12 app-colum left-block" debug="clients NumRZ">
	        <div class="bg-bor">
	            <div class="head-bar">
	                <div class="box-footer">
	                    <div class="col-xs-10">
	                        <span class="title sysinfo-footer-title">Clients</span>
	                    </div>  
	                    <div class="text-right link-container">
	                        <a type="button" class="
	                            link-detail" id="submit_scan" ui-sref="^.customerdetail_rz" title="More">
	                            <i class="detail-icon icon"></i>
	                        </a>
	                    </div>
	                    <div class="text-rightandlink-container"></div>						
	                </div>
	                <div class="col-xs-4">
	                    <div class="syslog-info-mine-Total">
	                        <div class="left-icon Total-icon"></div>
	                        <div class="right-text">      
	                            <span class="number-count" id="portalTotal"></span>
	                            <br />
	                            <span class="number-title">Total</span>
	                        </div>                      
	                    </div>
	                </div>
	                <div class="col-xs-4">
	                    <div class="syslog-info-mine-Total">
	                        <div class="left-icon Num2G-icon"></div>
	                        <div class="right-text">      
	                            <span class="number-count" id="portalNum2G"></span>
	                            <br />
	                            <span class="number-title">2.4GHz</span>
	                        </div>			
	                    </div>
	                </div>
	                <div class="col-xs-4">
	                    <div class="syslog-info-mine-Num2G">
	                        <div class="left-icon Num5G-icon"></div>
	                        <div class="right-text">      
	                            <span class="number-count" id="portalNum5G"></span>
	                            <br />
	                            <span class="number-title">5GHz</span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>