
html,body { 
	direction: ltr;
	font-family: Arial,"Microsoft YaHei",Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.42857143; 
	color: #80878c;
	min-width: 320px;
	min-height: 320px;
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Arial,"Helvetica Neue", Helvetica,"Microsoft YaHei", sans-serif;
}
/*************************************************/
/*for user*/
.toppannel{
	height: 60px;
	line-height: 60px;
}
.user-bar{
	float: right;
}
.user-bar>a{
	color: #383E4E;
	float: right;
	margin-right: 45px;
}
.user-bar>a:hover{
	color: #383E4E;
}
.user-bar>span{
	background: url(image/message3.png) no-repeat;
	background-position:  -868px -37px;
	width: 35px;
	float: right;
	height: 38px;
	margin-top: 15px;
	margin-right: 5px;
}
.user-bar>span:hover{
	background-position: -960px -37px;
}
.message_icon_get{
	background: url(image/message3.png) no-repeat -909px -37px;
	width: 35px;
	float: right;
	height: 38px;
	margin-top: 15px;
	margin-right: 5px;
}

.user-bar>ul{
    list-style: none;
    padding: 0;
    margin: 0px 0 0 50px;
    border: 1px solid #d6dce3;
    width: 102px;
    color: #383e4e;
    position: relative;
    z-index: 999;
}
.user-bar>ul>li{
	background: #FFF;
	height: 33px;
	padding-left: 15px;
	line-height: 33px;
	cursor: pointer;
}
.user-bar>ul>li:hover{
	background: #383E4E;
	color: #FFF;
}
.user-bar>a>i.droplist-icon{
	background: url(image/xiaobei.png) no-repeat -431px -221px;
    float: right;
    width: 10px;
    height: 14px;
    margin-top: 27px;
}
.user-bar>a.active>i.droplist-icon{
    transform: rotateX(180deg);
    -ms-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg);
    -o-transform:rotateX(180deg);
    margin-top: 21px;
}
.user-bar>a>img {
	border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-right: 2px;
}
.user_name{
    float: right;
    margin: 0px 10px;
    font-style: normal;
    cursor: pointer;
}
.change_station{
	float: right;
	margin-top: 12px;
}
.content{
    float: right;
    border: 1px solid #e7e7e9;
    margin-right: 20px;
    height: 30px;
    margin-top: 14px;
    width: 190px;
}
.content .select{
    position: relative;
    cursor: pointer;
}
.content .select::after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color: #383e4e transparent transparent transparent;
	float: right;
    margin-top: -18px;
    margin-right: 9px;
}
.content .select p{
    height: 30px;
    font-size: 14px;
    color: #343e4e;
    line-height: 30px;
    padding-left: 15px;
    overflow: hidden;
}
.content .select.open p{
	border:1px solid #4ec1b2;
	overflow: hidden;
}
.content .select ul{
    display: none;
    font-size: 15px;
    background: #FFFFFF;
    position: absolute;
    top: 40px;
    left: -1px;
    max-height: 0px;
    overflow: auto;
    z-index: 999;
    width: 190px;
    border: 1px solid #e7e7e9;
}
.content .select ul li{
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    list-style: none;
    color: #343e4e;
    margin-left: -40px;
    overflow: hidden;
}
.content .select ul li.selected,.content .select ul li:hover{
	background: #383e4e;
	color: #ffffff;
}
.content .select.open ul{
	display:block;
	max-height: 300px;
}
.content .select.open::after{
	transform: rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari å’? Chrome */
	-o-transform:rotate(180deg);
    margin-top: -22px;
}
/*************************************************/
/*for user logo*/
.logo{
	background: url(image/xiaobei.png) no-repeat;
    background-position: -42px -1px;
    width: 157px;
    height: 140px;
    top: 0px;
    margin-left: 40px;
    position: absolute;
    z-index: 10;
}
/*************************************************/
/*for menu*/
.xb-layout-north.logo-panel{
  	height: 50px;
  	line-height: 50px;
    background-color: #4ec1b2; 
}
.xb-layout-north.logo-panel ul{
	list-style: none;
	margin: 0px;
	padding: 0px;

}
.xb-layout-north.logo-panel ul li{
	float: right;
	padding: 0px 36px;
	color: #ffffff;

}
.xb-layout-north.logo-panel ul li a{
	color: #ffffff;
	opacity: 0.5;
	font-weight: bold;
}
.xb-layout-north.logo-panel ul li a:hover,.xb-layout-north.logo-panel ul li a.active{
	color: #ffffff;
	opacity: 1.0;
}
/*************************************************/
/*for 左边菜单栏*/
.xb-layout-west.menu-panel{
	overflow: hidden;
	position: absolute;
	top: 110px;
	bottom: 0px;
	z-index: 1;
	width: 210px;
	background: #ffffff;
}
.direction{
    font-size: 20px;
    color: #e7e7e9;
    margin-top: 70px;
    //margin-left: 47px;
    margin-left: 80px;
}
@media(max-width:768px){
    .direction{
        margin-left: 37px;
    }
}
.page-sidebar {
	z-index: 2;
	position: absolute;
	bottom: 0;
	top: 122px;
	overflow: hidden;
}
ul.page-sidebar-menu {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 35px;	
	padding: 0;
}
@media(max-width: 768px){
	ul.page-sidebar-menu{
		margin-left: 0px;
	}
}
ul.page-sidebar-menu > li {
	display: block;
	padding: 0; 
	/*line-height: 11px;*/
	margin-left: 29px;
	margin-bottom: 0px;
}
ul.page-sidebar-menu > li > a {
	display: block;
	position: relative;
	margin: 0;
	border: 0;
  	color: #343e4e;
	text-decoration: none;
	line-height: 38px;
	height: 38px;
	font-size: 15px;
}
ul.page-sidebar-menu > li.active > a,
ul.page-sidebar-menu > li> a:hover {
	border: none;
	text-shadow: none;
	color: #4ec1b2;
}
ul.page-sidebar-menu >ul .menu-item {
	display: inline-block;
	float: left;
	margin-top: -4px;
}
ul.page-sidebar-menu  ul li .menu-item{
	margin-left: 0px;
}
ul.page-sidebar-menu  li.active a .menu-icon{
    background-color: #69c4c5;
    float:none;
}
ul.page-sidebar-menu  ul  li.active .submenu_icon{
    background-color: #69c4c5;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    left: -20px;
    top: 3px;
}
ul.page-sidebar-menu{
	width:210px;
}
ul.page-sidebar-menu ul {
	padding-left:22px;
	margin-top:10px;
	margin-bottom:10px;
} 
ul.page-sidebar-menu ul  li {
	list-style-type:none;
    margin-bottom:-16px;
} 
ul.page-sidebar-menu ul  li a{
	display:inline-block;
	position:absolute;
	margin-top: -3px;
	padding-left:7px;
}
ul.page-sidebar-menu ul  li:not(:first-child){
	margin-top:-11px;
	margin-bottom:0px;
}
ul.page-sidebar-menu ul  li:not(:first-child) a{
	margin-top:26px;
}
ul.page-sidebar-menu ul li > div.line{
    display:inline-block;
	width:14px;
	height:36px;
	background-image:url('./image/menu_2.png');
	margin-right:3px;
	margin-bottom:3px;
}
ul.page-sidebar-menu ul li:first-child > div.line {
	display:inline-block;
	background-image:url('./image/menu_1.png');
	width:14px;
	height:3px;
	margin-bottom:8px;
}
ul.page-sidebar-menu  ul li.active .menu-item,
ul.page-sidebar-menu ul li  a:hover .menu-item{
	color: #4ec1b2;
}
/*************************************************/
/*for page main*/
.xb-layout-center.content-panel{
	position: absolute;
	left: 200px;
	right: 0px;
	/*top: 110px;*/
	top: 139px;
	bottom: 0px;
	z-index: 1;
	overflow: auto;
	background: #fff;
}
.xb-center-panel.page-container {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 106px;
	bottom: 0;
/*	overflow: auto;*/
	width: 100%;
}
.xb-center-panel.page-container.no-nav {
	top: 40px;
}
.tab-content {
	padding: 0px 40px 20px 40px;
}
.page-row{
	clear: both;
}
.app-colum.left-block{
	 padding-right: 20px;
}
.app-colum .app-box {
	border: 1px solid #e7e7e9;
	margin-bottom: 20px;
	background: #fff;
	overflow-y: hidden;
}
.app-colum .app-box.no-bk-color{
	border: 1px solid #e7e7e9;
}
.app-box .box-footer {
	height: 50px;
	line-height: 50px;
	background: #EDF9F7;
}
.app-box.no-bk-color .box-footer {
	height: 50px;
	line-height: 50px;
	background: transparent;
}
.app-box .box-footer .title{
	color: #343e4e;
	font-size: 17px;
	padding-left: 25px;
	float: left;
}
.app-box .box-footer .r-title{
	color: #343e4e;
	font-size: 17px;
	padding-right: 25px;
	float: right;
}
/*TODO updtate style*/
.app-box .box-footer .link-container{
	margin-right: 20px;
}

.app-box .box-body {
	overflow: hidden;
	height: 325px;
	padding: 25px 30px;
}

.app-box .mini-height {
	height: 179px;
}
.app-box .echart-height {
	height: 250px;
}
.app-box .min-echart-height {
	height:140px;
}
.app-box .mid-echart-height {
	height:170px;
}
.app-box .double-height{
	height: 430px;
}
.app-box .dashboard-height{
	height: 502px;
}
.app-box .dhcp-height{
	height: 570px;
}
.app-box .no-height{
	height: auto;
}
.app-box .midl-height{
	height:300px;
}
.app-box .center-summary{
	margin-left: 12%;
}
.app-box .center-terminal{
	margin-left: 5%;
	margin-top: 15px;
}
/***************for panel begin***************************/
#topo_tip_box{
	position: absolute;
	background: transparent;
	padding: 10px;
	z-index: 999;
}
#topo_tip_box .bk-layer{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #343e4e;
	z-index: -1;
	filter: alpha(opacity=90);
	opacity: 0.9;
	border-radius: 5px;
}
#topo_tip_box .tip-body {
	max-height: 400px;
	overflow: hidden;
}
#topo_tip_box .infor-child{
	font-size: 14px;
	color: #fff;
}
#topo_tip_box .tool-bar{
	margin-top: 10px;
	padding: 0 10px;
}
#topo_tip_box .tool-bar .btn-detail{
	background: url(image/xb-icons.png) no-repeat -304px -128px;
	width: 10px;
	height: 10px;
	display: block;
	float: right;
	cursor: pointer;
}
#topo_tip_box .infor-detail:hover{
	background-position: -360px -128px;
}
/*******************topology-route**********************/
.panel.topology-panel{
	width: 100%;
	background: transparent;
	border:none;
	padding-top: 0;
}
.panel .topology{
	position: relative;
	width: 210px;
	height: 252px;
	background: url(image/xb-icons.png) no-repeat -202px -160px;
}
.panel .topology .hover-trigger{
	position: absolute;
	display: inline-block;
	cursor: pointer;
}
.panel .topology .hover-trigger.cloud{
	width: 54px;
	height: 34px;
	top: 5px;
}
.panel .topology .hover-trigger.network{
	width: 42px;
	height: 40px;
	right: 1px;
}
.panel .topology .hover-trigger.ac{
	width: 54px;
	height: 21px;
	top: 116px;
	right: 75px
}

.panel .topology .topo-icon{
	position: absolute;
	display: inline-block;
	height: 17px;
	width: 17px;
	background: url(image/xb-icons.png) no-repeat;
	cursor: pointer;
}
.panel .topology .hide{
	display: none;
}
.panel .topology .topo-icon.topo-warning{
	background-position: -236px -126px;
}
.panel .topology .topo-icon.topo-count{
	background-position: -208px -126px;
	top: 204px;
	left: 71px;
	text-align: center;  
	line-height: 17px;
}
.panel .topology .topo-icon.topo-count .count-text{
	color: #FFF;
	font-style: normal;
	font-size: 12px;
	margin-left: -2px;
}
.panel .topology .topo-icon.cloud{
	top: 52px;
	left: 18px;
}
.panel .topology .topo-icon.network{
	top: 52px;
	left: 180px;
}
.panel .topology .topo-icon.ac{
	top: 127px;
	left: 101px;
}
.panel .topology .topo-icon.ap{
	top: 166px;
	left: 101px;
}
/*******************topology-brige**********************/
.panel.brige .topology{
	background-position: -202px -585px;
}
.panel.brige .topology span.topo-count{
	top: 225px;
}
.panel.brige .topology .hover-trigger.ac{
	top: 152px;
}
.panel.brige .topology span.ac{
	top: 166px;
}
.panel.brige .topology span.ap{
	top: 202px;
}
/*******************port list**********************/
.panel.port-panel{
	width: 100%;
	background: transparent;
	border:none;
}
.panel .port-list{
	list-style: none;
	padding: 0;
  	margin: 0;
	border: 2px solid #D6DCE3;
	height: 100px;
	padding: 10px 1px 10px 15px;
	border-radius: 15px;
}
.panel .port-list>li{
	float: left;
	margin-right: 14px;
	color: #666;
	text-align: center;
	font-size: 12px;
}
.panel .port-list>li>i{
	display: block;
	width: 13px;
	height: 6px;
	background: #D6DCE3;
	margin-left: 17px;
	margin-bottom: 5px;
}
.panel .port-list>li.online>i{
	background: #69C4C5;
}
.panel .port-list>li>span.port-icon{
	display: block;
	height: 48px;
	width: 48px;
	background: url(image/xb-icons.png) no-repeat;
	background-position: -471px -201px;
	cursor: pointer;
}
.panel .port-list.disabled>li>span.port-icon{
	cursor: default;
}
.panel .port-list>li.active>span.port-icon{
	background-position: -537px -201px;
	cursor: default;
}
/*******************legend**********************/
.panel.leg-panel{
	background: transparent;
	border: none;
	padding: 0;
	position: absolute;
	z-index: 8;
}
.leg-panel .leg-row{
	color: #617085;
	font-size: 14px;
	border-bottom: 1px solid #D6DCE3;
	padding-bottom: 0px;
	line-height: 18px;
	margin-bottom: 5px;
}
.leg-panel .leg-row .leg-icon{
	display: block;
	height: 12px;
	width: 12px;
	float: left;
	border-radius: 6px;
	margin: 4px 10px 0 4px;
}
.leg-panel .leg-row.leg-hover .leg-icon{
	opacity: 0.8;
	filter: alpha(opacity=80);

}
.leg-panel .leg-row .leg-title{
	display:inline-block;
	overflow: hidden;;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 120px;
}
.leg-panel .leg-row .leg-percent{
	float: right;
	margin-right: 8px;
	color:#80878c;
}
/***************for panel end***************************/
/*************************************************/
/*for health degree*/
#health{
	background: url(image/xiaobei.png) no-repeat;
	width: 117px;
    height: 97px;
    margin-top: -30px;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    left: 73%;
}
#health.healthimgreen{
	background-position: -660px -56px;    
}
#health.healthimgred{
    background-position: -460px -56px;
}
#health.healthimgyellow{
	background-position: -254px -56px;
}
#health .level{
    font-size: 10pt;
    color: #fff;
    display: block;
    margin-top: 17px;
    margin-left: 27px;
    cursor: pointer;
    width: 80px;
}
#health .number{
    display: block;
    color: #fff;
    font-size: 25pt;
    cursor: pointer;
    width:120px;
    text-align: center;
}
#health .number_href{
	display: block;
	border-bottom: 1px solid #fff;
    width: 33px;
    margin-left: 44px;
    margin-top: -7px;
}
/***************for Form begin***************************/

.app-box .form-actions.top{
	position: absolute;
	right: 0;
	margin: 6px 5px 0 0;
}
.app-box .box-footer .form-actions.top{
	top:0;
}
.app-box .toggle-block .form-actions.top{
	margin-top: -15px;
}
.app-box .form-actions .form-btn{
	background: url(image/xb-icons.png) no-repeat;
	height: 16px;
	width: 18px;
	display: inline-block;
	margin-right: 15px;
}
.app-box .form-actions .form-btn.icon-ok{
	background-position: -629px -41px;
}
.app-box .form-actions .form-btn.icon-ok:before{
	content: none;
}
.app-box .form-actions .form-btn.icon-remove:before{
	content: none;
}
.app-box .form-actions .form-btn.icon-remove{
	background-position: -663px -42px;
}
.app-box .form-actions .form-btn.icon-ok:hover{
	background-position: -560px -41px;
}
.app-box .form-actions .form-btn.icon-remove:hover{
	background-position: -594px -42px;
}
.app-box .form-actions.bottom{
	margin: 6px -5px 0 0;
	float: right;
}
.app-box .form-actions.bottom .btn{
	min-width: 30px;
	height: 25px;
	padding: 0px 7px;
	line-height: 25px;
	margin-right: 7px;
}
.app-box .form-actions.bottom .btn.btn-cancel{
	background: #ABAEAE;
	border-color: #ABAEAE;
}
.app-box .form-actions.bottom .btn.btn-cancel:hover{
	background: #8C9191;
	border-color: #8C9191;
}


/***************for Form end***************************/
/***************for m-input begin***************************/
.m-input .input-row{
	position: relative;
}
.m-input .minput-operator{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(image/xb-icons.png) no-repeat;
	margin: 8px 0 0 8px;
	position: absolute;
	cursor: pointer;
}
.m-input .minput-operator.minput-add{
	background-position: -754px -96px;
}
.m-input .minput-operator.minput-remove{
	background-position: -787px -96px;
}
.xb-input{
	display: inline-block;
	position: relative;
	top: 4px;
}
.xb-input.xb-checkbox{
	margin-top: -3px;
	top: 7px;
}
.xb-input .input-element{
	position: absolute;
	left: -2000px;
}
.xb-input .input-label{
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	top: 0;
	left: 0;
}
.xb-input .input-icon{
	display: block;
	height: 16px;
	width: 16px;
	background: url(image/xb-icons.png) no-repeat;
}
.xb-input .input-icon.radio-icon{
	background-position: -755px -125px;
}
.xb-input .input-icon.radio-icon.checked{
	background-position: -787px -125px;
}
.xb-input .input-icon.checkbox-icon{
	background-position: -854px -125px;
}
.xb-input .input-icon.checkbox-icon.checked{
	background-position: -820px -125px;
}
.xb-input .input-icon.checkbox-icon.switch{
	background: url(image/dashboard-icon.png) no-repeat -12px -367px;
	color: #fff;
	padding: 0;
	text-shadow: none;
	width: 89px;
	height: 28px;
	float: left;
}
.xb-input .input-icon.checkbox-icon.switch.checked{
	background-position: -12px -415px;
}
.xb-input.disabled .input-icon.checkbox-icon.switch{
	opacity: 0.65;
	filter: alpha(opacity=65);
}
/***************for m-input end***************************/
/*.group-block{
	padding:10px;
	text-align:center;
}

[class^="col-md-"].group-block, 
[class*="col-md-"].group-block,
[class^="col-xs-"].group-block, 
[class*="col-xs-"].group-block {
    padding: 0 20px 20px 0;
}
[class^="col-md-"].group-block.last, 
[class*="col-md-"].group-block.last,
[class^="col-xs-"].group-block.last, 
[class*="col-xs-"].group-block.last {
    padding: 0 0 20px 0;
}*/
.statusbar{
	float: right;
	padding-right: 5px;
}
/*#mapDialog{
	float: right;
	width:80px;
}*/
@media (max-width: 768px){
	.col-sm-3 {
	    width: 45%;
	}
 .xb-layout-center.content-panel{
 	left:120px;
 	}
 .direction{
 	margin-left: 37px;
 	}
}
