<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Leading-in Log</h3>
        </div>
        <div class="panel-body">
            <div class="form-group zeromargin">
                <div class="btn btn-cus" ng-click="refresh()">Refresh</div>
            </div>
            <table bs-table="options"></table>
        </div>
    </div>
    <div class="read_rc" id="leading_in_rc"
         table-data="Operator,Operation Time,IP Address,Module Name,Description,Result,Failure Reason"
    >
    </div>
</div>