<dashboard-log sn="{{sceneInfo.sn}}"></dashboard-log>
<div class="dashboard container-fluid">
    <div class="page-row">
        <div class=" col-xs-6 app-colum left-block" style="height:250px;" debug="AP">
            <!-- <div class="app-box echart-height"> -->
            <div class="app-box no-bk-color" style="height:280px;">
                <div class="box-footer" style="background: initial;">
                    <div class="col-xs-12">
                        <span class="title">APs</span>
                        <div class="text-right link-container">
                            <a type="button" class="refresh" ng-click="apCount()"><i class="refresh-icon icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row-nohover row-clear padding0">
                    <div class="col-xs-5 row-left">
                        <div id="pie_aps" class="myEchart" style="height:180px;"></div>
                    </div>
                    <div class="col-xs-7">
                        <div id="aps" class="col-xs-12 myEchart" style="height:210px;"></div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="col-xs-6 app-colum left-block"id="aps_page" debug="getHealth">
            <div class="app-box no-bk-color" style="height:280px">
                <div class="box-footer">
                    <div class="col-xs-4">
                        <span class="title">Health</span>
                    </div>
                    <div class="text-right link-container">
                        <a type="button" class="xx-link" tab="0" id="system" ng-click="systemInformation()">System Information</i></a>
                    </div>
                </div>

                <div class="box-body echart-height form-group col-xs-12">
                    <div class="col-xs-6">
                        <div class="row-nohover row-clear padding0" style="padding: 0px;">
                            <div id="score-pie" class="myEchart chartStyle" style="height:200px;"></div>
                            <span style="color:#fe8086;position:absolute;top:160px;left:25px;" ng-show="isFail">You are behind <span>{{getPercent}}</span> % Oasis user,Frustrating... ...</span>
                            <span id="terminalMessage" style="position:absolute;top:160px;left:25px;" ng-show="isSuccess">You are ahead of <span>{{getPercent}}</span><span>{{terminalMessage}}</span></span>
                        </div>
                        <!-- <div style="color: #ffa5af;position:absolute;  top: 170px;" id="terminalMessage" debug='["getHealthScore"]'>打败了全国<span>0</span>%的用户，需要看病啦~(&gt;o&lt;)</div> -->
                    </div>
                    <div class="col-xs-6 right01">
                        <div class="row-clear padding0">
                            <!-- <div id="apphealth" class="myEchart chartStyle"></div> -->
                            <div class="right_health">
                                <div class="health_title col-xs-12">
                                    <div class="left col-xs-6 top_distance">Usable bandwidth</div>
                                    <ul id="raty_score_1" class="health_value left col-xs-6">
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li><a id="reports" class="reports" style="display: inline;" ng-click="openModal()" ng-if="permission.write"></a></li>
                                    </ul>
                                </div>
                                <div class="health_title col-xs-12">
                                    <div class="left col-xs-6 top_distance">Online  APs</div>
                                    <ul id="raty_score_2" class="health_value left col-xs-6">
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                    </ul>
                                </div>
                                <div class="health_title col-xs-12">
                                    <div class="left col-xs-6 top_distance">Client rate</div>
                                    <ul id="raty_score_3" class="health_value left col-xs-6">
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                    </ul>
                                </div>
                                <div class="health_title col-xs-12">
                                    <div class="left col-xs-6 top_distance">Security</div>
                                    <ul id="raty_score_4" class="health_value left col-xs-6">
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                    </ul>
                                </div>
                                <div class="health_title col-xs-12">
                                    <div class="left col-xs-6 top_distance">Wireless</div>
                                    <ul id="raty_score_5" class="health_value left col-xs-6">
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                    </ul>
                                </div>
                                <div class="health_title col-xs-12">
                                    <div class="left col-xs-6 top_distance">System</div>
                                    <ul id="raty_score_6" class="health_value left col-xs-6">
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                        <li class="emptyStar"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <palmap-iframe nasid="sceneInfo.nasid"></palmap-iframe>
    <div class="page-row">
        <div class="col-xs-6 app-colum left-block">
            <div class="app-box no-bk-color" style="height:300px;">
                <div class="box-footer ">
                    <div class="col-xs-12">
                        <span class="title">Wireless Services</span>
                    </div>
                </div>
                <div class="box-body no-height" style="padding:0 20px;">
                    <div bs-table="wireless_service"></div>
                </div>
            </div>

        </div>
        <div class="col-xs-6 app-colum left-block">
            <div class="app-box no-bk-color" style="height:300px;">
                <div class="box-footer" id="vlans_page" style="background: initial;">
                    <div class="col-xs-3">
                        <span class="title">Clients</span>
                    </div>
                    <div class="text-right link-container">
                        <a type="button" class="refresh" id="refresh_ssid" ng-click="clientCount()">
                            <i class="refresh-icon icon"></i>
                        </a>
                    </div>
                </div>
                <div class="dashboard-client-header" debug="getClient">
                    <div class="dashboard-client-block">
                        <span class="client-title dashboard-body-font">Associated clients&nbsp;</span>
                        <span id="Current" class="client-count dashboard-body-num">0</span>
                        <span class="client-title dashboard-body-font">&nbsp;Authenticated clients&nbsp;</span>
                        <span id="portalusercount" class="client-count dashboard-body-num">0</span>
                    </div>
                </div>
                <div class="row-nohover sysinfo-body" style="height:200px;" >
                    <div id="client_count" class="myEchart col-xs-12" style="height:200px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard container-fluid">
    <div class="page-row">
        <div class="col-xs-12 app-colum left-block">
            <div class="app-box no-bk-color">
                <div class="col-xs-12">
                    <div class="box-footer">
                        <span class="title">Traffic Monitoring</span>
                        <div class="text-right link-container">
                            <label for="branchSelect"><span style="font-weight:600;font-size:14px;">Interface</span></label>
                            <select class="singleSelect" id="branchSelect" name="branchSelect"
                                    style="margin-top:0px;margin-left:10px;vertical-align:middle;line-height:30px;height:30px;width:150px;"
                                    ng-options="item as item.name for item in list" ng-model="selectValue" ></select>
                        </div>
                    </div>
                    <div class="sysinfo-body col-sm-12">
                        <div id="usage" name="usage" class="myEchart dashboard-usage" debug="getUsage" style="height:210px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bs-modal="systemInfo.options">
    <form class="form edit" id="system_form" style="overflow:hidden;">
        <div class="row-clear padding0" debug="getGaugeCpu">
            <div class="col-xs-6 file-container">
                <div id="flash" class="col-xs-6">
                    <div id="gauge_cpu" class="myEchart" style="width:250px;height:250px;"></div>
                </div>
                <div id="cfcardA" class="col-xs-6">
                    <div id="gauge_mem" class="myEchart" style="width:250px;height:250px;"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="app-content"  style="color:#80878c;margin-top:40px;" id="version_block">
                    <div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>Device model:</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devMode" ng-bind="devMode"></span>
                            </div>
                        </div>
                    </div>
                    <div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>Serial number:</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="SerialNumber" ng-bind="sceneInfo.sn"></span>
                            </div>
                        </div>
                    </div>
                    <div class="page-row even">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>Baseline version:</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devSoftVersion" ng-bind="devSoftVersion"></span>
                            </div>
                        </div>
                    </div>
                    <div class="page-row even">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>Software version:</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devHardVersion" ng-bind="devHardVersion"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label">Boot ROM version:</span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devBootWare" ng-bind="devBootWare"></span>
                            </div>
                        </div>
                    </div>-->
                    <div class="page-row odd">
                        <div class="utilization-height">
                            <div class="col-xs-5">
                                <span class="form-label"><strong>Connection status:</strong></span>
                            </div>
                            <div class="col-xs-7 text-left">
                                <span id="devv3CloudConnectionState" ng-bind="connectStatus"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<form class="form edit addInternet" name="AddInternetForm" bs-modal="bandWidthOption.options">
    <div class="form-group">
        <label class="col-sm-4 control-label required">Uplink bandwidth</label>
        <div class="col-sm-8">
            <input type="text"  class="string big"  ng-model="bandWidth.upband" name ="upband" required ng-maxlength="3" onKeyUp="this.value=this.value.replace(/\D/g,'')"/>
            <label class="info-explain">Mbps</label>
            <div ng-show="AddInternetForm.upband.$dirty" ng-messages="AddInternetForm.upband.$error" style="display: inline-block;">
                <label ng-message="required" class="error" style="display: inline-block;">This information is required.</label>
                <label ng-message="maxlength" class="error" style="display: inline-block;">A maximum of 3 characters</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label required">Downlink bandwidth</label>
        <div class="col-sm-8">
            <input type="text" class="string big"  ng-model="bandWidth.downband"  name ="downband"
                   required ng-maxlength="3" onKeyUp="this.value=this.value.replace(/\D/g,'')" ng-pattern="/^[1-9]\d*$/"/>
            <label class="info-explain">Mbps</label>
            <div ng-show="AddInternetForm.downband.$dirty" ng-messages="AddInternetForm.downband.$error" style="display: inline-block;">
                <label ng-message="required" class="error" style="display: inline-block;">This information is required.</label>
                <label ng-message="maxlength" class="error" style="display: inline-block;">A maximum of 3 characters</label>
                <label ng-message="pattern" class="error" style="display: inline-block;">The downlink bandwidth can't be zero.</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <p style="color:#df443e;margin-top:6px; font-size:16px;">Please first select the interface to be monitored.</p>
        </div>
    </div>
</form>
<div  id="dashboard_rc"
      AP_STATUS="Online,Offline"
      STATUS = "Enabled,Disabled"
      ssidName="SSID"
      WL_SERVICE_NAME="Wireless Service"
      WL_SERVICE_STATUS="Status"
      cpu="CPU"
      memory="Memory"

      no_choose_port="None"
      ZONGLIANG="Total"
      total_flow_up_down="Total upstream,Total downstream"
      LIULIANG="Traffic"
      STREAM="upstream,downstream"

      Connect_Sta="Connected,Disconnected"
      Connect_Stav3="Connected,Disconnected"
      TIP1="% Oasis user,Frustrating... ..."
      TIP2 = "% Oasis users,The device needs a health examination~~"
      TIP3 = "% Oasis users,Keep going~"
      TIP4 = "% Oasis users,Good job~"
      TIP5 = "% Oasis users,Excellent！"
      FORM_TITLE="System Information"
      ADD_TITLE = "Set Internet Bandwidth"
      CLOSE="Close"
      CANCEL="Cancel"
      SETBAND_SUC='Bandwidth set successfully'
      SETBAND_FAIL='Failed to set bandwidth'>
</div>