/**
 * Created by liuyanping on 2016/11/17
 */
/*ztree*/
.ztree li span.button.roots_open,
.ztree li span.button.center_open,
.ztree li span.button.bottom_open {
  background: url("../img/1_open.png") no-repeat;
}
.ztree li span.button.roots_close,
.ztree li span.button.center_close,
.ztree li span.button.bottom_close {
  background: url("../img/1_close.png") no-repeat;
}
.tree3 .ztree li a:hover {
  text-decoration: none;
}
.ztree li span.button.ico_open {
  display: none;
}
.ztree li span.button.ico_close {
  display: none;
  /*background: url("../img/1_close.png") no-repeat !important;*/
}
.ztree li span.button.ico_docu {
  margin-top: 4px;
  background: url("../img/doc.png") no-repeat;
}
.ztree li span.button.add {
  background: url("../../home/img/add.png") no-repeat;
}
.ztree li span.button.edit {
  margin-left: 4px;
  background: url("../../home/img/edit.png") no-repeat;
}
.ztree li span.button.remove {
  margin-top: 4px;
  margin-left: 2px;
  background: url("../../home/img/remove.png") no-repeat;
}
.demo_network {
  padding: 30px;
  position: relative;
}
.demo_network .tab-content {
  border: 1px solid #ddd;
  border-top: none;
  background-color: #ffffff;
}
.demo_network .nav > li > a {
  border: 1px solid #dddddd;
  text-decoration: none;
  border-bottom: none;
  margin-right: 8px;
}
