<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">地图管理</h3>
        </div>
        <div class="panel-body">
            <div class="mb15">
                <input type="radio" name="map" id="original" value="original" ui-sref="global.application.mapmanage_original">
                <label for="original" class="mr25">原图</label>
                <input type="radio" name="map" id="bitmap" value="bitmap" ui-sref="global.application.mapmanage_bitmap">
                <label for="bitmap" class="mr25">位图</label>
                <input type="radio" name="map" id="vectorgram" value="vectorgram" checked>
                <label for="vectorgram">矢量图</label>
            </div>
            <div bs-table="option"></div>
        </div>
    </div>
    <div id="vectorgramListRc"
         vectorgram-table-header="名称,描述,应用场所,地址,剩余天数,到期时间">
    </div>
</div>