<div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">子账户授权</h3></div>
        <div class="panel-body">
            <form class="form-horizontal" name="authorizationForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label">子账户名 <span style="color: red;">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="authorization.name" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region" class="col-sm-2 control-label">区域 <span style="color: red;">*</span></label>
                    <div class="col-sm-3">
                        <select id="region" name="region" class="form-control" ng-model="authorization.region" ng-options="region as region.name for region in regionList" required>
                            <option value="" selected disabled>请选择区域</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <button class="btn btn-cus" ng-disabled="authorizationForm.$invalid||authorizationForm.region.$pristine" ng-click="formSubmit()">确定
                        </button>
                        <button class="btn btn-cus" ui-sref="global.content.user.account_list({name:parentName,id:parentId,number:number})">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="read_rc" id="account_authorization_rc"
     first-get="请求失败，请刷新重试"
     fail-message="操作失败"
     ok="确定"
     >
</div>