<div class="container-fluid">
    <div class="btn_h_return" ng-click="return()"></div>
    <div class="col-xs-12 app-colum" debug="getPlaceInfo gethistClients">
        <div class="app-box no-height">
            <div class="box-footer">
                <span class="title">History Details</span>
            </div>
            <div class="box-body no-height">
                <div bs-Table="options"></div>
            </div>
        </div>
    </div>

    <div id="user_rc" class="rc-define"
        Visitor_LIST_HEADER = "MAC Address,IP Address,Associated At,Online Duration">
    </div>
</div>